@import url("https://rawgit.com/USGS-WiM/marker-creator/master/stylesheets/css/markers.css");
@import "../app.variables.scss";

mat-expansion-panel {
    border: 1px solid rgba(210, 210, 220, 1);
}

table {
    border-radius: 5px;
    color: rgba(40, 40, 60, 1);
}

table,
th,
td {
    border: 1px solid rgba(210, 210, 220, 1);
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    font-size: 12px;
}

td {
    line-height: 13px;
}

th {
    text-align: left;
    background-color: rgba(247, 247, 255, 1);
}

.event-header {
    font-size: large;
}

.text-larger {
    font-size: larger;
}

.text-smaller {
    font-size: smaller;
    font-size: 16px;
    font-weight: 600;
    color: rgba(40, 40, 60, 0.5);
}

.event-detail-label {
    font-size: 22px;
    padding-left: 0;
    padding-right: 0;
    margin: 20px 0 0 0;
    color: $red;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.privileged-permissions {
    display: block;

    .title {
        display: block;
        padding: 5px 0 10px 0;
        font-size: 14px;
        color: $text;

        b {
            font-weight: bolder;
        }
    }

    small {
        display: block;
        padding: 8px 0 2px 0;
        font-size: 12px;
        font-style: italic;
        color: $text-light;
        font-weight: 400;
    }

    .permissions {
        display: block;
        padding: 0px 0 25px 0;

        .permission {
            color: $text;
            font-style: italic;
            box-sizing: border-box;
            font-weight: 900;
            font-size: 16px;
            border-radius: 6px;
            margin-right: 20px;
            display: inline-block;
            letter-spacing: -0.2px;

            &.red {
                color: $red;
            }
        }
    }
}

.event-header td {
    text-align: left;
}

.event-details td {
    text-align: left;
}

tr.noBorder td {
    border: 0;
}

.text-bold {
    font-weight: bold;
}

.limit-width {
    width: 3em;
}

#privileged-event-data {
    padding-top: 1em;
}

.event-detail-action-bar {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 25px 0;

    button {
        margin: 0 10px 0 0;
    }
}

.event-detail-action-bar-left {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.event-detail-action-button {
    margin: 5px;
}

::ng-deep .mapDiv>.mat-card {
    padding: 0px 0px 0px 0px;
}


// Details div 
.detailsDiv {
    .details-info {
        display: block;
        padding: 15px 0;

        .title {
            font-size: 26px;
            font-weight: 600;
            color: rgba(40, 40, 60, 1);
        }

        .subtitle {
            font-size: 18px;
            font-weight: 500;
            color: rgba(40, 40, 60, 1);
        }

        .meta {
            font-size: 14px;
            font-weight: 600;
            color: rgba(40, 40, 60, 0.5);
        }
    }
}

#eventDetailsMap {
    text-align: center;
}

.unmappable-warning {
    z-index: 1000;
    position: absolute; //height: 10px;
    //width: 200px;
    margin: auto;
    right: 10px;
    font-weight: 600;
    font-size: 12px;
    bottom: 65px;

    @media (max-width: 1500px) {
        right: auto;
        left: 18px;
        bottom: 10px;
        max-width: 180px;
        text-align: left;
        font-size: 11px;
        font-weight: 600;
    }
}

.legend {
    position: absolute;
    padding: 4px; // bottom: 60px !important;
    top: 10px; //left: 15px;
    right: 10px;
    width: 200px;
    /*height:320px;*/
    z-index: 1000;
    color: black;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.87;

    @media (max-width: 1500px) {
        max-height: 30vh;
    }
}

.legend-label {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    display: block;
    margin: 5px 0 1px 0;
    padding-top: 0;
}

.legend-hint {
    display: block;
    font-size: 11px;
    font-style: italic;
    opacity: 0.5;
    font-weight: 500;
    margin: 1px 0 6px 0;
    line-height: 10px;
}

.legendIcon {
    display: inline-block;
}

.legend .mat-expanded {
   overflow-y: auto;
}

.legend-label {
    padding-top: 1em;
}

#iconHolder {
    margin-left: 15px;
    padding-top: 2px;
}

#iconHolder .wmm-circle,
#iconHolder .wmm-size-25 {
    z-index: 0 !important;
    margin-top: -4px;
}

#iconHolder-inline {}

// I don't see these used anywhere
.flyway-blue:after {
    background-color: rgba(0, 0, 255, 0.3);
    border: 3px solid blue;
}

.flyway-yellow:after {
    background-color: rgba(255, 255, 0, 0.3);
    border: 3px solid yellow;
}

.flyway-green:after {
    background-color: rgba(0, 255, 0, 0.3);
    border: 3px solid green;
}

.flyway-red:after {
    background-color: rgba(255, 238, 0, 0.3);
    border: 3px solid red;
}

// styles for flyways
.wmm-28995b:after{border-color:#28995b;background-color: #C6DDD0}.wmm-square.wmm-28995b{border-bottom-color: rgba(0, 0, 0, 0.5);}.wmm-square.wmm-28995b:after{color: #28995b;}
.wmm-ffbd4f:after{border-color:#ffbd4f;background-color: #F1E4CE}.wmm-square.wmm-ffbd4f{border-bottom-color: rgba(0, 0, 0, 0.5);}.wmm-square.wmm-ffbd4f:after{color: #ffbd4f;}
.wmm-eb5834:after{border-color:#eb5834;background-color: #EDD0C8}.wmm-square.wmm-eb5834{border-bottom-color: rgba(0, 0, 0, 0.5);}.wmm-square.wmm-eb5834:after{color: #eb5834;}
.wmm-b43cc7:after{border-color:#b43cc7;background-color: #E2CAE6}.wmm-square.wmm-b43cc7{border-bottom-color: rgba(0, 0, 0, 0.5);}.wmm-square.wmm-b43cc7:after{color: #b43cc7;}

.wmm-00f:after{border-color:#00f;background-color: #9ca8ba}.wmm-square.wmm-00f{border-bottom-color: rgba(0, 0, 0, 0.5);}.wmm-square.wmm-00f:after{color: #00f;}

.huc-icon:after {
    border: 3px solid #b57dcf;
}

.event-location-card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.horizontal-form-container {
    display: flex;
    flex-direction: row;
}

.vertical-form-container {
    display: flex;
    flex-direction: column;
}

.contacts-section-header {
    display: flex;
    flex-direction: row;
    margin-right: 10em;
}

.form-control {
    width: 18em;
    margin: 10px;
}

.comment-text-area {
    width: 60em;
    margin-bottom: 2em;
}

.general-comment-text-area {
    width: 40em;
    margin-bottom: 2em;
}

.hint {
    max-width: 90%;
}

.species-number-control {
    width: 8em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    flex-grow: 1;
}

.species-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 1em;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 100%;
    display: inline-block;
}

.species-control-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-select {
    width: 40em;
    flex-grow: 2;
}

.contact-type-select {
    flex-grow: 1;
    max-width: 100px;
}

.contact-button-div {
    flex-grow: 1;
}

.alert-text {
    vertical-align: middle;
}

.text-italic {
    font-style: italic;
}

.mat-table {
    .mat-header-row {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .mat-header-cell {
            box-sizing: border-box;
            padding: 3px;

            &:first-child {
                padding-left: 15px;
            }

            &:last-child {
                padding-right: 15px;
            }
        }
    }

    .mat-row {
        .mat-cell {
            font-size: 12px;
            box-sizing: border-box;
            padding: 3px;

            &:first-child {
                padding-left: 15px;
            }

            &:last-child {
                padding-right: 15px;
            }

            ul {
                padding-left: 15px;

                li {
                    line-height: 12px;
                    padding: 3px 0;
                    word-break: break-word;
                }
            }
        }
    }
}

.mat-expansion-panel .mat-expansion-panel-header {
    border-left: 4px solid transparent;
    transition: 0.12s;
}

.mat-expansion-panel .mat-expansion-panel-header:hover {
    transition: 0.12s;
    text-decoration: none !important;
    border-left: 4px solid $blue;
}

.mat-expansion-panel .mat-expansion-panel-header:not([aria-disabled=true]) {
    border-bottom: none !important;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}

//   Fix unmappable warning
.unmappable-warning {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 13px;
    color: $text;
    z-index: 1001;

    .mat-icon {
        position: absolute;
        top: -8px;
        left: -15px;
        color: $red;
    }
}

// Event details layout
// Event details layout
// Event details layout
#eventDetailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;

    @media (max-width: 1500px) {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .detailsDiv {
        width: 100%;
        max-width: 1500px;
        background-color: white;

        @media (max-width: 1500px) {
            width: 100%;
            max-width: none;
        }
    }

    .mapDiv {
        width: 100%;
        height: 100vh;
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        top: 0;
        border-left: 1.5px solid fade-out($text, 0.3);
        max-width: 600px;

        #eventDetailsMap {
            width: 100%;
            height: 100vh;
        }

        // Height where map moves to top instead of side
        // Height where map moves to top instead of side
        // Height where map moves to top instead of side
        @media (max-width: 1500px) {
            max-width: 100vw;
            width: 100%;
            height: 340px;
            position: static;
            border-bottom: 2px solid #10152C;
            border-left: none;

            #eventDetailsMap {
                height: 340px;
            }
        }
    }

    // Container for max with on certain elements
    // Container for max with on certain elements
    // Container for max with on certain elements
    .event-detail-wrapper {
        display: block;
        width: 94%;
        max-width: 1100px;
        margin: 0 auto;
    }

    // Auto width wrapper to center content of any size.
    // Auto width wrapper to center content of any size.
    // Auto width wrapper to center content of any size.
    .auto-width-center {
        width: auto;
        max-width: 96%;
        margin: 0 auto;
    }
}

.event-page-group {
    padding: 0 0 35px 0;

    &.split {
        display: flex;
        justify-content: space-between;
    }

    .event-page-split-half {
        box-sizing: border-box;

        table {
            td {
                text-align: left;
            }
        }
    }

    .event-page-split-half:nth-child(1) {
        padding-right: 17px;
    }

    .event-page-split-half:nth-child(2) {
        padding-left: 17px;
    }
}

.event-table-header {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: $text;
    padding-bottom: 6px;
}

@media screen and (max-width:875px) {
    #eventDetailsContainer {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .mapDiv,
    .detailsDiv {
        min-width: 100%;
        max-width: 100%;
        overflow: auto;
    }
}

.privileged-meta {
    display: flex;
    flex-wrap: wrap;

    .item {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        .label,
        .value {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 2px 25px 2px 0;
        }

        .label {
            justify-content: center;
            font-weight: 400;
            color: $text-light;
            font-size: 12px;
            border-bottom: none;
            text-decoration: underline;
        }

        .value {
            justify-content: flex-start;
            color: $text;
            font-size: 16px;
            font-weight: 700;
        }
    }
}

// Message when no data in section
.event-group-no-data {
    display: block;
    box-sizing: border-box;
    padding: 25px 15px 45px 15px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.34);
}

// Event page location details
#locationDetails {
    .mat-expansion-panel-header {
        border-bottom: 1px solid #D2D2DC !important;
    }

    .mat-expansion-panel {
        border-radius: 4px;
    }

    .event-detail-action-bar-left {
        margin-bottom: 15px;
    }

    .mat-table {

        .mat-header-cell,
        mat-header-cell {
            font-size: 11px !important;
            line-height: 11.5px !important;
            padding: 4px !important;
        }

        .mat-header-cell:first-child {
            padding-left: 6px !important;
        }

        .mat-row,
        mat-row {

            .mat-cell,
            mat-cell {
                font-size: 11px !important;
                line-height: 11.5px !important;
                padding: 4px !important;

                &:first-child {
                    padding-left: 6px !important;
                }
            }
        }
    }
}

// Event Location Details
// Event Location Details
// Event Location Details
.event-location-detail-wrapper {
    margin: 6px 0 10px 0;
    border-radius: 0 !important;

    .mat-expansion-panel-header {
        border-bottom: none;
    }
}

.request-divider {
    padding-top: 3px;
    padding-bottom: 3px;
}

// Comments
// Comments
// Comments
.eventDetailCommentsList {
    list-style-type: none;
    margin: 0 auto 25px auto;
    padding: 0;

    li {
        display: block;
        margin-bottom: 30px;

        .comment-meta {
            display: flex;

            .date,
            .response,
            .type {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: rgba(0, 0, 0, 0.54);
                margin-right: 15px;
                font-weight: 700;
                font-size: 12px;

                b {
                    background-color: #EEF1FB;
                    display: inline-block;
                    padding: 2px 8px;
                    border-radius: 10px;
                }
            }

            .identifier {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: rgba(0, 0, 0, 0.75);
                margin-right: 15px;
                font-weight: 900;
                font-size: 12px;

                b {
                    background-color: #EEF1FB;
                    display: inline-block;
                    padding: 2px 8px;
                    border-radius: 10px;
                }
            }

            button {
                color: #EA3B47;
                transition: 0.12s;
                background-color: transparent;
                opacity: 0.75;

                &:hover {
                    cursor: pointer;
                    background-color: transparent;
                    text-decoration: underline;
                    color: #EA3B47;
                    opacity: 1;
                    transition: 0.12s;
                }
            }
        }

        .comment-text {
            font-weight: 400;
            font-size: 14px;
            display: block;
            max-width: 720px;
            line-height: 26px;
            color: #313B57;
            padding-left: 4px;
            box-sizing: border-box;
            padding-top: 15px;

            .comment-response {
                display: block;
                box-sizing: border-box;
                padding: 22px 15px 0 30px;

                .date {
                    display: block;
                    font-size: 12px;
                    color: #313B57;
                    opacity: 0.5;
                    line-height: 6px;
                }

                .response-text {
                    color: #313B57;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    font-weight: 500;
                    max-width: 650px;
                }
            }
        }
    }

    // Has sub comments (on location section)
    // Has sub comments (on location section)
    &.has-sub-comments {
        margin-bottom: 0;

        li {
            margin-bottom: 0;
        }
    }
}

// Prev and next buttons
// Prev and next buttons
// Prev and next buttons
.detail-section-buttons {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        position: relative;
        top: -2px;

        &:hover {
            cursor: pointer;
        }
    }
}

// New Comment Response
// New Comment Response
.new-response-comment {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 6px;
}

.comment-type-title {
    font-weight: bold !important;
    font-size: large !important;
}

.comment-date {
    color: rgba(0, 0, 0, 0.54)
}

.single-comment-div {
    margin: 2px;
}

.mat-cell {
    line-height: 12px !important;

    span {
        line-height: 12px !important;
    }
}

.mat-cell * {
    line-height: 12px !important;
}

.public {
    display: block;
    padding: 0px 0 25px 0;
    font-size: larger;
    font-weight: bold;

    .public-status {
        color: $text;
        box-sizing: border-box;
        font-weight: 900;
        font-size: 16px;
        border-radius: 6px;
        margin-right: 20px;
        display: inline-block;
        letter-spacing: -0.2px;
        font-size: larger;

        &.red {
            color: $red;
        }

        &.green {
            color: $green;
        }
    }
}

/* Styles for tab labels */
.mat-tab-label {
    background-color: lightgrey;
    // font-weight: 700;
}

.tab-bar {
    // background-color:#9fa8da
    background-color: lightgrey
}