<div class="page-loader" *ngIf="eventDataLoading">
  <mat-spinner></mat-spinner>
</div>
<div id="eventDetailsContainer" *ngIf="!eventDataLoading">

  <div class="detailsDiv">
    <mat-card>
      <div class="event-detail-action-bar">
        <button mat-raised-button color="primary" class="event-detail-action-button">
          <i class="material-icons">share</i> Share</button>
        <button mat-raised-button color="primary" class="event-detail-action-button">
          <i class="material-icons">print</i> Print Event Details</button>
        <button mat-raised-button color="primary" class="event-detail-action-button" (click)="exportEventDetails()">
          <i class="material-icons">unarchive</i> Export Event Data</button>
      </div>
      <mat-card-title class="details-info">
        <div class="title">Event {{eventData.id}}</div>
        <div class="subtitle">{{eventData.event_type_string}}</div>
        <div class="meta">
          <span>{{eventData.start_date | date:'mediumDate'}}</span>
          <span> thru </span>
          <span>{{eventData.end_date | date:'mediumDate'}}</span>
        </div>

      </mat-card-title>
      <!-- <mat-card-subtitle>{{eventData.event_type_string}}</mat-card-subtitle> -->
      <mat-card-content *ngIf="!eventDataLoading">
        <div id="public-event-data">
          <p>
            <div class="event-header">

              <table>
                <tr>
                  <th>Affected</th>
                  <td>{{eventData.affected_count}}</td>
                </tr>
                <tr>
                  <th [attr.rowspan]="eventData.event_diagnoses.length + 1 ">Diagnosis</th>
                  <!-- <td *ngFor="let diagnosis of eventData.event_diagnosis">{{diagnosis.diagnosis_string}}</td> -->
                </tr>
                <tr *ngFor="let diagnosis of eventData.event_diagnoses" class="noBorder">
                  <td>{{diagnosis.diagnosis_string}}</td>
                </tr>
                <tr>
                  <th [attr.rowspan]="eventData.event_locations.length + 1 ">Locations</th>
                </tr>
                <tr *ngFor="let eventLocation of eventData.event_locations">
                  <td>{{eventLocation.administrative_level_two_string}}, {{eventLocation.administrative_level_one_string}}
                    <br>{{eventLocation.country_string}}</td>
                </tr>
              </table>
            </div>
            <br>
            <div class="event-details">
              <p>
                <!-- <label for="speciesList" class="event-detail-label">Species Affected</label> -->
                <table id="speciesList">
                  <tr>
                    <th>Species</th>
                    <th>Location</th>
                    <th>Population</th>
                    <th>Sick</th>
                    <th>Dead</th>
                    <th class="limit-width">Sick Estimate </th>
                    <th class="limit-width">Dead Estimate</th>
                    <th>Diagnosis</th>
                  </tr>

                  <tr *ngFor="let loc_species of eventLocationSpecies">
                    <td>{{loc_species.species_string}}</td>
                    <td>
                      <span>{{loc_species.administrative_level_two_string}}, {{loc_species.administrative_level_one_string}}</span>
                      <br>
                      <span>{{loc_species.country_string}}</span>
                    </td>
                    <td>{{loc_species.population_count}}</td>
                    <td>{{loc_species.sick_count}}</td>
                    <td>{{loc_species.dead_count}}</td>
                    <td>{{loc_species.sick_count_estimated}}</td>
                    <td>{{loc_species.dead_count_estimated}}</td>
                    <td>
                      <span *ngIf="loc_species.species_diagnosis.length > 0">
                        <span *ngFor="let species_diagnosis of loc_species.species_diagnosis">
                          <span class="text-bold" *ngIf="species_diagnosis">{{species_diagnosis.diagnosis_string}}</span>
                          <br>
                          <span *ngIf="species_diagnosis.causal">(Causal)</span>
                          <br>
                          <span>{{species_diagnosis.tested_count}} specimens tested |</span>
                          <span>{{species_diagnosis.positive_count}} positive</span>
                          <br>
                          <span *ngIf="species_diagnosis.organizations_string"> by {{species_diagnosis.organizations_string[0]}}</span>
                        </span>
                      </span>
                      <span *ngIf="loc_species.species_diagnosis.length === 0">To Be Determined</span>
                    </td>
                  </tr>
                </table>
                <div>

                </div>
            </div>
        </div>
        <p>

          <div id="privileged-event-data" class="privileged-event-data" *ngIf="currentUser.role != 7 && currentUser.role != undefined">


            <mat-divider [inset]="true"></mat-divider>
            <br>
            <div class="event-detail-action-bar">
              <button mat-raised-button color="primary" class="event-detail-action-button" (click)="editEvent(id)">
                <i class="material-icons">edit</i> Edit Event</button>
              <button mat-raised-button color="primary" class="event-detail-action-button" (click)="addEventDiagnosis(id)">
                <i class="material-icons">add</i> Add Event Diagnosis</button>
            </div>
            <label class="event-detail-label">Privileged Event Data</label>
            <p>
              <!-- <span class="text-larger">You have
                <span>edit</span> privileges for this event</span> -->
              <table>
                <tr>
                  <th>Event Owner</th>
                  <td>no data from service yet</td>
                  <!--<td>no data yet{{eventData.event_organization[0].private_name}}</td>-->
                </tr>
                <tr>
                  <th>Event Reference</th>
                  <td>{{eventData.event_reference}}</td>
                </tr>
                <tr>
                  <th>Event Status</th>
                  <td>{{eventData.event_status_string}}</td>
                </tr>
                <tr>
                  <th>Complete</th>
                  <td>{{eventData.complete}}</td>
                </tr>
                <tr>
                  <th>Legal Status</th>
                  <td>{{eventData.legal_status_string}}</td>
                </tr>
                <tr>
                  <th>Legal Number</th>
                  <td>{{eventData.legal_number}}</td>
                </tr>
                <tr>
                  <th>Superevent</th>
                  <td></td>
                </tr>

              </table>

              <p>
                <mat-card-subtitle>Event Location Details</mat-card-subtitle>

                <mat-expansion-panel *ngFor="let eventLocation of eventData.event_locations; let i = index" [attr.data-index]="i" (change)="panelDataChange()">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{determineLocationName(eventLocation.name,i+1)}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  Onset date: {{eventLocation.start_date | date:'mediumDate'}}
                  <br/> End date: {{eventLocation.end_date | date:'mediumDate'}}
                  <br/> Location: {{eventLocation.administrative_level_two_string}}, {{eventLocation.administrative_level_one_string}},
                  {{eventLocation.country_string}}
                  <br/> Land ownership: {{eventLocation.land_ownership | displayValue:'name':this.landownerships }}
                  <br/>
                  <p>
                    <div *ngIf="eventLocation.comments && eventLocation.comments.length > 0">
                      <label *ngIf="eventLocation.comments" class="event-detail-label">Comments</label>
                      <br/>

                      <span *ngFor="let comment of eventLocation.comments">
                        <b>{{getCommentType(comment.comment_type)}}:</b> {{comment.comment}}
                        <br/>
                      </span>
                    </div>
                    <p>
                      <div *ngIf="eventLocation.location_species.length > 0">

                        <label *ngIf="eventLocation.location_species" class="event-detail-label">Species</label>
                        <br/>

                        <div class="event-detail-action-bar-left">
                          <button mat-raised-button color="primary" class="event-detail-action-button" (click)="editSpecies(id, i)">
                            <i class="material-icons">edit</i> Edit Species</button>
                          <button mat-raised-button color="primary" class="event-detail-action-button" (click)="addSpeciesDiagnosis(id, i)">
                            <i class="material-icons">add</i> Add Species Diagnosis</button>
                          <button mat-raised-button color="primary" class="event-detail-action-button" (click)="editSpeciesDiagnosis(id, i)">
                            <i class="material-icons">edit</i> Edit Species Diagnosis</button>
                        </div>

                        <div class="results-table-div">

                          <mat-table [dataSource]="eventLocation.location_species" matSort matSortActive="species" matSortDirection="asc">

                            <div>
                              <!-- Selection column -->
                              <ng-container matColumnDef="select">
                                <mat-header-cell *matHeaderCellDef>
                                  <mat-checkbox (change)="$event ? masterToggle(i) : null" [checked]="selection[i].hasValue() && isAllSelected(i)" [indeterminate]="selection[i].hasValue() && !isAllSelected(i)">
                                  </mat-checkbox>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection[i].toggle(row) : null" [checked]="selection[i].isSelected(row)">
                                  </mat-checkbox>
                                </mat-cell>
                              </ng-container>

                              <!-- Species Column -->
                              <ng-container matColumnDef="species">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Species </mat-header-cell>
                                <mat-cell *matCellDef="let loc_species"> {{loc_species.species_string}} </mat-cell>
                              </ng-container>

                              <!-- Location Column -->
                              <ng-container matColumnDef="location">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
                                <mat-cell *matCellDef="let loc_species">
                                  <span>{{loc_species.administrative_level_two_string}}, {{loc_species.administrative_level_one_string}}</span>
                                  <br>
                                  <span>{{loc_species.country_string}}</span>
                                </mat-cell>
                              </ng-container>

                              <!-- Population Column -->
                              <ng-container matColumnDef="population">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Population </mat-header-cell>
                                <mat-cell *matCellDef="let loc_species"> {{loc_species.population_count}} </mat-cell>
                              </ng-container>

                              <!-- Sick Count Column -->
                              <ng-container matColumnDef="sick">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Sick </mat-header-cell>
                                <mat-cell *matCellDef="let loc_species"> {{loc_species.sick_count}} </mat-cell>
                              </ng-container>

                              <!-- Dead Count Column -->
                              <ng-container matColumnDef="dead">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Dead </mat-header-cell>
                                <mat-cell *matCellDef="let loc_species"> {{loc_species.dead_count}} </mat-cell>
                              </ng-container>

                              <!-- Sick Count Estimated Column -->
                              <ng-container matColumnDef="sick_estimated">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Sick Estimate </mat-header-cell>
                                <mat-cell *matCellDef="let loc_species"> {{loc_species.sick_count_estimated}} </mat-cell>
                              </ng-container>

                              <!-- Dead Count Estimated Column -->
                              <ng-container matColumnDef="dead_estimated">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Dead Estimate </mat-header-cell>
                                <mat-cell *matCellDef="let loc_species"> {{loc_species.dead_count_estimated}} </mat-cell>
                              </ng-container>

                              <!-- Diagnosis Column -->
                              <ng-container matColumnDef="diagnosis">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Diagnosis </mat-header-cell>
                                <mat-cell *matCellDef="let loc_species">
                                  <span *ngIf="loc_species.species_diagnosis[0]">{{loc_species.species_diagnosis[0].diagnosis_string}}</span>
                                </mat-cell>
                              </ng-container>
                            </div>

                            <mat-header-row *matHeaderRowDef="locationSpeciesDisplayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let loc_species; columns: locationSpeciesDisplayedColumns;"></mat-row>
                          </mat-table>

                          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
                        </div>
                      </div>
                </mat-expansion-panel>

                <p>
                  <!--<mat-card-subtitle>Affected Species Summary</mat-card-subtitle>
                
                <table id="speciesList">
                  <tr>
                    <th>Species</th>
                    <th>Location</th>
                    <th>Population</th>
                    <th>Sick</th>
                    <th>Dead</th>
                    <th class="limit-width">Sick Estimate </th>
                    <th class="limit-width">Dead Estimate</th>
                    <th>Diagnosis</th>
                    <th>Diagnosis Basis</th>
                  </tr>

                  <tr *ngFor="let loc_species of eventLocationSpecies">
                    <td>{{loc_species.species_string}}</td>
                    <td>
                      <span>{{loc_species.administrative_level_two_string}}, {{loc_species.administrative_level_one_string}}</span>
                      <br>
                      <span>{{loc_species.country_string}}</span>
                    </td>
                    <td>{{loc_species.population_count}}</td>
                    <td>{{loc_species.sick_count}}</td>
                    <td>{{loc_species.dead_count}}</td>
                    <td>{{sick_count_estimated}}</td>
                    <td>{{dead_count_estimated}}</td>
                    <td>
                      <span *ngIf="loc_species.species_diagnosis.length > 0">
                        <span *ngFor="let species_diagnosis of loc_species.species_diagnosis">
                          <span class="text-bold">{{species_diagnosis.diagnosis.name}}</span>
                          <span *ngIf="species_diagnosis.causal">(Causal)</span>
                          <br>
                          <span class="text-smaller">{{species_diagnosis.tested_count}} specimens tested |</span>
                          <span class="text-smaller">{{species_diagnosis.positive_count}} positive</span>
                          <br>
                          <span class="text-smaller"> by {{species_diagnosis.diagnosis_organization[0].name}}</span>
                        </span>
                      </span>
                      <span *ngIf="loc_species.species_diagnosis.length === 0">To Be Determined</span>
                    </td>

                    <td>
                      <span *ngIf="loc_species.species_diagnosis.length > 0">
                        <span *ngFor="let species_diagnosis of loc_species.species_diagnosis">

                          <span *ngIf="species_diagnosis.basis_of_dx">{{species_diagnosis.basis_of_dx}}</span>


                        </span>
                      </span>
                      <span *ngIf="loc_species.species_diagnosis.length === 0">To Be Determined</span>
                    </td>

                  </tr>
                </table>-->

          </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="mapDiv">
    <mat-card>
      <div id="map">
        <mat-card class="unmappable-warning"  *ngIf="unMappables.length > 0" matTooltip="Exact latitude and longitude for the listed locations are absent in the WHISPers database." [matTooltipPosition]="'above'">
          <span><mat-icon>warning</mat-icon>&nbsp;Some location data absent.
            The following locations are not mapped:
            <!-- <ul>
              <li *ngFor="let unmappable of unMappables">{{unmappable.name}} ({{unmappable.administrative_level_two_string}},
                {{unmappable.administrative_level_one_string}})
              </li>
            </ul> -->

            <span *ngFor="let unmappable of unMappables">{{unmappable.name}} ({{unmappable.administrative_level_two_string}},
              {{unmappable.administrative_level_one_string}})
              <span *ngIf="(unMappables.indexOf(unmappable)) < (unMappables.length - 1)">;</span></span>

          </span>
        </mat-card>
      </div>
    </mat-card>
  </div>

</div>