#eventDetailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.detailsDiv {
    flex-grow: 3;

}

.mapDiv {
    width:auto;
    flex-grow: 3;
    min-width: 400px;
}
#map {
    height:500px;
  }

  @media screen and (max-width:875px) {
    #eventDetailsContainer {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .mapDiv,
    .detailsDiv{
        min-width: 100%;
    }

  }

// @media screen and (min-width:600px) {
//     .container {
//         flex-wrap:nowrap;
//     } 
    
//      .detailsDiv {
//         min-width: 200px;
//         flex: 1 0 auto;
//         //  flex-grow: 1;
//         //  flex-shrink: 0;
//         //  flex-basis:300px;
//          order:1;
//      }
//      .mapDiv {
//          min-width: 600px;
//          flex: 1 0 auto;
//         // flex-grow: 1;
//         // flex-shrink: 0;
//         //  flex-basis:600px;
//          order:2;
//      }
   
//  }

 .event-header {
     font-size: large;
 }

 .text-larger {
     font-size: larger;
 }
 