<mat-spinner *ngIf="eventDataLoading"></mat-spinner>
<div id="eventDetailsContainer" *ngIf="!eventDataLoading">

  <div class="detailsDiv">
    <mat-card>
      <div class="event-detail-action-bar">
        <button mat-raised-button color="primary" class="event-detail-action-button">
          <i class="material-icons">share</i> Share</button>
        <button mat-raised-button color="primary" class="event-detail-action-button">
          <i class="material-icons">print</i> Print Event Details</button>
        <button mat-raised-button color="primary" class="event-detail-action-button">
          <i class="material-icons">unarchive</i> Export Event Data</button>
      </div>
      <mat-card-title>
        <span>
          <b>Event {{eventData.id}}</b>
        </span>
        <br> {{eventData.event_type_string}}
        <br>
        <span class="text-smaller">
          <span>{{eventData.start_date | date:'mediumDate'}}</span>
          <span> thru </span>
          <span>{{eventData.end_date | date:'mediumDate'}}</span>
        </span>

      </mat-card-title>
      <!-- <mat-card-subtitle>{{eventData.event_type_string}}</mat-card-subtitle> -->
      <mat-card-content *ngIf="!eventDataLoading">
        <div id="public-event-data">
          <p>
            <div class="event-header">

              <table>
                <tr>
                  <th>Affected</th>
                  <td>{{eventData.affected_count}}</td>
                </tr>
                <tr>
                  <th [attr.rowspan]="eventData.event_diagnoses.length + 1 ">Diagnosis</th>
                  <!-- <td *ngFor="let diagnosis of eventData.event_diagnosis">{{diagnosis.diagnosis_string}}</td> -->
                </tr>
                <tr *ngFor="let diagnosis of eventData.event_diagnoses" class="noBorder">
                  <td>{{diagnosis.diagnosis_string}}</td>
                </tr>
                <tr>
                  <th [attr.rowspan]="eventData.event_locations.length + 1 ">Locations</th>
                </tr>
                <tr *ngFor="let eventLocation of eventData.event_locations">
                  <td>{{eventLocation.administrative_level_two_string}}, {{eventLocation.administrative_level_one_string}}, {{eventLocation.country_string}}</td>
                </tr>
              </table>
            </div>
            <br>
            <div class="event-details">
              <p>
                <!-- <label for="speciesList" class="event-detail-label">Species Affected</label> -->
                <table id="speciesList">
                  <tr>
                    <th>Species</th>
                    <th>Location</th>
                    <th>Population</th>
                    <th>Sick</th>
                    <th>Dead</th>
                    <th class="limit-width">Sick Estimate </th>
                    <th class="limit-width">Dead Estimate</th>
                    <th>Diagnosis</th>
                  </tr>

                  <tr *ngFor="let loc_species of eventLocationSpecies">
                    <td>{{loc_species.species_string}}</td>
                    <td>
                      <span>{{loc_species.administrative_level_two_string}}, {{loc_species.administrative_level_one_string}}</span>
                      <br>
                      <span>{{loc_species.country_string}}</span>
                    </td>
                    <td>{{loc_species.population_count}}</td>
                    <td>{{loc_species.sick_count}}</td>
                    <td>{{loc_species.dead_count}}</td>
                    <td>{{sick_count_estimated}}</td>
                    <td>{{dead_count_estimated}}</td>
                    <td>
                      <span *ngIf="loc_species.species_diagnosis.length > 0">
                        <span *ngFor="let species_diagnosis of loc_species.species_diagnosis">
                          <span class="text-bold">{{species_diagnosis.diagnosis.name}}</span>
                          <span *ngIf="species_diagnosis.causal">(Causal)</span>
                          <br>
                          <span class="text-smaller">{{species_diagnosis.tested_count}} specimens tested |</span>
                          <span class="text-smaller">{{species_diagnosis.positive_count}} positive</span>
                          <br>
                          <span class="text-smaller"> by {{species_diagnosis.diagnosis_organization[0].name}}</span>
                        </span>
                      </span>
                      <span *ngIf="loc_species.species_diagnosis.length === 0">To Be Determined</span>
                    </td>
                  </tr>
                </table>
                <div>

                </div>
            </div>
        </div>
        <p>

          <div id="privileged-event-data" class="privileged-event-data">
            <label class="event-detail-label">Privileged Event Data</label>
            <p>
              <span class="text-larger">You have
                <span>edit</span> privileges for this event</span>
              <table>
                <tr>
                  <th>Event Owner</th>
                  <td>no data from service yet</td>
                  <!--<td>no data yet{{eventData.event_organization[0].private_name}}</td>-->
                </tr>
                <tr>
                  <th>Event Reference</th>
                  <td>{{eventData.event_reference}}</td>
                </tr>
                <tr>
                  <th>Event Status</th>
                  <td>{{eventData.event_status_string}}</td>
                </tr>
                <tr>
                  <th>Complete</th>
                  <td>{{eventData.complete}}</td>
                </tr>
                <tr>
                  <th>Legal Status</th>
                  <td>{{eventData.legal_status_string}}</td>
                </tr>
                <tr>
                  <th>Legal Number</th>
                  <td>{{eventData.legal_number}}</td>
                </tr>
                <tr>
                  <th>Superevent</th>
                  <td></td>
                </tr>

              </table>

              <p>
                <mat-card-subtitle>Privileged Species and Diagnosis Details</mat-card-subtitle>
                <table id="speciesList">
                  <tr>
                    <th>Species</th>
                    <th>Location</th>
                    <th>Population</th>
                    <th>Sick</th>
                    <th>Dead</th>
                    <th class="limit-width">Sick Estimate </th>
                    <th class="limit-width">Dead Estimate</th>
                    <th>Diagnosis</th>
                  </tr>

                  <tr *ngFor="let loc_species of eventLocationSpecies">
                    <td>{{loc_species.species_string}}</td>
                    <td>
                      <span>{{loc_species.administrative_level_two_string}}, {{loc_species.administrative_level_one_string}}</span>
                      <br>
                      <span>{{loc_species.country_string}}</span>
                    </td>
                    <td>{{loc_species.population_count}}</td>
                    <td>{{loc_species.sick_count}}</td>
                    <td>{{loc_species.dead_count}}</td>
                    <td>{{sick_count_estimated}}</td>
                    <td>{{dead_count_estimated}}</td>
                    <td>
                      <span *ngIf="loc_species.species_diagnosis.length > 0">
                        <span *ngFor="let species_diagnosis of loc_species.species_diagnosis">
                          <span class="text-bold">{{species_diagnosis.diagnosis.name}}</span>
                          <span *ngIf="species_diagnosis.causal">(Causal)</span>
                          <br>
                          <span class="text-smaller">{{species_diagnosis.tested_count}} specimens tested |</span>
                          <span class="text-smaller">{{species_diagnosis.positive_count}} positive</span>
                          <br>
                          <span class="text-smaller"> by {{species_diagnosis.diagnosis_organization[0].name}}</span>
                        </span>
                      </span>
                      <span *ngIf="loc_species.species_diagnosis.length === 0">To Be Determined</span>
                    </td>
                  </tr>
                </table>

                <p>
                  <mat-card-subtitle>Contacts</mat-card-subtitle>

          </div>

          <p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="mapDiv">
    <mat-card>
      <div id="map"></div>
    </mat-card>
  </div>

</div>