<div class="collaboratorsTab">
    <mat-card-title>
  
      <div class="results-card-title-row">
        <span class="results-button-row">
        </span>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="spinner-container" *ngIf="tableLoading">
        <mat-spinner></mat-spinner>
      </div>
      <br>
  
      <div class="results-table-div">
        <table mat-table [dataSource]="dataSource" [class.fullText]="fullCommentOn === true" matSort
          matSortActive="user" matSortDirection="desc" ><!-- *ngIf="dataSource.length > 0" -->

          <!-- Selection column -->
          <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            
          <!-- User Column -->
          <ng-container matColumnDef="user" class="comment-column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="comment-column"> Username </th>
            <td td mat-cell *matCellDef="let dataSource" class="comment-column"> {{dataSource.username}} </td>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <!-- <mat-row *matRowDef="let event; columns: displayedColumns;"></mat-row> -->
          <mat-row *matRowDef="let comment; columns: displayedColumns;" (click)="selectEvent(comment)"
            matTooltip="Click comment to see details"></mat-row>
        </table>
  
        <div> <!-- *ngIf="dataSource.length === 0 && tableLoading === false" -->
          <h3>There are no collaborators associated with this event.</h3>
        </div>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
      </div>
  
    </mat-card-content>
  </div>