<h1 mat-dialog-title>
  <mat-icon>person</mat-icon> Reset Password
</h1>
<mat-dialog-content>
  <form [formGroup]="resetPasswordForm">

    <div class="vertical-form-container">

      <app-new-password-form [formGroup]="this.resetPasswordForm.get('password')">
      </app-new-password-form>

      <input type="hidden" formControlName="id"/>
      <input type="hidden" formControlName="token"/>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="form-buttons-flex">
    <button mat-button (click)="this.resetPasswordDialogRef.close('cancel');">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid"
      (click)="onSubmit(resetPasswordForm.value)">
      <mat-icon>lock</mat-icon> Reset Password
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>

