<h1 mat-dialog-title>
  <mat-icon>person</mat-icon> Reset Password
</h1>
<mat-dialog-content>
  <form [formGroup]="resetPasswordForm">

    <div class="vertical-form-container">

      <div class="horizontal-form-container">

        <!-- Password -->
        <mat-form-field class="form-control">
          <input matInput type="password" placeholder="Password" formControlName="password" required
            autocomplete="new-password">
          <mat-icon class="hint-hover-text" matSuffix
                matTooltip={{resetPasswordTooltip()}} matTooltipClass="tooltip-breakline">
          help</mat-icon>
        </mat-form-field>
        <!-- Confirm Password -->
        <mat-form-field class="form-control">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required
            autocomplete="new-password">
          <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors?.matchPassword">Passwords do not match
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls.password.errors">Passwords do not meet requirements
          </mat-error>
        </mat-form-field>

        <input type="hidden" formControlName="id"/>
        <input type="hidden" formControlName="token"/>
      </div>

      <div>
        <h5>Password must be at least 12 characters long and contain at least one: </h5>
        <ul class="text-smaller">
          <li>Lowercase letter (a, b, c, ..., z)</li>
          <li>Number (0, 1, 2, ..., 3)</li>
          <li>Symbol (!, #, @, etc.)</li>
        </ul>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="form-buttons-flex">
    <button mat-button (click)="this.resetPasswordDialogRef.close('cancel');">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid"
      (click)="onSubmit(resetPasswordForm.value)">
      <mat-icon>lock</mat-icon> Reset Password
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>

