<h2 mat-dialog-title>
  <mat-icon>warning</mat-icon> Web browser warning
</h2>
<mat-dialog-content>
  <p>This web application does not support use of Microsoft Internet Explorer (IE). It is not designed or tested
    for use with IE and functionality may be limited or impaired.</p>
  <p>Please use this application in Google Chrome, Microsoft Edge, 
    Mozilla Firefox, Apple Safari, or another modern web browser.</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button  mat-raised-button color="warn" mat-dialog-close>Continue Anyway (Not recommended)</button>
</mat-dialog-actions>