.role-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.role-option {
  background-color: #eaeef7;
  border-radius: 20px;
  padding: 20px;
  width: calc(33.33% - 50px);
  display: flex;
  flex-direction: column;
  button {
    width: 100%;
    margin-top: auto;
  }
}
.role-option-description {
  font-weight: bold;
  margin-bottom: 10px;
}
.role-option-feature {
  margin-bottom: 10px;
  mat-icon {
    color: #7eac54;
    vertical-align: bottom;
  }
}
button {
  text-transform: uppercase;
  &[mat-stroked-button] {
    color: #999999;
  }
}
