<h1 mat-dialog-title>
  <mat-icon *ngIf="data.titleIcon !== ''">{{data.titleIcon}}</mat-icon> {{data.title}}
</h1>
<mat-dialog-content>

  <form [formGroup]="eventLocationContactForm">
    <div class="vertical-form-container">


      <!--<mat-form-field class="form-control  contact-type-select">
        <mat-select placeholder="Contact Person" formControlName="contact" required>
          <mat-option *ngFor="let contact of userContacts" [value]="contact.id"> <span>{{contact.first_name}}
              {{contact.last_name}} | {{contact.organization_string}}</span></mat-option>
        </mat-select>
      </mat-form-field>-->

      <!-- Contacts autocomplete control -->
      <mat-form-field class="form-control contact-select">
        <input type="text" matInput placeholder="Contact Person" aria-label="Contact Person"
          [matAutocomplete]="contactAutoComplete" formControlName="contact">
        <mat-autocomplete #contactAutoComplete="matAutocomplete" [displayWith]="displayFnContact">
          <mat-option *ngFor="let contact of filteredUserContacts | async"
            [value]="contact.id">
            <span>{{contact.first_name}}
              {{contact.last_name}} | {{contact.organization_string}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="form-control  contact-type-select">
        <mat-select placeholder="Contact Type" formControlName="contact_type" required>
          <mat-option *ngFor="let contactType of contactTypes" [value]="contactType.id">{{contactType.name}}</mat-option>
        </mat-select>
      </mat-form-field>


    </div>
  </form>


</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button color="warn" (click)="this.addEventLocationContactDialogRef.close('cancel');">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button>
  <button mat-button color="primary" type="submit" [disabled]="eventLocationContactForm.invalid" (click)="onSubmit(eventLocationContactForm.value)">
    <mat-icon>{{data.actionButtonIcon}}</mat-icon> {{data.action_button_text}}
  </button>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>