<h1 mat-dialog-title>
  <mat-icon>share</mat-icon>Share this event
</h1>

<mat-dialog-content>

  <div class="share-link-div">
    <h4>
      <mat-icon>link</mat-icon> Create sharing link
    </h4>
    This event's details page can always be found at <code>{{appURL}}/event/{{eventID}}</code>. This URL can be shared
    as is. <br />

    To create a short, more easily shareable link that uses the <a href="https://go.usa.gov/">go.usa.gov</a> URL
    shortening service, click below.
    <p>

      <button mat-stroked-button (click)="generateShortURL()">
        <mat-icon>link</mat-icon> Generate shortened link
      </button>
      <p>

        <mat-progress-bar mode="indeterminate " *ngIf="submitLoading"></mat-progress-bar>
        <span *ngIf="shortURL !== ''">Short Shareable Link: {{shortURL}}</span>
  </div>


  <!-- <div class="citation">
      <span class="text-x-small">This lookup is powered by the <a href="https://txpub.usgs.gov/dss/search_api/2.1/doc/#overview">USGS
          Search JavaScript API</a> developed by the <a href="https://webapps.usgs.gov/">Geospatial Science + Cyber
          Innovation
          Branch</a> of the USGS Texas Water Science Center. It searches about 3.7 million location records from a
        variety of
        sources, including <a href="https://geonames.usgs.gov/domestic/">GNIS</a>. Source code can be on GitHub at:
        <a href="https://github.com/usgs/search_api/">https://github.com/usgs/search_api/</a>.</span>
    </div> -->

</mat-dialog-content>
<mat-dialog-actions>

  <!-- <button mat-button color="warn" (click)="this.gnisLookupDialogRef.close('cancel');">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button> -->
  <button mat-button color="primary" type="submit" (click)="this.eventDetailsShareDialogRef.close('cancel');">
    <mat-icon>check</mat-icon>&nbsp;Done
  </button>

</mat-dialog-actions>