<h1 mat-dialog-title>
  <i class="material-icons">edit</i> Edit Event {{eventID}}</h1>
<mat-dialog-content>
  <form [formGroup]="editEventForm">

    <div class="vertical-form-container">

      <!-- Event Reference -->
      <mat-form-field class="form-control">
        <input matInput placeholder="Event Reference" formControlName="event_reference">
        <mat-error *ngIf="editEventForm.get('event_reference').invalid">{{getErrorMessage('event_reference')}}</mat-error>
      </mat-form-field>

      <!-- Event Type -->
      <mat-form-field class="form-control org-select">
        <mat-select placeholder="Event Type" formControlName="event_type">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let event_type of event_types" value="{{event_type.id}}">{{event_type.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Event Status -->
      <mat-form-field class="form-control org-select">
        <mat-select placeholder="Event Status" formControlName="event_status">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let event_status of event_statuses" value="{{event_status.id}}">{{event_status.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Public -->
      <mat-checkbox formControlName="public">Public</mat-checkbox>
      <!-- Complete -->
      <mat-checkbox formControlName="complete">Complete</mat-checkbox>
    

      <!-- Need to add more fields Legal status, etc -->

      <!---------------------------------------------
      
      -------------------------------------------------->

      <!-- Event Owner -->
      <!--<mat-form-field class="form-control org-select">
        <mat-select placeholder="Event Owner" formControlName="event_organization">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let organization of organizations" value="{{organization.id}}">{{organization.name}}</mat-option>
        </mat-select>
      </mat-form-field>-->

    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button color="warn" (click)="this.editEventDialogRef.close('cancel');"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
  <button mat-button color="primary" type="submit" [disabled]="editEventForm.invalid" (click)="updateEvent(editEventForm.value)"><mat-icon>send</mat-icon>&nbsp;Submit</button>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>