.horizontal-form-container {
    display: flex;
    flex-direction: row;
}

.vertical-form-container {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.form-control {
    width: 18em;
    margin: 10px;
}


.alert{ 
    width: 100%;
    background-color: lightcoral;
}

