.horizontal-form-container {
    display: flex;
    flex-direction: row;
}

.vertical-form-container {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.form-control {
    width: 100%; // margin: 10px;
}


.alert{ 
    width: 100%;
    background-color: lightcoral;
}

.form-buttons-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 0;

    &.center{
        justify-content: center;
    }
}