<h1 mat-dialog-title>
  <i class="material-icons">person_add</i> Create New Contact</h1>
<mat-dialog-content>
  <form [formGroup]="createContactForm">

    <div class="vertical-form-container">

      <mat-form-field class="form-control">
        <input matInput placeholder="First Name" formControlName="first_name" required>
        <mat-error *ngIf="createContactForm.get('first_name').invalid">{{getErrorMessage('first_name')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput placeholder="Last Name" formControlName="last_name" required>
        <mat-error *ngIf="createContactForm.get('last_name').invalid">{{getErrorMessage('last_name')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput placeholder="Email Address" formControlName="email_address" required>
        <mat-error *ngIf="createContactForm.get('email_address').invalid">{{getErrorMessage('email_address')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput placeholder="Phone Number" formControlName="phone_number">
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput placeholder="Position" formControlName="position">
      </mat-form-field>

      <mat-form-field class="form-control org-select">
        <mat-select placeholder="Organization" formControlName="organization">
          <mat-option *ngFor="let organization of organizations" value="{{organization.id}}">{{organization.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-control org-select">
        <input matInput placeholder="Company/Business/Affiliation" formControlName="affiliation">
        <mat-hint align="start">Contact's company or other affiliation, if not part of one of the Organizations listed above </mat-hint>
      </mat-form-field>

    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button (click)="this.createContactDialogRef.close('cancel');">Cancel</button>
  <button mat-button type="submit" [disabled]="createContactForm.invalid" (click)="onSubmit(createContactForm.value)">Submit</button>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>