<h1 mat-dialog-title>
  <mat-icon>person_add</mat-icon> {{dialogTitle}} Contact
</h1>

<mat-dialog-content>

  <form [formGroup]="createContactForm" autocomplete="off">

    <div class="horizontal-form-container">
      <mat-form-field class="form-control">
        <input matInput placeholder="First Name" formControlName="first_name" required>
        <mat-error *ngIf="createContactForm.get('first_name').invalid">{{getErrorMessage('first_name')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput placeholder="Last Name" formControlName="last_name" required>
        <mat-error *ngIf="createContactForm.get('last_name').invalid">{{getErrorMessage('last_name')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="horizontal-form-container">
      <mat-form-field class="form-control">
        <input matInput placeholder="Email Address" formControlName="email" required>
        <mat-error *ngIf="createContactForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput placeholder="Phone Number" formControlName="phone">
      </mat-form-field>
    </div>

    <div class="horizontal-form-container">
      <mat-form-field class="form-control">
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput placeholder="Position" formControlName="position">
      </mat-form-field>
    </div>

    <div class="vertical-form-container">

      <mat-form-field class="form-control org-select">
        <mat-select formControlName="organization" placeholder="Organization" #organizationSelect>
          <ngx-mat-select-search [formControl]="organizationFilterCtrl" [placeholderLabel]="'Find organization...'"
            [noEntriesFoundLabel]="'no matching organization found'"></ngx-mat-select-search>
          <mat-option *ngFor="let organization of filteredOrganizations | async" [value]="organization.id">
            {{organization.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-control org-select">
        <input matInput placeholder="Company/Business/Affiliation" formControlName="affiliation">
        <mat-hint align="start">Contact's company or other affiliation, if not part of one of the Organizations listed
          above </mat-hint>
      </mat-form-field>

    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>

  <div class="form-buttons-flex">
    <button mat-button color="warn" (click)="this.createContactDialogRef.close('cancel');"><mat-icon>cancel</mat-icon>Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="createContactForm.invalid" (click)="onSubmit(createContactForm.value)">
        <mat-icon>save</mat-icon>Save
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
  </div>


</mat-dialog-actions>