<h1 mat-dialog-title *ngIf="data.title">
  <mat-icon *ngIf="data.titleIcon !== ''">{{data.titleIcon}}</mat-icon> {{data.title}}
</h1>

<mat-dialog-content>

  <div *ngIf="data.species_diagnosis_action === 'edit'">
    <h3 *ngIf="locationspeciesString || data.locationspecies || data.speciesdiagnosis">
      <span *ngIf="locationspeciesString">Species: {{locationspeciesString}} </span> <br />
      <span *ngIf="data.locationspecies">Location: {{administrative_level_two}}, {{administrative_level_one}}</span>
      <br />
      <span *ngIf="data.speciesdiagnosis">Species Diagnosis: {{data.speciesdiagnosis.diagnosis_string}} </span>
      <mat-icon class="hint-hover-text" matSuffix matTooltip={{speciesDiagnosisTooltip()}}
        matTooltipClass="tooltip-breakline">
        help</mat-icon>
    </h3>
  </div>

  <div *ngIf="data.species_diagnosis_action  === 'editInFormArray'">
    <h3>
      <span *ngIf="data.locationspecies">Species: {{data.locationspecies.species | displayValue:'name':this.species}}
      </span> <br />
      <!-- <span *ngIf="data.locationspecies">Location: {{administrative_level_two}}, {{administrative_level_one}}</span> -->
      <br />
      <span *ngIf="data.speciesdiagnosis">Species Diagnosis:
        {{data.speciesdiagnosis.diagnosis | displayValue:'name':this.diagnoses}} </span>
      <mat-icon class="hint-hover-text" matSuffix matTooltip={{speciesDiagnosisTooltip()}}
        matTooltipClass="tooltip-breakline">
        help</mat-icon>
    </h3>
  </div>


  <form [formGroup]="speciesDiagnosisForm" autocomplete="off">

    <div class="vertical-form-container">

      <!-- dummy field to absorb angular auto highlighting first field in form -->
      <mat-form-field id="hidethis">
        <mat-select disabled aria-disabled="true">
          <mat-option>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="horizontal-form-container">

        <mat-form-field class="form-control diagnosis-select"
          *ngIf="data.species_diagnosis_action !== 'edit' && data.species_diagnosis_action !== 'editInFormArray'">
          <mat-select formControlName="diagnosis" placeholder="Species Diagnosis" #diagnosisSelect required
            (ngModelChange)="checkSuspectCompliance(); checkForDuplicateDiagnosis();">
            <ngx-mat-select-search [formControl]="diagnosisFilterCtrl" [placeholderLabel]="'Find diagnosis...'"
              [noEntriesFoundLabel]="'no matching diagnosis found'"></ngx-mat-select-search>
            <mat-option *ngFor="let diagnosis of filteredDiagnoses | async" [value]="diagnosis.id">
              {{diagnosis.name}}
            </mat-option>
          </mat-select>
          <mat-icon class="hint-hover-text" matSuffix matTooltip={{speciesDiagnosisTooltip()}}
            matTooltipClass="tooltip-breakline">
            help</mat-icon>
          <mat-hint align="end" matTooltip="Public field">
            <mat-icon>public</mat-icon>
          </mat-hint>
          <mat-error *ngIf="speciesDiagnosisForm.get('diagnosis').invalid">Please
            enter a value</mat-error>
        </mat-form-field>

        <mat-checkbox class="form-control suspect-checkbox" formControlName="suspect"
          (change)="checkSuspectCompliance()" matTooltip={{speciesDiagnosisSuspectTooltip()}}>
          Species
          Diagnosis Suspect
          <mat-icon class="public-icon">public</mat-icon>
        </mat-checkbox>
      </div>

      <mat-form-field class="form-control diagnosis-select">
        <mat-select placeholder="Basis of Diagnosis" formControlName="basis" readonly
          (ngModelChange)="checkLabCompliance()">
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let diagnosisBasis of diagnosisBases" [value]="diagnosisBasis.id">{{diagnosisBasis.name}}
          </mat-option>
        </mat-select>
        <mat-icon class="hint-hover-text" matSuffix matTooltip={{basisOfDiagnosisTooltip()}}
          matTooltipClass="tooltip-breakline">
          help</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-select placeholder="Significance of Diagnosis for Species" formControlName="cause">
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let diagnosisCause of diagnosisCauses" [value]="diagnosisCause.id"><span
              *ngIf="this.speciesDiagnosisForm.get('suspect').value && diagnosisCause.id !== 4">Suspect&nbsp;</span>{{diagnosisCause.name}}
          </mat-option>
        </mat-select>
        <mat-icon class="hint-hover-text" matSuffix matTooltip={{significanceOfDiagnosisForSpeciesTooltip()}}
          matTooltipClass="tooltip-breakline">
          help</mat-icon>

      </mat-form-field>

      <mat-form-field class="form control species-number-control">
        <input matInput placeholder="Number Assessed" type="number" min="1" formControlName="tested_count"
          [ngModel]="tested_count" (ngModelChange)="checkMinimum($event)">
        <mat-icon class="hint-hover-text" matSuffix matTooltip={{numberAssessedTooltip()}}
          matTooltipClass="tooltip-breakline">
          help</mat-icon>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.speciesDiagnosisForm.get('tested_count').hasError('min')">Minimum value is 1
        </mat-error>
        <mat-error *ngIf="this.speciesDiagnosisForm.get('tested_count').hasError('integerTestedCount')">Must be an
          integer
          (whole number)</mat-error>
      </mat-form-field>

      <mat-form-field class="form control species-number-control">
        <input matInput placeholder="Number with this Diagnosis" type="number" min="1" formControlName="diagnosis_count"
          [ngModel]="tested_count" (ngModelChange)="checkMinimum($event)">
        <mat-icon class="hint-hover-text" matSuffix matTooltip={{numberWithDiagnosisTooltip()}}
          matTooltipClass="tooltip-breakline">
          help</mat-icon>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.speciesDiagnosisForm.get('diagnosis_count').hasError('min')">Minimum value is 1
        </mat-error>
        <mat-error *ngIf="this.speciesDiagnosisForm.get('diagnosis_count').hasError('diagnosisCount')">Cannot be higher
          than Number Assessed</mat-error>
        <mat-error *ngIf="this.speciesDiagnosisForm.get('diagnosis_count').hasError('integerDiagnosisCount')">Must be
          an integer
          (whole number)</mat-error>
      </mat-form-field>

      <!-- <div class="horizontal-form-container" class="species-controls-container">
          <mat-form-field class="species-number-control">
            <input matInput placeholder="Number Confirmed" type="number" min="0"  formControlName="positive_count">
            <mat-hint align="end" matTooltip="Public field">
              <mat-icon>public</mat-icon>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="species-number-control">
            <input matInput placeholder="Number Suspect" type="number" formControlName="suspect_count">
            <mat-hint align="end" matTooltip="Public field">
              <mat-icon>public</mat-icon>
            </mat-hint>
          </mat-form-field>
        </div> -->

      <div formArrayName="new_species_diagnosis_organizations">
        <div
          *ngFor="let organization of getDiagnosisOrganizations(speciesDiagnosisForm); let diagnosisOrgIndex = index">

          <div [formGroupName]="diagnosisOrgIndex">

            <div class="horizontal-form-container">

              <mat-form-field class="form-control event-org-select">
                <mat-select formControlName="org" placeholder="Lab" #labSelect required>
                  <ngx-mat-select-search [formControl]="laboratoryFilterCtrl" [placeholderLabel]="'Find lab...'"
                    [noEntriesFoundLabel]="'no matching lab found'"></ngx-mat-select-search>
                  <mat-option *ngFor="let laboratory of filteredLaboratories[diagnosisOrgIndex] | async"
                    [value]="laboratory.id">
                    {{laboratory.name}}
                  </mat-option>
                </mat-select>
                <mat-icon class="hint-hover-text" matSuffix matTooltip={{labTooltip()}}
                  matTooltipClass="tooltip-breakline">
                  help</mat-icon>
                <mat-hint align="end" matTooltip="Public field">
                  <mat-icon>public</mat-icon>
                </mat-hint>
                <mat-error
                  *ngIf="speciesDiagnosisForm.get('new_species_diagnosis_organizations').controls[diagnosisOrgIndex].get('org').invalid">
                  Please
                  enter a value</mat-error>
              </mat-form-field>

              <button mat-icon-button color="warn" aria-label="Remove this lab"
                (click)="removeDiagnosisOrganization(diagnosisOrgIndex)" matTooltip="Remove this lab">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="button-row">
        <button mat-button color="primary" matTooltip="Add diagnosing lab" (click)="addDiagnosisOrganization()">
          <mat-icon>add_circle</mat-icon> Add Diagnosing Lab
        </button>
      </div>

      <!-- <mat-checkbox formControlName="pooled">Pooled Test</mat-checkbox> -->
    </div>

    <div class="submissionReviewErrors">
      <mat-error color="warn" *ngIf="labSuspectViolation">
        <mat-icon class="icon">error</mat-icon>
        <span class="alert-text">If no diagnosing lab is provided, diagnosis must be marked as suspect.</span>
      </mat-error>

      <mat-error color="warn" *ngIf="labViolation">
        <mat-icon class="icon">error</mat-icon>
        <span class="alert-text">If Basis of Diagnosis is a lab-performed necropsy, at least one diagnosing lab must
          be selected.</span>
      </mat-error>

      <mat-error color="warn" *ngIf="diagnosisSuspectViolation">
        <mat-icon class="icon">error</mat-icon>
        <span class="alert-text">If 'Undetermined' is selected as diagnosis, diagnosis cannot be
          suspect.</span>
      </mat-error>

      <mat-error color="warn" *ngIf="duplicateDiagnosisViolation">
        <mat-icon class="icon">error</mat-icon>
        <span class="alert-text">The selected diagnosis has already been selected for this species at this
          location.</span>
      </mat-error>

      <mat-error color="warn" *ngIf="minViolation">
        <mat-icon class="icon">error</mat-icon>
        <span class="alert-text">A species diagnosis record should not exist if no specimens were confirmed to have the
          diagnosis after assessment. Please enter a number greater than zero to save this record.</span>
      </mat-error>
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="detail-section-buttons">
    <button mat-button color="warn" (click)="onCancel()">
      <mat-icon>cancel</mat-icon>&nbsp;Cancel
    </button>
    <button mat-button color="primary" type="submit"
      [disabled]="speciesDiagnosisForm.invalid || labSuspectViolation || labViolation || diagnosisSuspectViolation || duplicateDiagnosisViolation || minViolation"
      (click)="onSubmit(speciesDiagnosisForm.value)">
      <mat-icon>{{data.actionButtonIcon}}</mat-icon>{{action_button_text}}
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
  </div>
</mat-dialog-actions>