<h1 mat-dialog-title *ngIf="data.title">
  <mat-icon *ngIf="data.titleIcon !== ''">{{data.titleIcon}}</mat-icon> {{data.title}}
</h1>

<mat-dialog-content>

  <h3 *ngIf="locationspeciesString || data.locationspecies || data.speciesdiagnosis">
    <span *ngIf="locationspeciesString">Species: {{locationspeciesString}} </span> <br />
    <span *ngIf="data.locationspecies">Location: {{administrative_level_two}}, {{administrative_level_one}}</span> <br />
    <span *ngIf="data.speciesdiagnosis">Species Diagnosis: {{data.speciesdiagnosis.diagnosis_string}} </span>
  </h3>

  <form [formGroup]="speciesDiagnosisForm">

    <div class="vertical-form-container">

      <mat-form-field class="form-control" *ngIf="data.species_diagnosis_action !== 'edit'">
        <mat-select placeholder="Species Diagnosis" formControlName="diagnosis" aria-readonly="true">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let diagnosis of diagnoses" value="{{diagnosis.id}}">{{diagnosis.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-select placeholder="Basis of Diagnosis" formControlName="basis" readonly>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let diagnosisBasis of diagnosisBases" value="{{diagnosisBasis.id}}">{{diagnosisBasis.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-select placeholder="Significance of Diagnosis for Species" formControlName="cause">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let diagnosisCause of diagnosisCauses" value="{{diagnosisCause.id}}">{{diagnosisCause.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Number Assessed" type="number" formControlName="tested_count">
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Number with this Diagnosis" type="number" formControlName="diagnosis_count">
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
      </mat-form-field>

      <!-- <div class="horizontal-form-container" class="species-controls-container">
          <mat-form-field class="species-number-control">
            <input matInput placeholder="Number Confirmed" type="number" formControlName="positive_count">
            <mat-hint align="end" matTooltip="Public field">
              <mat-icon>public</mat-icon>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="species-number-control">
            <input matInput placeholder="Number Suspect" type="number" formControlName="suspect_count">
            <mat-hint align="end" matTooltip="Public field">
              <mat-icon>public</mat-icon>
            </mat-hint>
          </mat-form-field>
        </div> -->

      <mat-form-field class="form-control">
        <mat-select placeholder="Diagnosing Lab" formControlName="new_species_diagnosis_organizations" multiple>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let laboratory of laboratories" value="{{laboratory.id}}">{{laboratory.name}}</mat-option>
        </mat-select>
      </mat-form-field>

  

      <mat-checkbox formControlName="suspect">Species Diagnosis Suspect</mat-checkbox>
      <!-- <mat-checkbox formControlName="pooled">Pooled Test</mat-checkbox> -->

    </div>

  </form>


</mat-dialog-content>

<mat-dialog-actions>
  <div class="detail-section-buttons">
    <button mat-button color="warn" (click)="this.editSpeciesDiagnosisDialogRef.close('cancel');">
      <mat-icon>cancel</mat-icon>&nbsp;Cancel
    </button>
    <button mat-button color="primary" type="submit" [disabled]="speciesDiagnosisForm.invalid" (click)="onSubmit(speciesDiagnosisForm.value)">
      <mat-icon>{{data.actionButtonIcon}}</mat-icon>{{action_button_text}}
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
  </div>
</mat-dialog-actions>