.horizontal-form-container {
    display: flex;
    flex-direction: row;
}

.vertical-form-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.form-control {
    width: 320px;
    margin: 10px;
}

.alert {
    width: 100%;
    background-color: lightcoral;
}

.diagnosis-number-control {
    width: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    flex-grow: 1;
}

.species-number-control {
    width: 16em;
    margin: 10px;
    flex-grow: 1;
}

.detail-section-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.centered{
        justify-content: center;
    }

    button{
        position: relative;
        top: -2px;

        &:hover{
            cursor: pointer;
        }
    }
}


.diagnosis-select {
    width: 35em;
}

.org-select {
    width: 40em;
}

.suspect-checkbox {
   // width: 5em;
}

#hidethis {
    opacity: 0;
    max-height: 0px;
}