.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}

table {
    border-radius: 5px;
    color: rgba(40, 40, 60, 1);
}

table,
th,
td {
    border: 1px solid rgba(210, 210, 220, 1);
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    font-size: 13px;
}

td {
    text-align: center;
}

th {
    text-align: left;
    background-color: rgba(247, 247, 255, 1);
}

.event-header {
    font-size: large;
}

.text-larger {
    font-size: larger;
}

.text-smaller {
    font-size: smaller;
    font-size: 16px;
    font-weight: 600;
    color: rgba(40, 40, 60, 0.5);
}

.event-detail-label {
    font-size: large; //font-weight: bold;
    // padding-top: 0;
    // padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
}

.event-header td {
    text-align: left;
}

.event-details td {
    text-align: left;
}

tr.noBorder td {
    border: 0;
}

.text-bold {
    font-weight: bold;
}

.limit-width {
    width: 3em;
}

#privileged-event-data {
    padding-top: 1em;
}

.event-detail-action-bar {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 25px 0;
    button {
        margin: 0 10px 0 0;
    }
}

.event-detail-action-bar-left {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.event-detail-action-button {
    margin: 5px;
}

::ng-deep .mapDiv>.mat-card {
    padding: 0px 0px 0px 0px;
}

// Details div 
.detailsDiv {
    .details-info {
        display: block;
        padding: 15px 0;
        .title {
            font-size: 26px;
            font-weight: 600;
            color: rgba(40, 40, 60, 1);
        }
        .subtitle {
            font-size: 18px;
            font-weight: 500;
            color: rgba(40, 40, 60, 1);
        }
        .meta {
            font-size: 14px;
            font-weight: 600;
            color: rgba(40, 40, 60, 0.5);
        }
    }
}

#map {
    text-align: center;
}

.unmappable-warning {
    z-index: 1000;
    position: absolute; //height: 10px;
    //width: 200px;
    text-align: left;
    margin: auto;
    left: 50%;
    bottom: 20px;
}

.legend {
    position: absolute;
    padding: 4px; // bottom: 60px !important;
    top: 10px; //left: 15px;
    right: 10px;
    width: 200px;
    /*height:320px;*/
    z-index: 1000;
    color: black;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.87;
}

.legendIcon {
    display: inline-block;
}

.legend-label {
    padding-top: 1em;
}

#iconHolder {
    margin-left: 15px;
    padding-top: 2px;
}


#iconHolder .wmm-circle,
#iconHolder .wmm-size-25 {
    z-index: 0 !important;
    margin-top: -4px;
}

#iconHolder-inline {}

.flyway-blue:after {
    background-color: rgba(0, 0, 255, 0.3);
    border: 3px solid blue;
}

.flyway-yellow:after {
    background-color: rgba(255, 255, 0, 0.3);
    border: 3px solid yellow;
}

.flyway-green:after {
    background-color: rgba(0, 255, 0, 0.3);
    border: 3px solid green;
}

.flyway-red:after {
    background-color: rgba(255, 238, 0, 0.3);
    border: 3px solid red;
}

.huc-icon:after {
    border: 3px solid #b57dcf;
}

.event-location-card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.horizontal-form-container {
    display: flex;
    flex-direction: row;
}

.vertical-form-container {
    display: flex;
    flex-direction: column;
}

.contacts-section-header {
    display: flex;
    flex-direction: row;
    margin-right: 10em;
}

.form-control {
    width: 18em;
    margin: 10px;
}


.general-comment-text-area {
    width: 40em;
    margin-bottom: 2em;
}

.hint {
    max-width: 90%;
}

.species-number-control {
    width: 8em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    flex-grow: 1;
}

.species-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 1em;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 100%;
    display: inline-block;
}

.species-control-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-select {
    width: 40em;
    flex-grow: 2;
}

.contact-type-select {
    flex-grow: 1;
}

.contact-button-div {
    flex-grow: 1;
}

.alert-text {
    vertical-align: middle;
}

.text-italic {
    font-style: italic;
}

.mat-table {
    .mat-header-row {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .mat-header-cell {
            box-sizing: border-box;
            padding: 3px;
            &:first-child {
                padding-left: 15px;
            }
            &:last-child {
                padding-right: 15px;
            }
        }
    }
    .mat-row {
        .mat-cell {
            font-size: 12px;
            box-sizing: border-box;
            padding: 3px;
            &:first-child {
                padding-left: 15px;
            }
            &:last-child {
                padding-right: 15px;
            }
            ul {
                padding-left: 15px;
                li {
                    line-height: 12px;
                    padding: 3px 0;
                    word-break: break-word;
                }
            }
        }
    }
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}

.text-bold {
    font-style: bold !important;
}

.text-larger {
    font-size: larger !important;
}

.species-detail-action-bar {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 25px 0;
    button {
        margin: 0 10px 0 0;
    }
}

.species-detail-action-bar-left {
    display: flex;
    flex-direction: column;

    button{
        margin: 5px auto;
    }
}



// Message when no data in section
.event-group-no-data{
    display: block;
    box-sizing: border-box;
    padding: 25px 15px 45px 15px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.34);
}


.species-diagnosis-table{
    margin: 12px auto;
    td, th{
        font-size: 12px;
        box-sizing: border-box;
        padding: 3px;
        line-height: 12px;
    }
}
.addpadd{
    box-sizing: border-box;
    padding: 12px 18px !important;
}
// Table styles
.mat-table {
    .mat-header-row {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .mat-header-cell {
            box-sizing: border-box;
            padding: 3px;
            &:first-child {
                padding-left: 15px;
            }
            &:last-child {
                padding-right: 15px;
            }
        }
    }
    .mat-row {
        .mat-cell {
            font-size: 12px;
            box-sizing: border-box;
            padding: 3px;
            &:first-child {
                padding-left: 15px;
            }
            &:last-child {
                padding-right: 15px;
            }
            ul {
                padding-left: 15px;
                li {
                    line-height: 12px;
                    padding: 3px 0;
                    word-break: break-word;
                }
            }
        }
    }
}
