<mat-card>
  <mat-card-title>

    <div class="results-card-title-row">
      <span class="results-button-row">
        <button mat-button color="accent" (click)="openSearchDialog()">
          <i class="material-icons">
              add_box
          </i>  Add</button>
        <button mat-button color="accent">
            <i class="material-icons">
                edit
            </i>  Edit</button>
        <button mat-button color="accent">
            <i class="material-icons">
                remove_circle
            </i>  Delete</button>
      </span>

    </div>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="savedSearchesDataSource" class="results-table-div">

      <mat-table [dataSource]="savedSearchesDataSource" matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="search-select"> Select </mat-header-cell>
          <mat-cell *matCellDef="let search" [ngClass]="search-select"><mat-checkbox id='search-{{search.id}}'></mat-checkbox></mat-cell>
        </ng-container>

        <!-- Search Data Column -->
        <ng-container matColumnDef="data">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Search </mat-header-cell>
          <mat-cell *matCellDef="let search"> {{search.data}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="searchDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let search; columns: searchDisplayedColumns;"></mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
