<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="dataSource" class="results-table-div">

  <mat-table class="user-events-table" [dataSource]="dataSource" matSort matSortDirection="asc" matSortDisableClear>

    <!-- ID/Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let eventGroup"> {{event.name}} </mat-cell>
    </ng-container>

    <!-- Event Group Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let eventGroup"> {{eventGroup.category}} </mat-cell>
    </ng-container>

    <!-- Comment/'Justification' Column -->
    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Justification for Event Grouping </mat-header-cell>
      <mat-cell *matCellDef="let eventGroup"> {{eventGroup.comment}} </mat-cell>
    </ng-container>

    <!-- Event List Column -->
    <ng-container matColumnDef="events">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Events </mat-header-cell>
      <mat-cell *matCellDef="let eventGroup"> {{eventGroup.events}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let eventGroup; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="eventGroupCount" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>