.horizontal-form-container {
    display: flex;
    flex-direction: row;
}

.vertical-form-container {
    display: flex;
    flex-direction: column;
}

.contacts-section-header {
    display: flex;
    flex-direction: row;
    margin-right: 10em;
}

.form-control {
    width: 18em;
    margin: 10px;
}

.general-comment-text-area {
    width: 40em;
    margin-bottom: 2em;
}

.gnisid {
    margin-left: 15px;
}
