<h1 mat-dialog-title>
  <i class="material-icons">edit_location</i> Edit Event Location Details</h1>
<mat-dialog-content>

  <form [formGroup]="editEventLocationForm" autocomplete="off">
    <div class="horizontal-form-container">
      <mat-form-field class="form-control">
        <input matInput [matDatepicker]="startDate" placeholder="Location Start Date" formControlName="start_date"
          (ngModelChange)="preventStartDateRemoval()">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
        <mat-hint align="start">{{locationStartDateTooltip()}}</mat-hint>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.editEventLocationForm.get('start_date').hasError('endDateBeforeStart')">Must precede end
          date</mat-error>
        <!-- <mat-error *ngIf="this.editEventLocationForm.get('start_date').hasError('required')">Must have a value</mat-error> -->
      </mat-form-field>


      <mat-form-field class="form-control">
        <input matInput [matDatepicker]="endDate" placeholder="Location End Date" formControlName="end_date">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
        <mat-hint align="start">{{locationEndDateTooltip()}}</mat-hint>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.editEventLocationForm.get('end_date').hasError('endDateBeforeStart')">Cannot
          precede start date</mat-error>
      </mat-form-field>
    </div>
    <br>

    <div class="horizontal-form-container">

      <mat-form-field class="form-control">
        <mat-select placeholder="Country" formControlName="country" (ngModelChange)="updateAdminLevelOneOptions($event)"
          required>
          <mat-option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</mat-option>
        </mat-select>
        <mat-hint align="start">{{countryTooltip()}}</mat-hint>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="editEventLocationForm.get('country').invalid">Please
          enter a value</mat-error>
      </mat-form-field>
      <!-- 
      <mat-form-field class="form-control">
        <mat-select placeholder="State (or equivalent)" formControlName="administrative_level_one"
          (ngModelChange)="updateAdminLevelTwoOptions($event)" required>
          <mat-option *ngFor="let adminLevelOne of adminLevelOnes" value="{{adminLevelOne.id}}">{{adminLevelOne.name}}
          </mat-option>
        </mat-select>
        <mat-hint align="start">Select a country to populate/update state list </mat-hint>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="editEventLocationForm.get('administrative_level_one').invalid">Please
          enter a value</mat-error>
      </mat-form-field> -->

      <!-------->
      <mat-form-field class="form-control">
        <mat-spinner *ngIf="adminLevelOnesLoading" [diameter]="20"></mat-spinner>
        <mat-select formControlName="administrative_level_one" placeholder="State (or equivalent)" #adminLevelOneSelect
          required (ngModelChange)="updateAdminLevelTwoOptions($event)">
          <ngx-mat-select-search [formControl]="adminLevelOneFilterCtrl"
            [placeholderLabel]="'Find state (or equivalent)...'" [noEntriesFoundLabel]="'no match found'">
          </ngx-mat-select-search>
          <mat-option *ngFor="let adminLevelOne of filteredAdminLevelOnes | async" [value]="adminLevelOne.id">
            {{adminLevelOne.name}}
          </mat-option>
        </mat-select>
        <mat-hint align="start">{{stateTooltip()}}</mat-hint>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="editEventLocationForm.get('administrative_level_one').invalid">Please
          enter a value</mat-error>
      </mat-form-field>
      <!-------->

      <!-- <mat-form-field class="form-control">
        <mat-select placeholder="County (or equivalent)" formControlName="administrative_level_two" required>
          <mat-option *ngFor="let adminLevelTwo of adminLevelTwos" value="{{adminLevelTwo.id}}">{{adminLevelTwo.name}}
          </mat-option>
        </mat-select>
        <mat-hint align="start">Select a state to populate/update county list </mat-hint>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="editEventLocationForm.get('administrative_level_two').invalid">Please
          enter a value</mat-error>
      </mat-form-field> -->

      <!-------->
      <mat-form-field class="form-control">
        <mat-spinner *ngIf="adminLevelTwosLoading" [diameter]="20"></mat-spinner>
        <mat-select formControlName="administrative_level_two" placeholder="County (or equivalent)" #adminLevelTwoSelect
          required>
          <ngx-mat-select-search [formControl]="adminLevelTwoFilterCtrl"
            [placeholderLabel]="'Find county (or equivalent)...'" [noEntriesFoundLabel]="'no match found'">
          </ngx-mat-select-search>
          <mat-option *ngFor="let adminLevelTwo of filteredAdminLevelTwos | async" [value]="adminLevelTwo.id">
            {{adminLevelTwo.name}}
          </mat-option>
        </mat-select>
        <mat-hint align="start">{{editCountyTooltip()}}</mat-hint>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="editEventLocationForm.get('administrative_level_two').invalid">Please
          enter a value</mat-error>
      </mat-form-field>
      <!-------->


    </div>

    <div class="vertical-form-container">
      <mat-form-field class="form-control">
        <input matInput placeholder="Location Name" formControlName="name">
        <mat-icon class="hint-hover-text" matSuffix matTooltip={{editLocationNameTooltip()}}
          matTooltipClass="tooltip-breakline">
          help</mat-icon>
      </mat-form-field>


      <mat-form-field class="form-control">
        <mat-select placeholder="Land Ownership" formControlName="land_ownership" required>
          <mat-option *ngFor="let landOwnership of landOwnerships" value="{{landOwnership.id}}">{{landOwnership.name}}
          </mat-option>
        </mat-select>
        <mat-hint align="start">{{editLandOwnershipTooltip()}}</mat-hint>
        <mat-error *ngIf="editEventLocationForm.get('land_ownership').invalid">Please
          enter a value</mat-error>
      </mat-form-field>
    </div>

    <div class="horizontal-form-container">
      <mat-form-field class="form-control">
        <input matInput placeholder="Latitude" formControlName="latitude"
          (ngModelChange)="truncateDecimalDegrees($event,'latitude')">
        <mat-icon class="hint-hover-text" matSuffix matTooltip={{latitudeTooltip()}}
          matTooltipClass="tooltip-breakline">
          help</mat-icon>
        <mat-error *ngIf="editEventLocationForm.get('latitude').invalid">Invalid
          latitude</mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput placeholder="Longitude" formControlName="longitude"
          (ngModelChange)="truncateDecimalDegrees($event,'longitude')">
        <mat-icon class="hint-hover-text" matSuffix matTooltip={{longitudeTooltip()}}
          matTooltipClass="tooltip-breakline">
          help</mat-icon>
        <mat-error *ngIf="editEventLocationForm.get('longitude').invalid">Invalid
          longitude</mat-error>
      </mat-form-field>
    </div>

    <mat-card>
      <mat-card-header>
        <mat-card-title>GNIS Standardized Location Name<mat-icon class="hint-hover-text" matSuffix
            matTooltip={{editStandardizedLocationNameTooltip()}} matTooltipClass="tooltip-breakline">
            help</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div>
          <button mat-stroked-button color="primary"
            aria-label="Look up feature in Geographic Names Information System (GNIS) database"
            matTooltip="Look up feature in Geographic Names Information System (GNIS) database"
            (click)="openGNISLookupDialog(null)">
            <mat-icon>search</mat-icon>Look Up GNIS
          </button>

          <button mat-stroked-button class="gnisid" color="primary"
            aria-label="Clear Geographic Names Information System (GNIS) entry"
            matTooltip="Clear Geographic Names Information System (GNIS) entry" (click)="clearGNISEntry()">
            <mat-icon>clear_all</mat-icon>Clear GNIS entry
          </button>
        </div>

        <div class="horizontal-form-container">
          <mat-form-field class="form-control">
            <input matInput placeholder="GNIS Feature Name" formControlName="gnis_name" readonly>
            <mat-hint align="start">Use Look Up GNIS tool to populate </mat-hint>

          </mat-form-field>
          <mat-form-field class="form-control">
            <input matInput placeholder="GNIS Feature ID" formControlName="gnis_id" readonly>
            <mat-hint align="start">Use Look Up GNIS tool to populate </mat-hint>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>

    <div class="submissionReviewErrors">
      <mat-error color="warn" *ngIf="editEventLocationForm.get('start_date').value === null">
        <mat-icon class="icon">error</mat-icon>
        <span class="alert-text">Start date must have a value.</span>
      </mat-error>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button color="warn" (click)="this.editEventLocationDialogRef.close('cancel');">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button>
  <button mat-button color="primary" type="submit" [disabled]="editEventLocationForm.invalid || startDateViolation"
    (click)="updateEventLocation(editEventLocationForm.value)">
    <mat-icon>send</mat-icon>&nbsp;Submit
  </button>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>