<h1 mat-dialog-title>
  <i class="material-icons">edit_location</i> Edit Event Location Details</h1>
<mat-dialog-content>

  <form [formGroup]="editEventLocationForm">
    <div class="horizontal-form-container">
      <mat-form-field class="form-control">
        <input matInput [matDatepicker]="startDate" placeholder="Location Start Date" formControlName="start_date">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput [matDatepicker]="endDate" placeholder="Location End Date" formControlName="end_date">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="editEventLocationForm.get('end_date').hasError('endDateBeforeStart')">Cannot
          precede start date</mat-error>
      </mat-form-field>
    </div>
    <br>

    <div class="horizontal-form-container">

      <mat-form-field class="form-control">
        <mat-select placeholder="Country" formControlName="country" (ngModelChange)="updateAdminLevelOneOptions($event)"
          required>
          <mat-option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</mat-option>
        </mat-select>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="editEventLocationForm.get('country').invalid">Please
          enter a value</mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-select placeholder="State" formControlName="administrative_level_one" (ngModelChange)="updateAdminLevelTwoOptions($event)"
          required>
          <mat-option *ngFor="let adminLevelOne of adminLevelOnes" value="{{adminLevelOne.id}}">{{adminLevelOne.name}}</mat-option>
        </mat-select>
        <mat-hint align="start">Select a country to populate/update state list </mat-hint>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="editEventLocationForm.get('administrative_level_one').invalid">Please
          enter a value</mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-select placeholder="County" formControlName="administrative_level_two" required>
          <mat-option *ngFor="let adminLevelTwo of adminLevelTwos" value="{{adminLevelTwo.id}}">{{adminLevelTwo.name}}</mat-option>
        </mat-select>
        <mat-hint align="start">Select a state to populate/update county list </mat-hint>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="editEventLocationForm.get('administrative_level_two').invalid">Please
          enter a value</mat-error>
      </mat-form-field>

    </div>

    <div class="vertical-form-container">
      <mat-form-field class="form-control">
        <input matInput placeholder="Location Name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-select placeholder="Land Ownership" formControlName="land_ownership" required>
          <mat-option *ngFor="let landOwnership of landOwnerships" value="{{landOwnership.id}}">{{landOwnership.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="editEventLocationForm.get('land_ownership').invalid">Please
          enter a value</mat-error>
      </mat-form-field>

    </div>

    <div class="horizontal-form-container">
      <mat-form-field class="form-control">
        <input matInput placeholder="Latitude" formControlName="latitude">
        <mat-error *ngIf="editEventLocationForm.get('latitude').invalid">Invalid
          latitude</mat-error>
      </mat-form-field>

      <mat-form-field class="form-control">
        <input matInput placeholder="Longitude" formControlName="longitude">
        <mat-error *ngIf="editEventLocationForm.get('longitude').invalid">Invalid
          longitude</mat-error>
      </mat-form-field>
    </div>

    <mat-card>
      <mat-card-header>
        <mat-card-title>GNIS Standardized Location Name</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div>
          <button mat-stroked-button color="primary" aria-label="Look up feature in Geographic Names Information System (GNIS) database"
            matTooltip="Look up feature in Geographic Names Information System (GNIS) database" (click)="openGNISLookupDialog(null)">
            <mat-icon>search</mat-icon>Look Up GNIS
          </button>
        </div>

        <div class="horizontal-form-container">
          <mat-form-field class="form-control">
            <input matInput placeholder="GNIS Feature Name" formControlName="gnis_name" readonly>
            <mat-hint align="start">Use Look Up GNIS tool to populate </mat-hint>

          </mat-form-field>
          <mat-form-field class="form-control">
            <input matInput placeholder="GNIS Feature ID" formControlName="gnis_id" readonly>
            <mat-hint align="start">Use Look Up GNIS tool to populate </mat-hint>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>

    <!-- <div class="vertical-form-container">
      <mat-form-field class="form-control">
        <input matInput placeholder="GNIS Standardized Location Name" formControlName="gnis_name">
        <mat-hint align="start" matTooltip="field under development. value will not save.">
          <strong>
            <mat-icon>error_outline</mat-icon>UNDER DEVELOPMENT
          </strong>
        </mat-hint>
      </mat-form-field>
    </div> -->

  </form>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button color="warn" (click)="this.editEventLocationDialogRef.close('cancel');">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button>
  <button mat-button color="primary" type="submit" [disabled]="editEventLocationForm.invalid" (click)="updateEventLocation(editEventLocationForm.value)">
    <mat-icon>send</mat-icon>&nbsp;Submit
  </button>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>