.horizontal-form-container {
    display: flex;
    flex-direction: row;
}

.vertical-form-container {
    display: flex;
    flex-direction: column;
}

.contacts-section-header {
    display: flex;
    flex-direction: row;
    margin-right: 10em;
}

.form-control {
    width: 18em;
    margin: 10px;
}

.general-comment-text-area {
    width: 40em;
    margin-bottom: 2em;
}

.gnisid {
    margin-left: 15px;
}

.submissionReviewErrors{
    display: block;
    margin: 0 auto;
    padding: 25px 0 40px 0;
    width: 40em;

    .mat-error{
        display: flex;
        margin: 6px 0;
        width: 40em;

        .mat-icon,
        span{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        span{
            font-size: 16px;
            font-weight: 600;
            padding-left: 4px;
            padding-bottom: 1px;
        }
    }
}
