<h1 mat-dialog-title>
  <mat-icon *ngIf="data.titleIcon !== ''">{{data.titleIcon}}</mat-icon> {{data.title}}
</h1>
<mat-dialog-content>
  <form [formGroup]="userRegistrationForm" class="registration-form" autocomplete="off">

    <div class="horizontal-form-container">
      <div class="vertical-form-container">

        <!-- Username -->
        <mat-form-field class="form-control">
          <input matInput placeholder="Username" formControlName="username" required>
          <mat-hint align="start">{{regUsernameTooltip()}}</mat-hint>
        </mat-form-field>

        <div class="horizontal-form-container">

          <!-- First Name -->
          <mat-form-field class="form-control">
            <input matInput placeholder="First Name" formControlName="first_name">
            <mat-hint align="start">{{regFirstNameTooltip()}}</mat-hint>
          </mat-form-field>

          <!-- Last Name -->
          <mat-form-field class="form-control">
            <input matInput placeholder="Last Name" formControlName="last_name">
            <mat-hint align="start">{{regLastNameTooltip()}}</mat-hint>
          </mat-form-field>

        </div>

        <div class="horizontal-form-container">

          <!-- Email address -->
          <mat-form-field class="form-control">
            <input matInput placeholder="Email Address" formControlName="email" required>
            <mat-icon class="hint-hover-text" matSuffix
                  matTooltip={{regemailAddressTooltip()}} matTooltipClass="tooltip-breakline">
            help</mat-icon>
            <mat-error *ngIf="userRegistrationForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>

          <!-- Confirm Email address -->
          <mat-form-field class="form-control">
            <input matInput placeholder="Confirm Email Address" formControlName="confirmEmail" required>
            <mat-error *ngIf="userRegistrationForm.get('confirmEmail').invalid">{{getErrorMessage('confirmEmail')}}
            </mat-error>
          </mat-form-field>

        </div>

        <app-new-password-form [formGroup]="this.userRegistrationForm.get('password')">
        </app-new-password-form>

        <div *ngIf="data.registration_type === 'partner' || data.registration_type === 'affiliate'">
          <span class="reg-hint">Select your organization. If your organization is not listed, then enter it in the Comment section.</span>
          <mat-form-field class="form-control org-select">
            <mat-select formControlName="organization" placeholder="Organization" #organizationSelect>
              <ngx-mat-select-search [formControl]="organizationFilterCtrl" [placeholderLabel]="'Find organization...'"
                [noEntriesFoundLabel]="'no matching organization found'"></ngx-mat-select-search>
              <mat-option *ngFor="let organization of filteredOrganizations | async" [value]="organization.id" matTooltip={{organization.name}}>
                {{organization.name}}
              </mat-option>
            </mat-select>
            <mat-icon class="hint-hover-text" matSuffix
                      matTooltip={{regOrganizationTooltip()}} matTooltipClass="tooltip-breakline">
                help</mat-icon>
          </mat-form-field>


          <span class="reg-hint">(Optional) Provide any additional comment or explanation for your request</span>

          <mat-form-field class="form-control general-comment-text-area">
            <textarea matInput #requestComment maxlength="1000" minRows="3" placeholder="Comment"
              formControlName="comment"></textarea>
              <mat-icon class="hint-hover-text" matSuffix
                      matTooltip={{regCommentTooltip()}} matTooltipClass="tooltip-breakline">
                help</mat-icon>
            <mat-hint align="end">{{requestComment.value.length}} / 1000</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="vertical-form-container">
        <div *ngIf="data.registration_type == 'public'">
          <h3>Disclaimer</h3>
          <p class="text-smaller">The data on this website are provided for situational awareness of wildlife health
            events. The USGS National Wildlife Health Center (NWHC) makes every effort to provide accurate and timely
            information; however, data may not be final or fully accurate, especially if an event is ongoing or data
            synthesis is not complete. Conclusions drawn from or actions undertaken on the basis of such data and
            information are the sole responsibility of the user. To ensure that information is accurately interpreted and
            appropriately credited, dissemination of information from this site (publication, press release, technical
            report, etc.) should be done in collaboration with the specific agencies and laboratories that have generated
            the information.
        </div>

        <div *ngIf="data.registration_type === 'partner' || data.registration_type === 'affiliate'">
          <h3>Disclaimer</h3>
          <p class="text-smaller">The data on this website are provided for situational awareness of wildlife health
            events. The USGS National Wildlife Health Center (NWHC) makes every effort to provide accurate and timely
            information; however, data may not be final or fully accurate, especially if an event is ongoing or data
            synthesis is not complete. Conclusions drawn from or actions undertaken on the basis of such data and
            information are the sole responsibility of the user. To ensure that information is accurately interpreted and
            appropriately credited, dissemination of information from this site (publication, press release, technical
            report, etc.) should be done in collaboration with the specific agencies and laboratories that have generated
            the information.
        </div>

        <div *ngIf="data.registration_type === 'partner' || data.registration_type === 'affiliate'" class="disclaimers">
            <div>
              <h3>Terms of Use<mat-icon class="hint-hover-text" matSuffix
                      matTooltip={{regTermsOfUseTooltip()}} matTooltipClass="tooltip-breakline">
                help</mat-icon></h3>
              <p class="text-smaller">The USGS National Wildlife Health Center (NWHC) conducts wildlife disease
                investigations in conjunction with state, federal, tribal, academic, and international partners and WHISPers
                provides a collaborative web-based interface for data entry and communication about wildlife health events.
                By using this site to request diagnostic assistance from NWHC, the user acknowledges that they maintain
                appropriate federal or state authority for collection and shipment of wildlife specimens

                <p class="text-smaller">By default, basic summary information such as county location, species affected, and
                  diagnosis will be made
                  publicly available. We recognize the sensitive nature of aspects of these investigations, including but
                  not
                  limited to the precise location(s) of threatened or endangered species or sensitive habitats. Therefore,
                  registered natural resource management professionals entering data to WHISPers can choose to limit the
                  visibility of sensitive data. In order to maintain the integrity of the database and information served
                  through it, a limited number of staff at NWHC will be able to see all data entered.

            </div>

            <mat-checkbox formControlName="terms" appearance="outline" required>I agree to the terms of use</mat-checkbox>

          </div>

      </div>



    </div>

    <mat-divider></mat-divider>



  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="detail-section-buttons">
    <button mat-stroked-button (click)="this.userRegistrationDialogRef.close('cancel');">
      <mat-icon>close</mat-icon>&nbsp;Cancel
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="userRegistrationForm.invalid"
      (click)="onSubmit(userRegistrationForm.value)">
      <mat-icon>{{data.actionButtonIcon}}</mat-icon> {{data.action_button_text}}
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
  </div>
</mat-dialog-actions>
