<h1 mat-dialog-title>
  <mat-icon *ngIf="data.titleIcon !== ''">{{data.titleIcon}}</mat-icon> {{data.title}} {{data.registration_type ===
  'public' ? 'for General Users' : data.registration_type === 'partner' ? 'for Natural Resources Management
  Professionals' : ''}}
</h1>
<mat-dialog-content>
  <form [formGroup]="userRegistrationForm" class="registration-form" autocomplete="off">

    <div class="vertical-form-container">

      <!-- Username -->
      <mat-form-field class="form-control">
        <input matInput placeholder="Username" formControlName="username" required>
        <mat-hint align="start">{{regUsernameTooltip()}}</mat-hint>
      </mat-form-field>

      <div class="horizontal-form-container">

        <!-- First Name -->
        <mat-form-field class="form-control">
          <input matInput placeholder="First Name" formControlName="first_name">
          <mat-hint align="start">{{regFirstNameTooltip()}}</mat-hint>
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field class="form-control">
          <input matInput placeholder="Last Name" formControlName="last_name">
          <mat-hint align="start">{{regLastNameTooltip()}}</mat-hint>
        </mat-form-field>

      </div>

      <div class="horizontal-form-container">

        <!-- Email address -->
        <mat-form-field class="form-control">
          <input matInput placeholder="Email Address" formControlName="email" required>
          <mat-icon class="hint-hover-text" matSuffix
                matTooltip={{regemailAddressTooltip()}} matTooltipClass="tooltip-breakline">
          help</mat-icon>
          <mat-error *ngIf="userRegistrationForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>

        <!-- Confirm Email address -->
        <mat-form-field class="form-control">
          <input matInput placeholder="Confirm Email Address" formControlName="confirmEmail" required>
          <mat-error *ngIf="userRegistrationForm.get('confirmEmail').invalid">{{getErrorMessage('confirmEmail')}}
          </mat-error>
        </mat-form-field>

      </div>

      <div class="horizontal-form-container">

        <!-- Password -->
        <mat-form-field class="form-control">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-icon class="hint-hover-text" matSuffix
                matTooltip={{regPasswordTooltip()}} matTooltipClass="tooltip-breakline">
          help</mat-icon>
        </mat-form-field>
        <!-- Confirm Password -->
        <mat-form-field class="form-control">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
          <mat-error *ngIf="userRegistrationForm.controls.confirmPassword.errors?.matchPassword">Passwords do not match
          </mat-error>
          <mat-error *ngIf="userRegistrationForm.controls.password.errors">Passwords do not meet requirements
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <h5>Password must be at least 12 characters long and contain at least one: </h5>
        <ul class="text-smaller">
          <li>Lowercase letter (a, b, c, ..., z)</li>
          <li>Number (0, 1, 2, ..., 3)</li>
          <li>Symbol (!, #, @, etc.)</li>
        </ul>
      </div>

      <div class="form-control">
        <re-captcha siteKey="6LfWebYZAAAAADFXX0Xa0He7Y0kv0dYOgZb6YAjm" formControlName="recaptcha" required></re-captcha>
      </div>

      <div *ngIf="data.registration_type == 'public'">
        <h3>Disclaimer</h3>
        <p class="text-smaller">The data on this website are provided for situational awareness of wildlife health
          events. The USGS National Wildlife Health Center (NWHC) makes every effort to provide accurate and timely
          information; however, data may not be final or fully accurate, especially if an event is ongoing or data
          synthesis is not complete. Conclusions drawn from or actions undertaken on the basis of such data and
          information are the sole responsibility of the user. To ensure that information is accurately interpreted and
          appropriately credited, dissemination of information from this site (publication, press release, technical
          report, etc.) should be done in collaboration with the specific agencies and laboratories that have generated
          the information.
      </div>

    <div class="vertical-form-container" *ngIf="data.registration_type === 'partner'">

      <span class="reg-hint">Select the partner organization you would like to join</span>
      <mat-form-field class="form-control org-select">
        <mat-select formControlName="organization" placeholder="Organization" #organizationSelect>
          <ngx-mat-select-search [formControl]="organizationFilterCtrl" [placeholderLabel]="'Find organization...'"
            [noEntriesFoundLabel]="'no matching organization found'"></ngx-mat-select-search>
          <mat-option *ngFor="let organization of filteredOrganizations | async" [value]="organization.id" matTooltip={{organization.name}}>
            {{organization.name}}
          </mat-option>
        </mat-select>
        <mat-icon class="hint-hover-text" matSuffix
                  matTooltip={{regOrganizationTooltip()}} matTooltipClass="tooltip-breakline">
            help</mat-icon>
      </mat-form-field>


      <span class="reg-hint">Select the role you would like within your chosen partner organization</span>

      <mat-form-field class="form-control">
        <mat-select placeholder="Role" formControlName="role">
          <mat-option [value]="5">Partner User</mat-option>
          <mat-option [value]="4">Partner Manager</mat-option>
          <mat-option [value]="3">Partner Administrator</mat-option>
        </mat-select>
        <mat-icon class="hint-hover-text" matSuffix
                  matTooltip={{regRoleTooltip()}} matTooltipClass="tooltip-breakline">
            help</mat-icon>
      </mat-form-field>


      <span class="reg-hint">(Optional) Provide any additional comment or explanation for your request</span>

      <mat-form-field class="general-comment-text-area">
        <textarea matInput #requestComment maxlength="1000" minRows="3" placeholder="Comment"
          formControlName="comment"></textarea>
          <mat-icon class="hint-hover-text" matSuffix
                  matTooltip={{regCommentTooltip()}} matTooltipClass="tooltip-breakline">
            help</mat-icon>
        <mat-hint align="end">{{requestComment.value.length}} / 1000</mat-hint>
      </mat-form-field>

        <div>
          <h3>Disclaimer</h3>
          <p class="text-smaller">The data on this website are provided for situational awareness of wildlife health
            events. The USGS National Wildlife Health Center (NWHC) makes every effort to provide accurate and timely
            information; however, data may not be final or fully accurate, especially if an event is ongoing or data
            synthesis is not complete. Conclusions drawn from or actions undertaken on the basis of such data and
            information are the sole responsibility of the user. To ensure that information is accurately interpreted and
            appropriately credited, dissemination of information from this site (publication, press release, technical
            report, etc.) should be done in collaboration with the specific agencies and laboratories that have generated
            the information.
        </div>

        <div *ngIf="data.registration_type === 'partner'" class="disclaimers">
            <div>
              <h3>Terms of Use<mat-icon class="hint-hover-text" matSuffix
                      matTooltip={{regTermsOfUseTooltip()}} matTooltipClass="tooltip-breakline">
                help</mat-icon></h3>
              <p class="text-smaller">The USGS National Wildlife Health Center (NWHC) conducts wildlife disease
                investigations in conjunction with state, federal, tribal, academic, and international partners and WHISPers
                provides a collaborative web-based interface for data entry and communication about wildlife health events.
                By using this site to request diagnostic assistance from NWHC, the user acknowledges that they maintain
                appropriate federal or state authority for collection and shipment of wildlife specimens

                <p class="text-smaller">By default, basic summary information such as county location, species affected, and
                  diagnosis will be made
                  publicly available. We recognize the sensitive nature of aspects of these investigations, including but
                  not
                  limited to the precise location(s) of threatened or endangered species or sensitive habitats. Therefore,
                  registered natural resource management professionals entering data to WHISPers can choose to limit the
                  visibility of sensitive data. In order to maintain the integrity of the database and information served
                  through it, a limited number of staff at NWHC will be able to see all data entered.

            </div>

            <mat-checkbox formControlName="terms" appearance="outline">I agree to the terms of use</mat-checkbox>

          </div>

      </div>

      <mat-divider></mat-divider>

      <p *ngIf="data.registration_type === 'partner'">
        Thank you for your interest in becoming a WHISPers Partner user. Your request will be reviewed and you will
        receive an email reply as soon as possible.
      </p>



    </div>




  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="detail-section-buttons">
    <button mat-button color="warn" (click)="this.userRegistrationDialogRef.close('cancel');">
      <mat-icon>cancel</mat-icon>&nbsp;Cancel
    </button>
    <button mat-button color="primary" type="submit" [disabled]="userRegistrationForm.invalid"
      (click)="onSubmit(userRegistrationForm.value)">
      <mat-icon>{{data.actionButtonIcon}}</mat-icon>{{data.action_button_text}}
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
  </div>
</mat-dialog-actions>
