
.horizontal-form-container {
    display: flex;
    flex-direction: row;
    @media (max-width: 400px) {
        flex-direction: column;
    }

}

.vertical-form-container {
    display: flex;
    flex-direction: column;
}

.text-smaller {
    font-size: smaller;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-style: bold;
}

.note {
    max-width: 300px;
}

.form-control {
    width: 16em;
    margin: 6px;
}

.general-comment-text-area {
    width: calc(100% - 20px);
    margin-bottom: 2em;
}

.text-small {
    font-size: small;
}

.registration-form{
    display: block;

    p{
        max-width: 500px !important;
        margin: 10px 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }

    .form-control{
        margin-top: 0;
    }

    h3{
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    & > .horizontal-form-container {
      justify-content: space-between;
      & > .vertical-form-container {
        width: calc(50% - 20px);
        @media (max-width: 400px) {
            width: 100%;
        }
      }
    }
}

.detail-section-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.centered{
        justify-content: center;
    }

    button{
        position: relative;
        top: -2px;

        &:hover{
            cursor: pointer;
        }
    }
}

.org-select {
    width: calc(100% - 20px);
}



span.reg-hint{
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #313B57;
    // 10px left/right margin matches that of .form-control
    margin: 6px 10px 0px 10px;
}

.disclaimers{
    padding-bottom: 10px;
}

mat-checkbox[required]:after {
  content: " *";
}

button {
  text-transform: uppercase;
}
