<h1 mat-dialog-title>
  <i class="material-icons"></i> Add Species Diagnosis</h1>
<mat-dialog-content>
  <form [formGroup]="createContactForm">

    <div class="vertical-form-container">


    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button (click)="this.addSpeciesDiagnosisDialogRef.close('cancel');">Cancel</button>
  <!-- <button mat-button type="submit" [disabled]="createContactForm.invalid" (click)="onSubmit(createContactForm.value)">{{action_button_text}}</button> -->
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>