<h1 mat-dialog-title>
  <mat-icon *ngIf="data.titleIcon !== ''">{{data.titleIcon}}</mat-icon> {{data.title}}
</h1>
<mat-dialog-content>

  <span>This form allows you to request a new 'selection' item for WHISPers. Staff of the National Wildlife Health
    Center will recieve your request, review it, and respond to you via email. </span> <br />
  <form [formGroup]="newLookupRequestForm" autocomplete="off">

    <div class="vertical-form-container">

      <h4>Select Item Type to Request<mat-icon class="hint-hover-text" matSuffix 
        matTooltip={{itemTypeToRequestTooltip()}} matTooltipClass="tooltip-breakline">
  help</mat-icon></h4>
      <!-- Item Type -->
      <mat-form-field class="form-control">
        <mat-select required formControlName="item_type">
          <mat-option value="species">New Species</mat-option>
          <mat-option value="organization">New Organization</mat-option>
          <mat-option value="diagnosis">New Diagnosis</mat-option>
        </mat-select>
      </mat-form-field>

      <h4>New request details<mat-icon class="hint-hover-text" matSuffix 
            matTooltip={{newRequestDetailsTooltip()}} matTooltipClass="tooltip-breakline">
      help</mat-icon></h4>
      <mat-form-field class="form-control" class="general-comment-text-area">
        <textarea matInput placeholder="Enter details of your request" formControlName="request_comment"></textarea>
      </mat-form-field>

    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="warn" (click)="this.newLookupRequestDialogRef.close('cancel');">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button>
  <button mat-button color="primary" type="submit" [disabled]="newLookupRequestForm.invalid" (click)="onSubmit(newLookupRequestForm.value)">
    <mat-icon>{{data.actionButtonIcon}}</mat-icon>{{data.action_button_text}}
  </button>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>