<h1 mat-dialog-title>
  <mat-icon *ngIf="data.titleIcon !== ''">{{data.titleIcon}}</mat-icon> {{data.title}}
</h1>
<mat-dialog-content>

  <!-- <div *ngIf="data.action == 'respond'">
    {{data.servicerequest.request_type_string}} <br>
    {{data.servicerequest.created_date | date:'mediumDate'}}
  </div> -->

  <!-- <form [formGroup]="serviceRequestForm" autocomplete="off">
    <div class="vertical-form-container">

      

    </div>
  </form> -->


</mat-dialog-content>
<mat-dialog-actions>
  <div class="detail-section-buttons">

    <button mat-button color="warn" (click)="this.collaborationRequestDialogRef.close('cancel');">
      <mat-icon>cancel</mat-icon>&nbsp;Cancel
    </button>

    <button mat-button color="primary" type="submit" (click)="onSubmit(serviceRequestForm.value)">
      <mat-icon>{{data.actionButtonIcon}}</mat-icon> {{data.action_button_text}}
    </button>

    <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
  </div>
</mat-dialog-actions>