<h1 mat-dialog-title>
    <i class="material-icons">edit</i> Edit Species</h1>
  <mat-dialog-content>
    <form [formGroup]="editSpeciesForm">
  
      <div class="vertical-form-container">
  
        <label><b>{{species}} Details</b></label>

        <mat-form-field class="species-number-control">
          <input matInput placeholder="Known Dead" type="number" formControlName="dead_count">
          <mat-hint align="end" matTooltip="Public field">
            <mat-icon>public</mat-icon>
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="species-number-control">
          <input matInput placeholder="Estimated Dead" type="number" formControlName="dead_count_estimated">
          <mat-hint align="end" matTooltip="Public field">
            <mat-icon>public</mat-icon>
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="species-number-control">
          <input matInput placeholder="Known Sick" type="number" formControlName="sick_count">
          <mat-hint align="end" matTooltip="Public field">
            <mat-icon>public</mat-icon>
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="species-number-control">
          <input matInput placeholder="Estimated Sick" type="number" formControlName="sick_count_estimated">
          <mat-hint align="end" matTooltip="Public field">
            <mat-icon>public</mat-icon>
          </mat-hint>
        </mat-form-field>
  
      </div>
  
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="this.editSpeciesDialogRef.close('cancel');">Cancel</button>
    <button mat-button type="submit" [disabled]="editSpeciesForm.invalid" (click)="updateSpecies(editSpeciesForm.value)">Update</button>
    <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
  </mat-dialog-actions>
