<h1 mat-dialog-title>
  View Species Diagnosis</h1>
<mat-dialog-content>

  <div *ngIf="species">
    <h3><b>{{species}} at {{administrative_level_two}}, {{administrative_level_one}}</b></h3>
  </div>

  <mat-expansion-panel *ngFor="let speciesdiagnosis of speciesdiagnoses; let i = index" [attr.data-index]="i">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>note</mat-icon>&nbsp;{{speciesdiagnosis.diagnosis_string}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <table>
        <tr>
          <th>Species Diagnosis</th>
          <td>{{speciesdiagnosis.diagnosis_string}}</td>
        </tr>
        <tr>
          <th>Significance of Diagnosis for Species</th>
          <td>{{speciesdiagnosis.cause_string}}</td>
        </tr>
        <tr>
          <th>Basis of Diagnosis</th>
          <td>{{speciesdiagnosis.basis}}</td>
        </tr>
        <tr>
          <th>Number Assessed</th>
          <td>{{speciesdiagnosis.ltested_count}}</td>
        </tr>
        <tr>
          <th>Number with diagnosis</th>
          <td>{{speciesdiagnosis.diagnosis_count}}</td>
        </tr>
        <tr>
          <th>Species Diagnosis Suspect</th>
          <td>{{speciesdiagnosis.suspect}}</td>
        </tr>
      </table>
    </div>

    <button mat-stroked-button color="accent">Edit</button>

  </mat-expansion-panel>


</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button color="warn" (click)="this.viewSpeciesDiagnosisDialogRef.close('cancel');">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button>
  <!-- <button mat-button color="primary" type="submit" [disabled]="addSpeciesDiagnosisForm.invalid" (click)="onSubmit(addSpeciesDiagnosisForm.value)">
    <mat-icon>send</mat-icon>{{action_button_text}}
  </button> -->
  <!-- <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar> -->
</mat-dialog-actions>