:host {
  width: 100%;
}
.chiplist {
  flex: 1;
  .mat-chip {
    // .mat-chip has 4px margin on left and right
    max-width: calc(50% - 8px);
  }
  .chip-value {
    flex: 1 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
