<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>WHISPers </span>
    <span> Wildlife Health Information Sharing Partnership event reporting system</span>
    <span class="spacer"></span>
    <span>
      <button mat-button>
        <mat-icon class="icon">info_outline</mat-icon>About</button>
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span></span>
    <span class="spacer"></span>
    <span>
      <button mat-button>
        <mat-icon class="icon">account_box</mat-icon>Login</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>