@import '~@angular/material/theming';
/* ngx-datatable material theming imports */

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
.icon {
    padding: 0 5px;
}

.mat-display-3 {
    margin-bottom: auto !important;
}

.toolbar-bottom-row {
    height: 40px;
    background-color: #2E7D32 !important;
}

.whispers-header {
    //font-family: 'Oswald', sans-serif !important;
    font-family: 'PT Sans', sans-serif !important;
    position: sticky;
    top: 0;
}

.title {
    //font-family: 'Oswald', sans-serif !important;
    font-family: 'PT Sans', sans-serif !important;
    text-decoration: none;
}

.title:hover {
    text-decoration: none;
    cursor: pointer;
}

.text-smaller {
    font-size: smaller;
}

@media (max-width: 870px) {
    .whispers-subtitle {
        display: none;
    }
}

@media (max-width: 400px) {
    .header-button-text {
        display: none;
    }
}

.header-top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header-top-row-spacer {
    //flex: 1 1 auto;
    flex-grow: 1;
}

.about-button-span {
    float: right;
}

.spacer {
    flex: 1 1 auto;
}