// Color Variables

$blue: #1D5FEE;
$blue-dark: #1949D5;
$blue-black: #050921;
$blue-light: #3876FA;
$black: #10152C;
$teal: #3DC9D4;
$white: #FFFFFF;
$bg: #FAFCFF;
$bg-dark: #EEF1FB;
$border-color: fade-out(#A0AFCD, 0.6);
$text: #313B57;
$text-light: rgba(0, 0, 0, 0.54);
$red: #EA3B47;
$green: rgb(75, 122, 30);

$transition: 0.125s;
