<header class="header">
  <mat-toolbar color="primary" class="mat-typography whispers-header">

    <mat-toolbar-row class="header-top-row">

      <div class="whispers-branding">
        <a href="/" class="whispers-title">
          <div class="whispers-logo">
            <img src="./assets/w-logo.png" />
          </div>
          <span>HISPers</span>
        </a>
        <span class="whispers-subtitle">
          <span>Wildlife Health Information Sharing Partnership</span>
          <small>event reporting system</small>
        </span>
      </div>

      <div class="nav-buttons">
        <span class="about-button-span">
          <button mat-button (click)="openAboutDialog()" aria-label="About this application">
            <mat-icon class="icon">info_outline</mat-icon>
            <span class="header-button-text">About</span>
          </button>
        </span>
      </div>


    </mat-toolbar-row>


    <!-- Bottom Header Bar -->
    <mat-toolbar-row class="toolbar-bottom-row">

      <!-- Left Side of bottom toolbar -->
      <div class="left">

        <!-- Home -->
        <button mat-icon-button (click)="navigateToHome()">
          <mat-icon class="icon">home</mat-icon>
        </button>
        
        <!-- User Dashboard -->
        <button mat-button aria-label="User Dashboard" *ngIf="currentUser.username != ''"(click)="openUserDashboard()">
            <i class="material-icons">dashboard</i>
            <span class="header-button-text">User Dashboard</span>
        </button>

        <!-- Create Event -->
        <button mat-button aria-label="Create Event"
          *ngIf="currentUser.username !== '' && currentUser.role !== 7 && currentUser.role !== 6"
          (click)="navigateToEventSubmit()">
          <i class="material-icons">library_add</i>
          <span class="header-button-text">Create Event</span>
        </button>
      </div>

      <!-- App alert -->
      <!-- <span class="app-header-alert" [ngStyle]="{'color': bannerTextColor}">
        <span>{{bannerWarning}}</span>
      </span> -->

      <!-- this used to live within the App alert span-->
      <!-- Please see
        <a href="http://www.nwhc.usgs.gov/WHISPers">nwhc.usgs.gov/WHISPers</a> for the current production version,
        WHISPers 1.0. -->

      <!-- Right side of bottom toolbar -->
      <div class="right">

        <!-- Login Status -->
        <span *ngIf="currentUser.username == ''" class="login-status signin-button">
          <button mat-button aria-label="Login" (click)="openAuthenticationDialog()" *ngIf="currentUser.username == ''">
            Log In&nbsp;
            <mat-icon>account_box</mat-icon>
          </button>
        </span>

        <span *ngIf="currentUser.username !== ''" class="login-status">{{currentUser.first_name}}
          {{currentUser.last_name}}
          <button mat-button aria-label="Logout" id="logoutIcon" (click)="logout()"  matTooltip="Logout">
            <mat-icon class="icon">exit_to_app</mat-icon> <!-- Could also use power_settings_new icon -->
          </button>
        </span>



        <!-- Account Menu -->
        <!-- <button mat-button aria-label="Login">
          <mat-icon class="icon">account_box</mat-icon>
          <span class="header-button-text">Login</span>
          </button> -->
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon">account_box</mat-icon>
        </button> -->

        <!-- <mat-menu #menu="matMenu">
          <button mat-menu-item aria-label="Login" (click)="openAuthenticationDialog()"
            *ngIf="currentUser.username == ''">
            <mat-icon>account_box</mat-icon>
            <span class="header-button-text">Login</span>
          </button>

          <button mat-menu-item aria-label="Logout" (click)="logout()" *ngIf="currentUser.username !== ''">
            <mat-icon>account_box</mat-icon>
            <span class="header-button-text">Logout</span>
          </button>

          <button mat-menu-item aria-label="User Dashboard" (click)="openUserDashboard()"
            *ngIf="currentUser.username != ''">
            <mat-icon>dashboard</mat-icon>
            <span>User Dashboard</span>
          </button>
        </mat-menu> -->



      </div>




    </mat-toolbar-row>
  </mat-toolbar>
</header>

<router-outlet (activate)="onActivate($event)"></router-outlet>

<!-- <div class="grid">
  <aside class="sidebar">Sidebar</aside>
  <article class="content">
    <h1>2 column, header and footer</h1>
    <p>This example uses line-based positioning, to position the header and footer, stretching them across the grid.</p>
  </article>
</div> -->

<footer class="footer">
  <mat-toolbar color="primary" class="mat-typography whispers-header">
    <mat-toolbar-row class="whispers-footer">

      <span class="org">USGS National Wildlife Health Center</span>

      <span class="app-meta">
        <span>Version {{whispersVersion}}</span>
        <span>Developed by <a href="https://wim.usgs.gov" target="_blank">USGS Web Informatics and Mapping
            (WIM)</a></span>
      </span>

    </mat-toolbar-row>
  </mat-toolbar>
</footer>













<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->