<header class="header">
  <mat-toolbar color="primary" class="mat-typography whispers-header">

    <mat-toolbar-row class="header-top-row">

      <span class="mat-display-3 title">
        <a href="/home" style="text-decoration:none; color:white !important;">WHISPers&nbsp;&nbsp;</a>
      </span>

      <span class="subheading-1 whispers-subtitle">
        Wildlife Health Information Sharing Partnership
        <span class="text-smaller">event reporting system</span>
      </span>
      <span class="header-top-row-spacer"></span>
      <span class="about-button-span">
        <button mat-button (click)="openAboutDialog()" aria-label="About this application">
          <mat-icon class="icon">info_outline</mat-icon>
          <span class="header-button-text">About</span>
        </button>
      </span>

    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-bottom-row">
      <span></span>
      <span class="spacer"></span>
      <span>
        <button mat-button aria-label="Submit Event" (click)="navigateToEventSubmit()">
          <i class="material-icons">library_add</i>
          <span class="header-button-text">Submit Event</span>
        </button>
      </span>
      <span>
        <button mat-button aria-label="Login">
          <mat-icon class="icon">account_box</mat-icon>
          <span class="header-button-text">Login</span>
        </button>
      </span>

    </mat-toolbar-row>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>

<!-- <div class="grid">
  <aside class="sidebar">Sidebar</aside>
  <article class="content">
    <h1>2 column, header and footer</h1>
    <p>This example uses line-based positioning, to position the header and footer, stretching them across the grid.</p>
  </article>
</div> -->

<footer class="footer">
  <mat-toolbar color="primary" class="mat-typography whispers-header">
    <mat-toolbar-row>
      <span class="">USGS National Wildlife Health Center</span>
      <span class="spacer"></span>
      <span class="colophon">
        <span class="version-span">Version {{whispersVersion}}</span>
        <br>
        <span>Developed by USGS Web Informatics and Mapping (WIM)</span>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>













<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->