<h1 mat-dialog-title>
  <mat-icon>person</mat-icon> Request Password Reset
</h1>

<mat-dialog-content>
  <form [formGroup]="requestPasswordResetForm" id="requestPasswordResetForm">

    <div class="vertical-form-container">

      <mat-form-field class="form-control">
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="requestPasswordResetForm.get('username').invalid">{{getErrorMessage('username')}}</mat-error>
      </mat-form-field>
	</div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>

  <div class="form-buttons-flex">
    <button mat-stroked-button color="accent" (click)="this.requestPasswordResetDialogRef.close('cancel');">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="requestPasswordResetForm.invalid" (click)="onSubmit(requestPasswordResetForm.value)" form="requestPasswordResetForm">Request Password Reset</button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>

</mat-dialog-actions>
