.text-x-small {
    font-size: x-small;
}

.text-larger {
    font-size: larger;
}

.text-bold {
    font-weight: bold;
}

.citation {
    max-width: 300px;
}

.county-state-label {
    font-size: text-smaller;
    color: dimgray;
}

.form-buttons-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 0;

    &.center{
        justify-content: center;
    }
}