<h1 mat-dialog-title>GNIS Feature Lookup</h1>

<mat-dialog-content>

  <div id="search-api-div"></div>

  <h3>Curent Selection: {{name}} {{id}} <span *ngIf="name === '' && id === ''"><i>None</i></span></h3>

</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button color="warn" (click)="this.gnisLookupDialogRef.close('cancel');">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button>
  <button mat-button color="primary" type="submit" (click)="submitGNISSelection()">
    <mat-icon>send</mat-icon>&nbsp;Use
  </button>

</mat-dialog-actions>