<h1 mat-dialog-title>
  <mat-icon *ngIf="data.titleIcon !== ''">{{data.titleIcon}}</mat-icon> {{data.title}}
</h1>

<mat-dialog-content>

  <h3><span *ngIf="eventID">Event {{eventID}}</span><br />
    <b><span *ngIf="locationspeciesString">{{locationspeciesString}} at</span> {{administrative_level_two}},
      {{administrative_level_one}}</b></h3>

  <form [formGroup]="locationSpeciesForm" autocomplete="off">
    <div class="vertical-form-container">

      <!-- Species autocomplete control -->
      <!-- <mat-form-field class="form-control"  *ngIf="data.location_species_action !== 'edit'">
        <input type="text" matInput placeholder="Species" aria-label="Species" [matAutocomplete]="speciesAutoComplete"
          formControlName="species">
        <mat-autocomplete #speciesAutoComplete="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let species of filteredSpecies | async" [value]="species.id">
            <span>{{ species.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

      <!-- new experimental species search select -->
      <mat-form-field class="form-control">
        <mat-select formControlName="species" placeholder="Species" #speciesSelect>
          <ngx-mat-select-search [formControl]="speciesFilterCtrl" [placeholderLabel]="'Find species...'"
            [noEntriesFoundLabel]="'no matching species found'"></ngx-mat-select-search>
          <mat-option *ngFor="let species of filteredSpecies | async" [value]="species.id">
            {{species.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- end new experimental species search select -->

      <br />

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Population" type="number" min="0" formControlName="population_count">
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.locationSpeciesForm.get('population_count').hasError('min')">Minimum value is 0</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Known Dead" type="number" min="0" formControlName="dead_count">
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.locationSpeciesForm.get('dead_count').hasError('min')">Minimum value is 0</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Estimated Dead" type="number" min="0" formControlName="dead_count_estimated">
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.locationSpeciesForm.get('dead_count_estimated').hasError('min')">Minimum value is 0</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Known Sick" type="number" min="0" min="0" formControlName="sick_count">
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.locationSpeciesForm.get('sick_count').hasError('min')">Minimum value is 0</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Estimated Sick" type="number" min="0" formControlName="sick_count_estimated">
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.locationSpeciesForm.get('sick_count_estimated').hasError('min')">Minimum value is 0</mat-error>
      </mat-form-field>

    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button color="warn" (click)="this.editLocationSpeciesDialogRef.close('cancel');">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button>
  <button mat-button color="primary" type="submit" [disabled]="locationSpeciesForm.invalid" (click)="onSubmit(locationSpeciesForm.value)">
    <mat-icon>send</mat-icon>{{action_button_text}}
  </button>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>