<h1 mat-dialog-title>
  <mat-icon *ngIf="data.titleIcon !== ''">{{data.titleIcon}}</mat-icon> {{data.title}}
</h1>

<mat-dialog-content>

  <h3><span *ngIf="eventID">Event {{eventID}}</span><br />
    <b><span *ngIf="locationspeciesString">{{locationspeciesString}} at</span> {{administrative_level_two}},
      {{administrative_level_one}}</b></h3>

  <form [formGroup]="locationSpeciesForm" autocomplete="off">

    <div class="horizontal-form-container">

      <mat-form-field class="form-control" *ngIf="data.location_species_action !== 'edit'">
        <mat-select formControlName="species" placeholder="Species" #speciesSelect required>
          <ngx-mat-select-search [formControl]="speciesFilterCtrl" [placeholderLabel]="'Find species...'"
            [noEntriesFoundLabel]="'no matching species found'"></ngx-mat-select-search>
          <mat-option *ngFor="let species of filteredSpecies | async" [value]="species.id">
            {{species.name}}
          </mat-option>
        </mat-select>
        <mat-icon style="font-size: 19px" class="hint-hover-text" matSuffix 
              matTooltip={{speciesTooltip()}} matTooltipClass="tooltip-breakline">
        help</mat-icon>
      </mat-form-field>

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Population" type="number" min="0" formControlName="population_count">
        <mat-icon style="font-size: 19px" class="hint-hover-text" matSuffix 
              matTooltip={{populationTooltip()}} matTooltipClass="tooltip-breakline">
        help</mat-icon>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.locationSpeciesForm.get('population_count').hasError('min')">Minimum value is 0
        </mat-error>
        <mat-error *ngIf="this.locationSpeciesForm.get('population_count').hasError('integer')">Must be an integer
          (whole number)</mat-error>
      </mat-form-field>

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Known Dead" type="number" min="0" formControlName="dead_count"
          (ngModelChange)="checkLocationSpeciesNumbers()">
          <mat-icon style="font-size: 19px" class="hint-hover-text" matSuffix 
              matTooltip={{editKnownDeadTooltip()}} matTooltipClass="tooltip-breakline">
        help</mat-icon>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.locationSpeciesForm.get('dead_count').hasError('min')">Minimum value is 0</mat-error>
        <mat-error *ngIf="this.locationSpeciesForm.get('dead_count').hasError('integer')">Must be an integer (whole
          number)</mat-error>
      </mat-form-field>

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Estimated Dead" type="number" min="0" formControlName="dead_count_estimated"
          (ngModelChange)="checkLocationSpeciesNumbers()">
          <mat-icon style="font-size: 19px" class="hint-hover-text" matSuffix 
              matTooltip={{editEstimatedDeadTooltip()}} matTooltipClass="tooltip-breakline">
        help</mat-icon>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.locationSpeciesForm.get('dead_count_estimated').hasError('min')">Minimum value is 0
        </mat-error>
        <mat-error *ngIf="this.locationSpeciesForm.get('dead_count_estimated').hasError('integer')">Must be an integer
          (whole number)</mat-error>
        <mat-error *ngIf="this.locationSpeciesForm.get('dead_count_estimated').hasError('estimatedDead')">Must be
          higher than known dead</mat-error>
      </mat-form-field>

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Known Sick" type="number" min="0" formControlName="sick_count"
          (ngModelChange)="checkLocationSpeciesNumbers()">
          <mat-icon style="font-size: 19px" class="hint-hover-text" matSuffix 
              matTooltip={{editKnownSickTooltip()}} matTooltipClass="tooltip-breakline">
        help</mat-icon>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.locationSpeciesForm.get('sick_count').hasError('min')">Minimum value is 0</mat-error>
        <mat-error *ngIf="this.locationSpeciesForm.get('sick_count').hasError('integer')">Must be an integer (whole
          number)</mat-error>
      </mat-form-field>

      <mat-form-field class="species-number-control">
        <input matInput placeholder="Estimated Sick" type="number" min="0" formControlName="sick_count_estimated"
          (ngModelChange)="checkLocationSpeciesNumbers()">
          <mat-icon style="font-size: 19px" class="hint-hover-text" matSuffix 
              matTooltip={{editEstimatedSickTooltip()}} matTooltipClass="tooltip-breakline">
        help</mat-icon>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
        <mat-error *ngIf="this.locationSpeciesForm.get('sick_count_estimated').hasError('min')">Minimum value is 0
        </mat-error>
        <mat-error *ngIf="this.locationSpeciesForm.get('sick_count_estimated').hasError('integer')">Must be an integer
          (whole number)</mat-error>
        <mat-error *ngIf="this.locationSpeciesForm.get('sick_count_estimated').hasError('estimatedSick')">Must be
          higher than known sick</mat-error>
      </mat-form-field>
    </div>

    <div class="horizontal-form-container">
      <mat-form-field class="species-bias-control">
        <mat-select placeholder="Age Bias" formControlName="age_bias">
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let ageBias of ageBiases" value="{{ageBias.id}}">{{ageBias.name}}</mat-option>
        </mat-select>
        <mat-icon style="font-size: 19px" class="hint-hover-text" matSuffix 
              matTooltip={{editAgeBiasTooltip()}} matTooltipClass="tooltip-breakline">
        help</mat-icon>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="species-bias-control">
        <mat-select placeholder="Sex Bias" formControlName="sex_bias">
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let sexBias of sexBiases" value="{{sexBias.id}}">{{sexBias.name}}</mat-option>
        </mat-select>
        <mat-icon style="font-size: 19px" class="hint-hover-text" matSuffix 
              matTooltip={{editSexBiasTooltip()}} matTooltipClass="tooltip-breakline">
        help</mat-icon>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-select placeholder="Captive" formControlName="captive" 
        (ngModelChange)="enforceCaptiveRule($event)">
          <mat-option [value]="true">Captive > 72 hours</mat-option>
          <mat-option [value]="false">Wild and/or free-ranging</mat-option>
        </mat-select>
        <mat-icon style="font-size: 19px" class="hint-hover-text" matSuffix 
              matTooltip={{editCaptiveTooltip()}} matTooltipClass="tooltip-breakline">
        help</mat-icon>
        <mat-hint align="end" matTooltip="Public field">
          <mat-icon>public</mat-icon>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="submissionReviewErrors">
      <mat-error color="warn" *ngIf="locationSpeciesNumbersViolation">
        <mat-icon class="icon">error</mat-icon>
        <span class="alert-text">For morbidity/mortality events, there must be at least one value greater
          than 0
          between Known Dead, Estimated Dead, Known Sick, and Estimated Sick for at least one species
          in the event.</span>
      </mat-error>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions>

  <button mat-button color="warn" (click)="this.editLocationSpeciesDialogRef.close('cancel');">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button>
  <button mat-button color="primary" type="submit" (click)="onSubmit(locationSpeciesForm.value)" [disabled]="locationSpeciesForm.invalid">
    <mat-icon>send</mat-icon> {{action_button_text}}
  </button>
  <!-- <button mat-button color="primary" type="submit" [disabled]="locationSpeciesForm.invalid"
  (click)="onSubmit(locationSpeciesForm.value)">
  <mat-icon>send</mat-icon> {{action_button_text}}
</button> -->
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>