.form-control {
    width: 18em;
    margin: 10px;
}

.species-number-control {
    width: 8em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    flex-grow: 1;
}

.species-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 1em;
}