.horizontal-form-container {
    display: flex;
    flex-direction: row;
  }

  .vertical-form-container {
    display: flex;
    flex-direction: column;
  }

  .form-control {
      width: 18em;
      margin:10px;
  }

  .text-large {
      font-size: large;
  }

  .text-bold {
      font-style: bold;
  }

  .event-location-card {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .species-number-control{
      width: 8em;
      margin: 10px;
  }
  
//   .example-container > * {
//     width: 100%;
//   }