.horizontal-form-container {
    display: flex;
    flex-direction: row;
}

.vertical-form-container {
    display: flex;
    flex-direction: column;
}

.contacts-section-header {
    display: flex;
    flex-direction: row;
    margin-right: 10em;
}

.form-control {
    width: 18em;
    margin: 10px;
}

.form-control-short {
    width: 14em;
    margin: 10px;
}

.comment-text-area {
    width: 60em;
    margin-bottom: 2em;
}

.general-comment-text-area {
    width: 40em;
    margin-bottom: 2em;
}

.event-org-select {
    width: 40em;
}

.contact-select {
    width: 50em;
    flex-grow: 2;
}

.contact-type-select {
    flex-grow: 1;
}

.contact-button-div {
    flex-grow: 1;
}

.hint {
    max-width: 90%;
}

.text-large {
    font-size: large;
}

.text-bold {
    font-style: bold;
}

.event-location-card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.species-number-control {
    width: 8em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    flex-grow: 1;
}

.species-number-control-w-help {
    width: 10em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    flex-grow: 1;
}


.species-bias-control {
    width: 10em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    flex-grow: 1;
}

.species-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 1em;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 1em;
    width: auto;
    display: inline-block;
}

.species-control-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

// .species-control-container>* {
//     flex: 1 1 8em;
// }
.contact-controls-container {
    display: flex;
    flex-direction: row; // min-width: 0;
    flex-wrap: wrap;
}

.contact-controls-container>* {
    flex: 1 1;
}

.field-help-button {
    // width: 25px !important;
    // height: 15px !important;
}

.temporary-form-value-display {
    border: 2px solid green;
    border-radius: 5px;
}

.event-submit-progress-bar {
    width: 40%
}

.alert-text {
    vertical-align: middle;
}

mat-radio-button {
    padding-right: 16px;
}

.event-diagnosis-select {
    width: 30em;
}