.horizontal-form-container {
    display: flex;
    flex-direction: row;
  }

  .vertical-form-container {
    display: flex;
    flex-direction: column;
  }

  .form-control {
      width: 18em;
      margin:10px;
  }

  .text-large {
      font-size: large;
  }

  .text-bold {
      font-style: bold;
  }

  .event-location-card {
    //   width: 100%;
  }
  
//   .example-container > * {
//     width: 100%;
//   }