

.user-info-card{
    padding: 0 !important;

    .contact-detail{
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 0;
        color: #313B57;
        font-weight: 700;
        font-size: 16px;

        small{
            font-size: 11px;
            color: rgba(0, 0, 0, 0.54);
            font-weight: 500;
            display: block;
            width: 100%;
        }
    }
}