<h2 mat-dialog-title>
  <mat-icon *ngIf="data.titleIcon !== ''">{{data.titleIcon}}</mat-icon> {{data.title}}
</h2>
<mat-dialog-content>
  <!-- <mat-icon *ngIf="data.messageIcon !== ''">{{data.messageIcon}}</mat-icon> -->
  {{data.message}}
</mat-dialog-content>
<mat-dialog-actions>
  <div class="detail-section-buttons centered">
    <button mat-button mat-dialog-close color="warn" *ngIf="data.showCancelButton">
      <mat-icon>cancel</mat-icon>&nbsp;Cancel
    </button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button [mat-dialog-close]="true" color="primary"> <mat-icon>done</mat-icon>&nbsp;{{data.confirmButtonText}}</button>
  </div>
</mat-dialog-actions>