<div>
<mat-card-content>
    <div class="spinner-container" *ngIf="commentsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="commentsDataSource" class="results-table-div">

      <mat-table [dataSource]="commentsDataSource" matSort matSortActive="comment" matSortDirection="asc"
        *ngIf="commentsDataSource.data.length > 0">

        <!-- Selection column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="comment_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Comment Type </mat-header-cell>
          <mat-cell *matCellDef="let eventData"> {{eventData.comment_type}} </mat-cell>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="created_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
          <mat-cell *matCellDef="let contact"> {{contact.first_name}} </mat-cell>
        </ng-container>

        <!-- Phone Number Column -->
        <ng-container matColumnDef="created_by_first_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
          <mat-cell *matCellDef="let contact"> {{formatPhone(contact.phone)}} </mat-cell>
        </ng-container>

        <!-- Email Address Column -->
        <ng-container matColumnDef="created_by_last_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let contact"> {{contact.email}} </mat-cell>
        </ng-container>

        <!-- Organization Column -->
        <ng-container matColumnDef="created_by_organization_string">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Organization </mat-header-cell>
          <mat-cell *matCellDef="let contact"> {{contact.organization_string}} </mat-cell>
        </ng-container>

        <!-- Permission Source Column -->
        <ng-container matColumnDef="content_type_string">
          <mat-header-cell *matHeaderCellDef mat-sort-header> location </mat-header-cell>
          <mat-cell *matCellDef="let contact"> {{contact.permission_source}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="commentDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let event; columns: commentDisplayedColumns;"></mat-row>
      </mat-table>

      <div *ngIf="commentsDataSource.data.length === 0 && commentsLoading === false">
        <h3>No contacts found</h3>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>

  </mat-card-content>
</div>