.results-table-div {
    flex-grow: 3;
    width: auto;
    min-width: 550px;

    #resultsMapHeader {
        justify-content: flex-end;
    }

    // Table
    .mat-table {
        .mat-header-row {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            .mat-header-cell {
                box-sizing: border-box;
                padding: 3px;

                &:first-child {
                    padding-left: 15px;
                }

                &:last-child {
                    padding-right: 15px;
                }
            }
        }

        .mat-row {
            .mat-cell {
                font-size: 12px;
                box-sizing: border-box;
                padding: 3px;

                &:first-child {
                    padding-left: 15px;
                }

                &:last-child {
                    padding-right: 15px;
                }

                ul {
                    padding-left: 15px;

                    li {
                        line-height: 12px;
                        padding: 3px 0;
                        word-break: break-word;
                    }
                }
            }
        }
    }
}

/* Custom styles making comment and organization columns wider */
.mat-header-cell:first-child,.mat-cell:first-child{
    max-width: 6%;
  }
.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
    flex:10%;
  }