.commentsTab {
    max-width: 1035px;
}

.mat-cell,
.mat-header-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 10px;
  white-space: nowrap;
  display: block;
  margin-top: 20px;
}
/* Ellipsis won't work with the flex attribute without the display: block. Might need to recruit Mitch for some CSS magic on this table.*/

/* Custom styles making comment and organization columns wider */
.mat-header-cell:first-child,.mat-cell:first-child{
    max-width: 6%;
  }
.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
    flex:10%;
  }

 