<mat-card-title>
  Event Submission Confirmation</mat-card-title>

<mat-list>
  <mat-list-item>
    <h4 mat-line>
      <strong>Event Type</strong>
    </h4>
    <p mat-line>
      <span>{{data.formValue.event_type | displayValue:'name':data.eventTypes}}</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line>
      <strong>Event Reference</strong>
    </h4>
    <p mat-line>
      <span>{{data.formValue.event_reference}}</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line>
      <strong>Event Visibility</strong>
    </h4>
    <p mat-line>
      <span>{{data.formValue.public ? "Visible to Public" : "Not Visible to Public"}}</span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line>
      <strong>Event Organizations</strong>
    </h4>
    <p mat-line>
      <span *ngFor="let organization of data.formValue.new_organizations">{{organization | displayValue:'name':data.organizations}}<br
        /></span>
    </p>
  </mat-list-item>
  <p>

  <div *ngFor="let event_location of data.formValue.new_event_locations">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Location {{data.formValue.new_event_locations.indexOf(event_location) + 1}}  {{event_location.name}}</mat-card-title>
       
        <mat-card-subtitle>{{event_location.administrative_level_two | displayValue:'name':data.adminLevelTwos}}, {{event_location.administrative_level_one | displayValue:'name':data.adminLevelOnes}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>Latitude: {{event_location.latitude}} | Longitude: {{event_location.longitude}} </li>
          <li>Start Date: {{event_location.start_date}} | Location End Date: {{event_location.end_date}}</li>
          <li>Land ownership: {{event_location.land_ownership | displayValue:'name':data.landOwnerships}}</li>
          <li>History: {{event_location.history}}</li>
          <li>Environmental Factors: {{event_location.environmental_factors}}</li>
          <li>Site Description: {{event_location.site_description}}</li>
          <li>Clinical Signs: {{event_location.clinical_signs}}</li>
          <label>Species</label>
          <ul>
            <li *ngFor="let location_species of event_location.location_species">{{location_species.species | displayValue:'name':data.species}}</li>
          </ul>
        </ul>

      </mat-card-content>

    </mat-card>

  </div>





</mat-list>
<div>
  <button mat-raised-button color="primary" (click)="submitEvent();">
    <i class="material-icons ">done</i> Save Event</button>
</div>