.results-table-div {
    flex-grow: 3;
    width: auto;
    min-width: 550px;

    #resultsMapHeader {
        justify-content: flex-end;
    }

    // Table
    .mat-table {
        .mat-header-row {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            .mat-header-cell {
                box-sizing: border-box;
                padding: 3px;

                &:first-child {
                    padding-left: 15px;
                }

                &:last-child {
                    padding-right: 15px;
                }
            }
        }

        .mat-row {
            .mat-cell {
                font-size: 12px;
                box-sizing: border-box;
                padding: 3px;

                &:first-child {
                    padding-left: 15px;
                }

                &:last-child {
                    padding-right: 15px;
                }

                ul {
                    padding-left: 15px;

                    li {
                        line-height: 12px;
                        padding: 3px 0;
                        word-break: break-word;
                    }
                }
            }
        }
    }
}

.table-cell-list {
    padding: 0;
    list-style-type: none;

    li {
        position: relative;
        line-height: 11px;
        font-size: 11.5px;
    }

}
.results-button-row {
    margin: 5px;
}

.selection-display-div {
    padding: 5px;
    margin: 5px;
}

.search-display-div {
    padding: 5px;
    margin: 5px;
}

.text-smaller {
    font-size: smaller;
}

.text-small {
    font-size: small;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-style: bold;
}

.text-large {
    font-size: large;
}