<h1 mat-dialog-title>
  <i class="material-icons">
    search
  </i> Search WHISPers</h1>
<mat-dialog-content>

  <form [formGroup]="searchForm" class="autocomplete-form">


    <mat-divider></mat-divider>

    <mat-accordion>

      <!-- Event type expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Event Type</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #eventTypeChipList>
                  <span *ngFor="let eventType of selectedEventTypes">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)" (removed)="removeChip(eventType, selectedEventTypes, 'eventType')">{{eventType.name}}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedEventTypes.indexOf(eventType)) < (selectedEventTypes.length - 1)">or&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add Event Type" aria-label="Add Event Type" [matAutocomplete]="eventTypeAutoComplete"
                [formControl]="eventTypeControl" (valueChanges)="addChip($event, selectedEventTypes, 'eventType')">
              <mat-autocomplete #eventTypeAutoComplete="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addChip($event, selectedEventTypes, 'eventType')">
                <mat-option *ngFor="let eventType of filteredEventTypes | async" [value]="eventType">
                  <span>{{ eventType.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <!-- <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="event_type_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div> -->
        </div>
      </mat-expansion-panel>
      <!--- end Event type expansion panel -->

      <!--- Diagnosis type expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Diagnosis Type</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #diagnosisTypeChipList>
                  <span *ngFor="let diagnosisType of selectedDiagnosisTypes">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)" (removed)="removeChip(diagnosisType, selectedDiagnosisTypes, 'diagnosisType')">{{diagnosisType.name}}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedDiagnosisTypes.indexOf(diagnosisType)) < (selectedDiagnosisTypes.length - 1)">{{(searchForm.get('diagnosis_type_includes_all').value) ? "and" : "or"}}&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add Diagnosis Type" aria-label="Add Diagnosis Type" [matAutocomplete]="diagnosisTypeAutoComplete"
                [formControl]="diagnosisTypeControl">
              <mat-autocomplete #diagnosisTypeAutoComplete="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addChip($event, selectedDiagnosisTypes, 'diagnosisType')">
                <mat-option *ngFor="let diagnosisType of filteredDiagnosisTypes | async" [value]="diagnosisType">
                  <span>{{ diagnosisType.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="diagnosis_type_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-expansion-panel>
      <!--- end Diagnosis type expansion panel -->

      <!--- Diagnosis expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Diagnosis</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #diagnosisChipList>
                  <span *ngFor="let diagnosis of selectedDiagnoses">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)" (removed)="removeChip(diagnosis, selectedDiagnoses, 'diagnosis')">{{diagnosis.name}}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedDiagnoses.indexOf(diagnosis)) < (selectedDiagnoses.length - 1)">{{(searchForm.get('diagnosis_includes_all').value) ? "and" : "or"}}&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add Diagnosis" aria-label="Add Diagnosis" [matAutocomplete]="diagnosisAutoComplete"
                [formControl]="diagnosisControl">
              <mat-autocomplete #diagnosisAutoComplete="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addChip($event, selectedDiagnoses, 'diagnosis')">
                <mat-option *ngFor="let diagnosis of filteredDiagnoses | async" [value]="diagnosis">
                  <span>{{ diagnosis.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="diagnosis_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-expansion-panel>
      <!--- end Diagnosis expansion panel -->

      <!--- Species expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Species</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #speciesChipList>
                  <span *ngFor="let species of selectedSpecies">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)" (removed)="removeChip(species, selectedSpecies, 'species')">{{species.name}}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedSpecies.indexOf(species)) < (selectedSpecies.length - 1)">{{(searchForm.get('species_includes_all').value) ? "and" : "or"}}&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add Species" aria-label="Add Species" [matAutocomplete]="speciesAutoComplete" [formControl]="speciesControl">
              <mat-autocomplete #speciesAutoComplete="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addChip($event, selectedSpecies, 'species')">
                <mat-option *ngFor="let species of filteredSpecies | async" [value]="species">
                  <span>{{ species.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="species_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-expansion-panel>
      <!--- end Species expansion panel -->

      <!--- Admin Level One (State) expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>State</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #adminLevelOneChipList>
                  <span *ngFor="let adminLevelOne of selectedAdminLevelOnes">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)" (removed)="removeChip(adminLevelOne, selectedAdminLevelOnes, 'adminLevelOne')">{{adminLevelOne.name}}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedAdminLevelOnes.indexOf(adminLevelOne)) < (selectedAdminLevelOnes.length - 1)">{{(searchForm.get('administrative_level_one_includes_all').value) ? "and" : "or"}}&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add State" aria-label="Add State" [matAutocomplete]="adminLevelOneAutoComplete"
                [formControl]="adminLevelOneControl">
              <mat-autocomplete #adminLevelOneAutoComplete="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addChip($event, selectedAdminLevelOnes, 'adminLevelOne')">
                <mat-option *ngFor="let adminLevelOne of filteredAdminLevelOnes | async" [value]="adminLevelOne">
                  <span>{{ adminLevelOne.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="administrative_level_one_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-expansion-panel>
      <!--- end Admin Level One (State) expansion panel -->

      <!--- Admin Level Two (County) expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>County</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #adminLevelTwoChipList>
                  <span *ngFor="let adminLevelTwo of selectedAdminLevelTwos">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)" (removed)="removeChip(adminLevelTwo, selectedAdminLevelTwos, 'adminLevelTwo')">{{adminLevelTwo.name}}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedAdminLevelTwos.indexOf(adminLevelTwo)) < (selectedAdminLevelTwos.length - 1)">{{(searchForm.get('administrative_level_two_includes_all').value) ? "and" : "or"}}&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add County" aria-label="Add County" [matAutocomplete]="adminLevelTwoAutoComplete"
                [formControl]="adminLevelTwoControl">
              <mat-spinner *ngIf="adminLevelTwosLoading" [diameter]="20"></mat-spinner>
              <mat-autocomplete #adminLevelTwoAutoComplete="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addChip($event, selectedAdminLevelTwos, 'adminLevelTwo')">
                <mat-option *ngFor="let adminLevelTwo of filteredAdminLevelTwos | async" [value]="adminLevelTwo">
                  <span>{{ adminLevelTwo.name }}</span>
                </mat-option>
              </mat-autocomplete>
              <mat-hint align="start">Select a state to populate/update county list </mat-hint>
            </mat-form-field>
          </div>
          <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="administrative_level_two_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-expansion-panel>
      <!--- end Admin Level Two (County) expansion panel -->

      <!-- Number Affected expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Number Affected</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>{{searchForm.get('affected_count').value}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <input matInput type="number" placeholder="Number Affected" formControlName="affected_count">
          </mat-form-field>

        </div>
      </mat-expansion-panel>
      <!--- end Number Affected expansion panel -->

      <!-- Date Range expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Date Range</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>{{searchForm.get('start_date').value | date:'mediumDate'}}</span>
            <span *ngIf="(searchForm.get('start_date').value !== null) || (searchForm.get('end_date').value !== null)">&nbsp;thru&nbsp;</span>
            <span>{{searchForm.get('end_date').value | date:'mediumDate'}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="start_date">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="end_date">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>

        </div>
      </mat-expansion-panel>
      <!--- end Date Range expansion panel -->

    </mat-accordion>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="clearSelection()">
    <mat-icon class="material-icons">clear_all</mat-icon> Clear Selection</button>
  <button mat-button (click)="this.searchDialogRef.close('cancel');">
    <mat-icon class="material-icons">cancel</mat-icon> Cancel</button>
  <button mat-raised-button color="primary" (click)="submitSearch(searchForm.value)">
    <mat-icon class="material-icons">search</mat-icon> Search</button>
</mat-dialog-actions>