.autocomplete-form {
    // min-width: 300px;
    // max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

.autocomplete-input{
  display: inline-block;
}

.chiplist {
  display: inline-block;
}