<h1 mat-dialog-title>Update Search</h1>
<mat-dialog-content>

  <form [formGroup]="searchForm" class="autocomplete-form">

    <!-- <mat-form-field>
      <mat-select placeholder="Event Type" formControlName="event_type">
        <mat-option *ngFor="let eventType of eventTypes" [value]="eventType.id">
          {{eventType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-select placeholder="Diagnosis Type" formControlName="diagnosis_type">
        <mat-option *ngFor="let diagnosisType of diagnosisTypes" [value]="diagnosisType.id">
          {{diagnosisType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <br>

    <mat-accordion>

      <!--- Diagnosis type expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Diagnosis Type</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #diagnosisChipList>
                  <span *ngFor="let diagnosis of selectedDiagnoses">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)" (remove)="removeChip(diagnosis, 'diagnosis')">{{diagnosis.diagnosis}}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedDiagnoses.indexOf(diagnosis)) < (selectedDiagnoses.length - 1)">{{(searchForm.get('diagnosis_includes_all').value) ? "and" : "or"}}&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add Diagnosis" aria-label="Add Diagnosis" [matAutocomplete]="auto" [formControl]="diagnosisControl">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addChip($event,'diagnosis')">
                <mat-option *ngFor="let diagnosis of filteredDiagnoses | async" [value]="diagnosis">
                  <span>{{ diagnosis.diagnosis }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="diagnosis_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-expansion-panel>

      <!--- end Diagnosis type expansion panel -->


      <!--- Diagnosis expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Diagnosis</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #diagnosisChipList>
                  <span *ngFor="let diagnosis of selectedDiagnoses">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)" (remove)="removeChip(diagnosis, 'diagnosis')">{{diagnosis.diagnosis}}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedDiagnoses.indexOf(diagnosis)) < (selectedDiagnoses.length - 1)">{{(searchForm.get('diagnosis_includes_all').value) ? "and" : "or"}}&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add Diagnosis" aria-label="Add Diagnosis" [matAutocomplete]="auto" [formControl]="diagnosisControl">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addChip($event,'diagnosis')">
                <mat-option *ngFor="let diagnosis of filteredDiagnoses | async" [value]="diagnosis">
                  <span>{{ diagnosis.diagnosis }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="diagnosis_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-expansion-panel>
      <!--- end Diagnosis expansion panel -->

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            State
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>


    </mat-accordion>


    <!-- Diagnosis select automplete and chiplist seperate -->
    <!-- <div>
      <div class="autocomplete-input">
        <mat-form-field class="full-width">
          <input matInput placeholder="Add Diagnosis" aria-label="Add Diagnosis" [matAutocomplete]="auto" [formControl]="diagnosisControl">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addChip($event, diagnosisChipInput, 'diagnosis')">
            <mat-option *ngFor="let diagnosis of filteredDiagnoses| async" [value]="diagnosis">
              <span>{{ diagnosis.diagnosis }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="chiplist">
        <mat-chip-list #diagnosisChipList>
          <span *ngFor="let diagnosis of selectedDiagnoses">
            <mat-chip [selectable]="selectable" [removable]="removable" (remove)="removeChip(diagnosis, 'diagnosis')">{{diagnosis.diagnosis}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <span *ngIf="(selectedDiagnoses.indexOf(diagnosis)) < (selectedDiagnoses.length - 1)">&nbsp;or&nbsp;</span>
          </span>
        </mat-chip-list>
      </div>
    </div> -->
    <!-- end Diagnosis select automplete and chiplist seperate -->

    <br>

    <!-- State select -->
    <!-- <mat-form-field class="full-width">
      <mat-chip-list #stateChipList>
        <mat-chip *ngFor="let state of selectedStates" [selectable]="selectable" [removable]="removable" (remove)="removeChip(state, 'state')">{{state.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input matInput placeholder="State" aria-label="State" [matChipInputFor]="stateChipList" [matAutocomplete]="stateAutoComplete"
          [formControl]="stateControl" #stateChipInput>
      </mat-chip-list>
      <mat-autocomplete #stateAutoComplete="matAutocomplete" (optionSelected)="addChip($event, stateChipInput, 'state')">
        <mat-option *ngFor="let state of filteredStates" [value]="state">
          <span>{{state.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-checkbox>Include All</mat-checkbox> -->
    <!-- end State select -->

    <br>

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button (click)="submitSearch()">Submit</button>
</mat-dialog-actions>