<span class="mat-title">User Dashboard</span>

<mat-card class="user-info-card">
  <mat-card-header>
    <mat-card-title><b>User Name</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span><label>Role: Partner User</label></span><br/>
    <span><label>Affiliation: WI DNR</label></span><br/>
    <span><label>Title: Biologist</label></span><br/>
    <span><label>Positon: </label></span><br/>
    <span><label>Address: 3456 State Hwy 67</label></span><br/>
    <span><label>City: Ashland</label></span><br/>
    <span><label>State: WI</label></span><br/>
    <span><label>Postal Code: 53478</label></span><br/>
    <span><label>Email: jsmith@dnr.mn.gov</label></span><br/>
    <span><label>Phone: 608-456-3888, Ext 210</label></span><br/>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Update user information</button>
  </mat-card-actions>
</mat-card>

<mat-tab-group (selectedIndexChange)="_setDataSource($event)" >
  <mat-tab label="Contacts"> 
    
    <mat-card>
      <mat-card-title>
    
        <div class="results-card-title-row">
          <span class="results-button-row">
            <button mat-button color="accent" (click)="openCreateContactDialog()">
              <i class="material-icons">
                  add_box
              </i>  Add</button>
            <button mat-button color="accent" (click)="openEditContactDialog()">
                <i class="material-icons">
                    edit
                </i>  Edit</button>
            <button mat-button color="accent" (click)="removeContact()">
                <i class="material-icons">
                    remove_circle
                </i>  Delete</button>
          </span>
    
        </div>
      </mat-card-title>
      <mat-card-content>
        <div *ngIf="contactsDataSource" class="results-table-div">


          <!-- <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field> -->

          <mat-table [dataSource]="contactsDataSource" matSort matSortActive="last_name" matSortDirection="asc">

            <!-- Selection column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="last_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{contact.last_name}} </mat-cell>
            </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="first_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{contact.first_name}} </mat-cell>
            </ng-container>

            <!-- Phone Number Column -->
            <ng-container matColumnDef="phone_number">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{formatPhone(contact.phone)}} </mat-cell>
            </ng-container>

            <!-- Email Address Column -->
            <ng-container matColumnDef="email_address">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Email Address </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{contact.email}} </mat-cell>
            </ng-container>

            <!-- Organization Column -->
            <ng-container matColumnDef="organization">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Organization </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{contact.organization}} </mat-cell>
            </ng-container>

            <!-- Permission Source Column -->
            <ng-container matColumnDef="permission_source">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Permission Source </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{contact.permission_source}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="contactDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let event; columns: contactDisplayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-tab>
  
  <mat-tab label="Your Events">

    <mat-card>
      <mat-card-title>

        <div class="results-card-title-row">
          <span class="results-button-row">
            <button mat-button color="accent">
              <i class="material-icons">
                  unarchive
              </i> Export Data</button>
          </span>

        </div>
      </mat-card-title>
      <mat-card-content>
        <div *ngIf="dataSource" class="results-table-div">


          <!-- <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field> -->

          <mat-table #eventSort='matSort' [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.id}} </mat-cell>
            </ng-container>

            <!-- Event Type Column -->
            <ng-container matColumnDef="event_type_string">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.event_type_string}} </mat-cell>
            </ng-container>

            <!-- Affected Count Column -->
            <ng-container matColumnDef="affected_count">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Affected </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.affected_count}} </mat-cell>
            </ng-container>

            <!-- Start Date Column -->
            <ng-container matColumnDef="start_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.start_date | date:'shortDate'}} </mat-cell>
            </ng-container>

            <!-- End Date Column -->
            <ng-container matColumnDef="end_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.end_date | date:'shortDate'}} </mat-cell>
            </ng-container>

            <!-- States Column -->
            <ng-container matColumnDef="administrativelevelones">
              <mat-header-cell *matHeaderCellDef mat-sort-header> States </mat-header-cell>
              <mat-cell *matCellDef="let event">
                <span *ngFor="let administrativelevelone of event.administrativelevelones">{{administrativelevelone.name}}
                  <span *ngIf="(event.administrativelevelones.indexOf(administrativelevelone)) < (event.administrativelevelones.length - 1)">, </span>
                </span>
              </mat-cell>
            </ng-container>

            <!-- Counties Column -->
            <ng-container matColumnDef="administrativeleveltwos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Counties </mat-header-cell>
              <mat-cell *matCellDef="let event">
                <span *ngFor="let administrativeleveltwo of event.administrativeleveltwos">{{administrativeleveltwo.name}}
                  <span *ngIf="(event.administrativeleveltwos.indexOf(administrativeleveltwo)) < (event.administrativeleveltwos.length - 1)">, </span>
                </span>
              </mat-cell>
            </ng-container>

            <!-- Species Column -->
            <ng-container matColumnDef="species">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Species </mat-header-cell>
              <mat-cell *matCellDef="let event">
                <span *ngFor="let species of event.species">{{species.name}}
                  <span *ngIf="(event.species.indexOf(species)) < (event.species.length - 1)">, </span>
                </span>
              </mat-cell>
            </ng-container>

            <!-- Event Diagnosis Column -->
            <ng-container matColumnDef="eventdiagnoses">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Event Diagnosis </mat-header-cell>
              <mat-cell *matCellDef="let event">
                <span *ngFor="let diagnosis of event.eventdiagnoses">{{diagnosis.diagnosis_string}}
                  <span *ngIf="(event.eventdiagnoses.indexOf(diagnosis)) < (event.eventdiagnoses.length - 1)">, </span>
                </span>
                <span *ngIf="event.eventdiagnoses.length == 0">TBD</span>
              </mat-cell>
            </ng-container>

            <!-- Permission Source Column -->
            <ng-container matColumnDef="permission_source">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Permission Source </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.permission_source}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let event; columns: displayedColumns;" (click)="selectEvent(event)"></mat-row>
          </mat-table>

          <mat-paginator #eventPaginator='matPaginator' [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-tab>
  
  <mat-tab label="Saved Searches">

    <app-saved-searches></app-saved-searches>

  </mat-tab>
</mat-tab-group>