<span class="mat-title">User Dashboard</span>

<mat-card class="user-info-card">
  <mat-card-header>
    <mat-card-title>Username:
      <b>
        <span>{{ currentUser.username }} </span>
      </b>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span>
      <label>First Name: {{currentUser.first_name}}</label>
    </span>
    <br />
    <span>
      <label>Last Name: {{currentUser.last_name}}</label>
    </span>
    <br />
    <span>
      <label>Role: {{currentUser.role | displayValue:'name':this.roles}}</label>
    </span>
    <br />
    <span>
      <label>Organization: {{currentUser.organization_string}}</label>
    </span>
    <br />
    <span>
      <label>Email: {{currentUser.email}}</label>
    </span>
    <br />

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openEditUserDialog()">
      <mat-icon>edit</mat-icon> Edit User Details
    </button>
  </mat-card-actions>

  <mat-card-actions>
    <button mat-button (click)="openNewLookupRequestDialog()" *ngIf="currentUser.role !== 7">
      <mat-icon>add</mat-icon> Request New Species, Organization, or Diagnosis
    </button>
    <br>

    <button mat-button (click)="openBulkUploadDialog()" *ngIf="currentUser.role !== 7">
      <mat-icon>cloud_upload</mat-icon> Bulk Upload Data
    </button>
  </mat-card-actions>
</mat-card>

<mat-tab-group (selectedIndexChange)="_setDataSource($event)" [selectedIndex]="selectedTab">

  <!-- Events tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">assignment</mat-icon>&nbsp;
      Events
    </ng-template>
    <mat-card>
      <div class="app-event-table">
        <app-event-table></app-event-table>
      </div>
    </mat-card>
  </mat-tab>
  <!-- End Events tab-->

  <!-- Event Groups tab-->
  <mat-tab *ngIf="currentUser.role === 1 || currentUser.role === 2">

    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">group_work</mat-icon>&nbsp;
      Event Groups
    </ng-template>

    <mat-card>
      <div class="app-event-group">
        <app-event-group></app-event-group>
      </div>
    </mat-card>
  </mat-tab>
  <!-- End Event Groups tab-->

  <!-- Your Events Tab -->
  <mat-tab *ngIf="currentUser.role !== 7">

    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_circle</mat-icon>&nbsp;
      Your Events
    </ng-template>

    <mat-card>
      <div class="user-events-div">
        <app-user-events></app-user-events>
      </div>
    </mat-card>
  </mat-tab>
  <!-- End Your Events Tab -->

  <!-- Contacts tab -->
  <mat-tab *ngIf="currentUser.role !== 7">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">contacts</mat-icon>&nbsp;
      Contacts
    </ng-template>

    <mat-card>
      <mat-card-title>

        <div class="results-card-title-row">
          <span class="results-button-row">
            <button mat-button color="accent" (click)="openCreateContactDialog()">
              <i class="material-icons">
                add_box
              </i> Add</button>
            <button mat-button color="accent" (click)="openEditContactDialog()"
              [disabled]="selection.selected.length === 0">
              <i class="material-icons">
                edit
              </i> Edit</button>
            <button mat-button color="accent" (click)="openContactRemoveConfirm()"
              [disabled]="selection.selected.length === 0">
              <i class="material-icons">
                remove_circle
              </i> Delete</button>
          </span>

        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="spinner-container" *ngIf="contactsLoading">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="contactsDataSource" class="results-table-div">

          <mat-table [dataSource]="contactsDataSource" matSort matSortActive="last_name" matSortDirection="asc"
            *ngIf="contactsDataSource.data.length > 0">

            <!-- Selection column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="last_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{contact.last_name}} </mat-cell>
            </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="first_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{contact.first_name}} </mat-cell>
            </ng-container>

            <!-- Phone Number Column -->
            <ng-container matColumnDef="phone_number">
              <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{formatPhone(contact.phone)}} </mat-cell>
            </ng-container>

            <!-- Email Address Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Email Address </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{contact.email}} </mat-cell>
            </ng-container>

            <!-- Organization Column -->
            <ng-container matColumnDef="organization">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Organization </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{contact.organization_string}} </mat-cell>
            </ng-container>

            <!-- Permission Source Column -->
            <ng-container matColumnDef="permission_source">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Permission Source </mat-header-cell>
              <mat-cell *matCellDef="let contact"> {{contact.permission_source}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="contactDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let event; columns: contactDisplayedColumns;"></mat-row>
          </mat-table>

          <div *ngIf="contactsDataSource.data.length === 0 && contactsLoading === false">
            <h3>No contacts found</h3>
          </div>

          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>

      </mat-card-content>
    </mat-card>

  </mat-tab>
  <!-- End Contacts tab -->

  <!-- Saved Searches Tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">search</mat-icon>&nbsp; Saved Searches
    </ng-template>
    <div class="saved-searches-div">
      <app-saved-searches></app-saved-searches>
    </div>
  </mat-tab>
  <!-- End Saved Searches Tab -->

  <!-- Circles Tab -->
  <mat-tab *ngIf="currentUser.role !== 7">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">people</mat-icon>&nbsp;
      Circles
    </ng-template>

    <div class="circles-div">
      <app-circles></app-circles>
    </div>
  </mat-tab>
  <!-- End Circles Tab -->

  <!-- Notifications Tab -->
  <mat-tab *ngIf="currentUser.role !== 7">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">notifications</mat-icon>&nbsp;
      Notifications
    </ng-template>
    <div class="notifications-div">
      <app-notifications></app-notifications>
    </div>
  </mat-tab>
  <!-- Notifications Tab -->

</mat-tab-group>