<h1 mat-dialog-title>
  <mat-icon>add_alert</mat-icon> Add New Custom Notification Cue
</h1>

<mat-dialog-content>

  <form [formGroup]="cueForm" class="autocomplete-form" autocomplete="off">
    <mat-accordion>
      <!-- Event ID expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Event ID</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>{{cueForm.get('event_id').value}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <input matInput type="number" min="0" placeholder="Event ID" formControlName="event_id">
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <!--- end Event ID expansion panel -->

      <!--- Admin Level One (State) expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>State (or equivalent)</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #adminLevelOneChipList>
                  <span *ngFor="let adminLevelOne of selectedAdminLevelOnes">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)"
                      (removed)="removeChip(adminLevelOne, selectedAdminLevelOnes, 'adminLevelOne')">
                      {{adminLevelOne.name}}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedAdminLevelOnes.indexOf(adminLevelOne)) < (selectedAdminLevelOnes.length - 1)">{{(cueForm.get('administrative_level_one_includes_all').value)
                      ? "and" : "or"}}&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add State" aria-label="Add State"
                [matAutocomplete]="adminLevelOneAutoComplete" [formControl]="adminLevelOneControl">
              <mat-autocomplete #adminLevelOneAutoComplete="matAutocomplete" [displayWith]="displayFn"
                (optionSelected)="addChip($event, selectedAdminLevelOnes, 'adminLevelOne')">
                <mat-option *ngFor="let adminLevelOne of filteredAdminLevelOnes | async" [value]="adminLevelOne">
                  <span>{{ adminLevelOne.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="administrative_level_one_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>
              &nbsp;&nbsp;
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-expansion-panel>
      <!--- end Admin Level One (State) expansion panel -->

      <!--- Species expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Species</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #speciesChipList>
                  <span *ngFor="let species of selectedSpecies">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)"
                      (removed)="removeChip(species, selectedSpecies, 'species')">{{species.name}}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedSpecies.indexOf(species)) < (selectedSpecies.length - 1)">{{(cueForm.get('species_includes_all').value)
                        ? "and" : "or"}}&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add Species" aria-label="Add Species"
                [matAutocomplete]="speciesAutoComplete" [formControl]="speciesControl">
              <mat-spinner *ngIf="speciesLoading" [diameter]="20"></mat-spinner>
              <mat-autocomplete #speciesAutoComplete="matAutocomplete" [displayWith]="displayFn"
                (optionSelected)="addChip($event, selectedSpecies, 'species')">
                <mat-option *ngFor="let species of filteredSpecies | async" [value]="species">
                  <span>{{ species.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="species_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>
              &nbsp;&nbsp;
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-expansion-panel>
      <!--- end Species expansion panel -->

      <!--- Species Diagnosis panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Species Diagnosis</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #speciesDiagnosisChipList>
                  <span *ngFor="let diagnosis of selectedDiagnoses">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)"
                      (removed)="removeChip(diagnosis, selectedDiagnoses, 'diagnosis')">{{ diagnosis.name }}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span *ngIf="(selectedDiagnoses.indexOf(diagnosis)) < (selectedDiagnoses.length - 1)">{{(cueForm.get('speciesDiagnosis_includes_all').value)
                                ? "and" : "or"}}&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add Species Diagnosis" aria-label="Add Species Diagnosis"
                [matAutocomplete]="speciesDiagnosisAutoComplete" [formControl]="speciesDiagnosisControl">
              <mat-spinner *ngIf="diagnosesLoading" [diameter]="20"></mat-spinner>
              <mat-autocomplete #speciesDiagnosisAutoComplete="matAutocomplete" [displayWith]="displayFn"
                (optionSelected)="addChip($event, selectedDiagnoses, 'diagnosis')">
                <mat-option *ngFor="let diagnosis of filteredDiagnoses | async" [value]="diagnosis">
                  <span>{{ diagnosis.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="search-type-radios">
            <label>Search type </label>
            <mat-radio-group formControlName="speciesDiagnosis_includes_all">
              <mat-radio-button [value]="false" matTooltip="ANY of the selected options">OR</mat-radio-button>
              &nbsp;&nbsp;
              <mat-radio-button [value]="true" matTooltip="ALL of the selected options">AND</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-expansion-panel>
      <!--- end Species Diagnosis expansion panel -->

      <!--- Land Ownership panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Land Ownership</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <div class="chiplist">
                <mat-chip-list #landOwnershipChipList>
                  <span *ngFor="let landOwnership of selectedLandOwnership">
                    <mat-chip [selectable]="selectable" [removable]="removable" (click)="stopPropagation($event)"
                      (removed)="removeChip(landOwnership, selectedLandOwnership, 'landOwnership')">
                      {{ landOwnership.name }}
                      <mat-icon matChipRemove *ngIf="removable" (click)="stopPropagation($event)">cancel</mat-icon>
                    </mat-chip>
                    <span
                      *ngIf="(selectedLandOwnership.indexOf(landOwnership)) < (selectedLandOwnership.length - 1)">&nbsp;or&nbsp;</span>
                  </span>
                </mat-chip-list>
              </div>
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="autocomplete-input">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Add Land Ownership" aria-label="Add Land Ownership"
                [matAutocomplete]="landOwnershipAutoComplete" [formControl]="landOwnershipControl">
              <mat-spinner *ngIf="landOwnershipLoading" [diameter]="20"></mat-spinner>
              <mat-autocomplete #landOwnershipAutoComplete="matAutocomplete" [displayWith]="displayFn"
                (optionSelected)="addChip($event, selectedLandOwnership, 'landOwnership')">
                <mat-option *ngFor="let landOwnership of filteredLandOwnership | async" [value]="landOwnership">
                  <span>{{ landOwnership.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <!-- No search type radio selectors because land ownership can only be one value -->
        </div>
      </mat-expansion-panel>
      <!--- end Land Ownership expansion panel -->

      <!-- Number Affected expansion panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Number Affected</b>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              {{ cueForm.get('affected_count_operator').value === '__gte' && cueForm.get('affected_count').value != null ? '&ge;' :
              cueForm.get('affected_count_operator').value === '__lte' && cueForm.get('affected_count').value != null ? '&le;' : '' }}
              {{cueForm.get('affected_count').value}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div class="affected-count-operator-radios">
            <mat-radio-group formControlName="affected_count_operator">
              <mat-radio-button [value]="'__gte'" matTooltip="Greater than or equal to">Greater than or equal to ( &ge;
                )</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button [value]="'__lte'" matTooltip="Less than or equal to">Less than or equal to ( &le; )
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <input matInput type="number" min="0" placeholder="Number Affected" formControlName="affected_count">
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <!--- end Number Affected expansion panel -->

      <!--Settings section-->
      <div id="settings" class="row align-items-center">
        <span class="row align-items-center">
          <span class="row align-items-center">
            <span class="headerText" class="row align-items-center">
              <mat-icon>notifications</mat-icon>&nbsp;Receive when event is&nbsp; &nbsp;
            </span>
            <mat-checkbox formControlName="create_when_new">new</mat-checkbox> &nbsp; &nbsp;
            <mat-checkbox formControlName="create_when_modified">updated</mat-checkbox> &nbsp; &nbsp;
          </span>
          &nbsp; &nbsp;&nbsp; &nbsp;
          <span class="row align-items-center">
            <mat-checkbox formControlName="send_email"></mat-checkbox>
            <span class="row align-items-center">&nbsp;&nbsp;<mat-icon class="icon">
                {{cueForm.get('send_email').value === true ? 'email' :
        cueForm.get('send_email').value === false ?  'unsubscribe' :  'unsubscribe'}}
              </mat-icon>
              &nbsp;{{cueForm.get('send_email').value === true ? ' Email ' :
        cueForm.get('send_email').value === false ?  'Do not email' :  'Do not email '}}
            </span>
          </span>
        </span>

      </div>
      <!--Settings section-->

    </mat-accordion>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="form-buttons-flex center">
    <button mat-button color="warn" (click)="this.customNotificationDialogRef.close();">
      <mat-icon>close</mat-icon>&nbsp;Cancel
    </button>
    <button mat-button color="primary" (click)="onSubmit(cueForm.value)">
      <mat-icon>save</mat-icon>&nbsp;Save
    </button>
  </div>
</mat-dialog-actions>