/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./whispers-theme.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


@import "./app/app.variables.scss";
@import "./assets/styles/markers.css";


body { 
    margin: 0px !important;
    color: $black;
}

*{
    font-family: 'Lato', sans-serif;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-overflow-scrolling: touch;
    -webkit-appearance: none;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;


    &:hover{
        outline: none;
    }
    &:focus{
        outline: none;
    }
    &:active{
        outline: none;
    }

    @media (max-width: 550px) {
        &:not([contenteditable="true"]),
        &:not(input){
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}



// Expansion Panels
// Expansion Panels
// Expansion Panels
.mat-expansion-panel{
    box-shadow: none !important;

    &:hover{
        background-color: white !important;
    }

    .mat-expansion-panel-header{
        font-size: 15px;
        transition: $transition;
        font-weight: 500;
        padding: 0 15px;
        font-weight: 700;
        color: fade-out($black, 0.2);

        .mat-expansion-panel-header-title{
            color: fade-out($black, 0.2);
            transition: $transition;

            .mat-icon{
                height: 18px;
                width: 18px;
                font-size: 17px;
                text-decoration: none !important;
            }
        }
    
        &:not([aria-disabled=true]){
            border-bottom: 1px solid $border-color;
        }
    
        .mat-expansion-indicator{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 0 4px 0;
            box-sizing: border-box;
        }

        &:hover{
            text-decoration: underline;
            color: $black;
            transition: $transition;
            background-color: white !important;
            padding-right: 18px;

            .mat-expansion-panel-header-title{
                color: $black;
                transition: $transition;
            }
        }
    
        // Expanded
        &.mat-expanded{
            color: $black;
            &:hover{
                color: fade-out($black, 0.2);
                text-decoration: underline;
            }
        }
    }

    // Panel Body
    .mat-expansion-panel-body{
        padding: 15px;
        // background-color: $bg;
        border-bottom: 1px solid $border-color;

        // Paragraphs

        p{
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.2px;
            margin: 5px auto;
            color: $text;

            // Welcome text 
            &#welcome-text{
                line-height: 24px;
            }
        }
    }

    // Action / button row
    .mat-action-row{
        border-top: none;
        border-bottom: 1px solid $border-color;
        background-color: $bg;
        margin-top: -1px;
    }
}


// .mat-button {
//     text-transform: uppercase;
// }


// Sidebar 
// .controlsDiv .mat-expansion-panel-header{
//     background-color: rgba(247,247,255,1);
//     border-bottom: 1px solid rgba(230,230,240,1);
//     color: rgba(40,40,60,1) !important;
//     font-weight: 500;
// }
// .controlsDiv .mat-expansion-panel-header:not([aria-disabled='true']):hover,
// .controlsDiv .mat-expansion-panel-header:not([aria-disabled='true']):focus{
//     background-color: rgba(237,237,245,1) !important;
// }
// .mat-expansion-panel:not([class*=mat-elevation-z]){
//     box-shadow: none !important;
// }
// .controlsDiv .mat-expansion-indicator{
//     position: relative;
//     top: -2px;
// }
// .controlsDiv .mat-expanded .mat-expansion-indicator{
//     top: 2px;
// }

// .controlsDiv .mat-expansion-panel-body{
//     padding: 15px !important;

//     p{
//         font-size: 13px;
//         line-height: 20px;
//         font-weight: 400;
//         color: rgba(40,40,60,0.9);
//         margin: 0;
//     }
// }


// Mat Tables
.mat-table{

    .mat-header-row{
        background-color: rgba(238,238,248,1);
        border-bottom: 1px solid rgba(230,230,240,1);
        color: rgba(40,40,60,0.5) !important;
    }
    .mat-row{
        border-bottom: 1px solid rgba(230,230,240,0.75);
        color: rgba(40,40,60,1) !important;

        &:nth-child(odd){
            background-color: rgba(247,247,255,1);
        }

        &:hover{
            cursor: pointer !important;
        }
    }
}
.page-loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;

    mat-spinner{
        margin: 0 auto;
    }
}



// Remove ugly box shadows from defaults cards
.mat-card{
    box-shadow: none !important;
}


// Float number above icon marker
.wmm-size-25:after {
// .wmm-circle.wmm-size-25:after {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -2 !important;
}
// .wmm-circle.wmm-size-25:before {
.wmm-size-25:before {
    position: absolute !important;
    top: 50%;
    left: 50%;
    margin-left: -6px !important;
    margin-top: -8.5px !important;
    z-index: -1 !important;
}
.wmm-size-25 {
// .wmm-circle.wmm-size-25 {
    line-height: 24px !important;
    text-align: center;
    font-weight: bolder !important;
    padding-right: 1px !important;
    font-size: 9px !important;
    padding-top: 1px !important;
}
// Larger - size 35
.wmm-size-35:after {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -2 !important;
}
.wmm-size-35:before {
    position: absolute !important;
    top: 50%;
    left: 50%;
    height: 21px !important;
    width: 21px !important;
    margin-left: -11px !important;
    margin-top: -15px !important;
    z-index: -1 !important;
}
.wmm-size-35 {
    line-height: 33px !important;
    text-align: center;
    font-weight: bolder !important;
    padding-right: 1px !important;
    font-size: 10px !important;
    padding-top: 1px !important;
}
.wmm-mutedblue:after{
    background-color: #A7A9B2 !important;
}
input[type=radio]{
	-webkit-appearance: radio !important;
}
input[type=checkbox]{
    -webkit-appearance: checkbox !important;
}
.wmm-triangle.wmm-size-25:after{
    // border: 3px solid rgba(0,0,0,0.5) !important;
    left: -12px !important;
    top: 4px !important;
}

/* Style the buttons that are used to open and close the accordion panel */
// .accordion {
//     background-color: #eee;
//     color: #444;
//     cursor: pointer;
//     padding: 18px;
//     width: 100%;
//     text-align: left;
//     border: none;
//     outline: none;
//     transition: 0.4s;
// }

// /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
// .active, .accordion:hover {
//     background-color: #ccc;
// }

// /* Style the accordion panel. Note: hidden by default */
// .panel {
//     padding: 0 18px;
//     background-color: white;
//     display: none;
//     max-height: 0;
//     overflow: hidden;
//     transition: max-height 0.2s ease-out;
// }

.legend {
    max-height: 60vh;
    overflow-y: hidden;

    &.mat-expanded{
        overflow-y: auto;
    }

    .mat-expansion-panel-header{
        height: auto !important;
        box-sizing: border-box;
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: none !important;
    }
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    /* content: '\02795'; */
}

.popupLabel {
    font-weight: bold;
    font-size: larger;
}

// Leaflet Content Popup / map clicks
// Leaflet Content Popup / map clicks
// Leaflet Content Popup / map clicks
.leaflet-popup-content-wrapper{
    box-shadow: 0 3px 14px rgba(10,20,40,0.1) !important;

    .leaflet-popup-content{
        margin: 0px auto;
        box-sizing: border-box;
        padding: 10px;
        line-height: 15px;

        h3{
            margin: 0 auto 10px auto;
        }
        .popupLabel{
            font-weight: 700;
            font-size: 12px;
        }

        .accButton{
            padding: 10px;
            background-color: transparent;
            font-size: 14px;
            font-weight: 700;
            transition: $transition;

            &:hover{
                cursor: pointer;
                transition: $transition;
                background-color: $bg;
            }

            &:after{
                position: refive;
                top: -3px;
            }
        }
        .panel{
            box-sizing: border-box;
            padding: 0 10px 0 15px;            
        }
    }
}
.leaflet-popup-close-button {
    position: absolute;
    top: -7px !important;
    right: -5px !important;
    background-color: white !important;
    padding: 5.5px 0 0 0 !important;
    box-sizing: border-box !important;
    text-align: center;
    width: 28px !important;
    height: 28px !important;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    box-shadow: 0 1px 4px rgba(10,20,40,0.05) !important;
    text-decoration: none;
    font-weight: bold;
    color: $text;
    border-radius: 50% !important;
}

.text-bold {
    font-weight: bold;
}

.text-larger {
    font-size: larger;
}


// Styles for GNIS-Lookup Component
// They don't work if they're in the gnis-lookup-component.scss
// So they're here instead.
.search-api-menu.search-api-md.search-api-menu-down {
    width: 300px !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    margin-left:-150px;

    .search-api-menu-content{
        max-height: 40vh !important;
    }

    .search-api-menu-title{
        background-color: #182141;
    }
}

#search-api-div{

    .search-api-container{
        border:none;
        position: relative;

        .search-api-icon{
            border: none;
            padding-right: 2px;
            position:absolute;
            background-color: transparent;
            padding-top: 2px;
        }

        input{
            border: none;
            border-bottom: 1px solid #949494;
            border-radius: 0;
            padding-left: 40px;

            &:focus{
                border-bottom: 2px solid #3456FA;
            }
        }
    }
}

// Modal / Dialog
// Modal / Dialog
// Modal / Dialog
.mat-dialog-title{
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
    color: $black;

    .mat-icon {
        float: left;
        position: relative;
        top: 2.5px;
        margin-right: 4px;
    }
}

// Sign in button
.signin-button:hover{
    cursor: pointer;
    text-decoration: underline;
}


// Suggested Searches
// Suggested Searches
// Suggested Searches
.suggested-searches{

    .button-row{
        // border-bottom: 1px solid fade-out($black, 0.85);

        // &:first-child{
        //     border-top: 1px solid fade-out($black, 0.85);
        // }

        .mat-button{
            width: 92%;
            padding: 10px 10px;
            border-radius: 4px !important;
            border: 1px solid rgba(213, 220, 234, 0.5) !important;
            background-color: white;
            margin: 0 auto 6px 4%;

            .search-param{
                width: 100%;
                float: none;
                text-align: left;
                display: block;
                font-size: 12.5px;
                line-height: 13px;
                height: auto;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 0px 0;
                white-space: normal;

                &:first-child{
                    padding-left: 0;
                }

                b{
                    font-weight: 800;
                    font-size: 12px;
                    box-sizing: border-box;
                    padding-right: 10px;
                }


                .value{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-grow: 3;
                    text-align: right;
                }

                .value-list{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .value{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                    .value-list-or{
                        font-weight: 700;
                        font-style: italic;
                    }
                }
            }
        }
    }
}


.mat-dialog-title{
    display: flex !important;

    span,i{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.nomargin{
    margin: 0 !important;
}


// Map Adjustments
// Map Adjustments
// Map Adjustments
.leaflet-control-layers label{
    text-align: left !important;
}
.leaflet-touch .leaflet-bar a{
    line-height: 25px !important;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    border: 1px solid fade-out(#A0AFCD, 0.6) !important;
    background-color: white;
    color: #10152C;
}
.legend{
    background-color: white !important;
    padding: 0;

    .mat-expansion-panel-body{
        max-height: 210px !important;
        overflow: auto !important;
    }

    .legend-icon{
        display: flex;
        position: relative;

        label{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 22px;
            height: 24px;
        }

        .wmm-pin{
            z-index: 0;
            top: 14px;
            left: 4px;
            position: absolute !important;
            transform: scale(0.65);
        }
        .wmm-square{
            position: absolute !important;
            transform: scale(0.8);
            top: 1px;
            left: 4px;
        }
    }
}


.transbg{
    background-color: transparent !important;
}

.no-data{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.2px;
    padding: 25px 15px;
    box-sizing: border-box;
    opacity: 0.7;
    color: fade-out(#313b57, 0.2);
}