@import "~@angular/material/theming";
@include mat-core();

$whispers-app-primary: mat-palette($mat-blue, 500, 100, 800);
$whispers-app-accent:  mat-palette($mat-light-blue, 500, 200, 800);
$whispers-app-warn:    mat-palette($mat-red);

$whispers-app-theme: mat-light-theme($whispers-app-primary, $whispers-app-accent, $whispers-app-warn);

@include angular-material-theme($whispers-app-theme);