
<mat-dialog-content>

  <p class="nomargin">Save the current search criteria</p>

  <form [formGroup]="saveSearchForm" autocomplete="off">
    <div class="vertical-form-container">

      <mat-form-field class="form-control">
        <input matInput placeholder="Name" formControlName="name">
        <mat-hint align="start">Reference name for this search </mat-hint>
      </mat-form-field>

    </div>
  </form>


</mat-dialog-content>
<mat-dialog-actions>

  <div class="form-buttons-flex">
    <button mat-stroked-button color="accent" (click)="this.saveSearchDialogRef.close('cancel');">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="saveSearchForm.invalid" (click)="onSubmit(saveSearchForm.value)">
      <mat-icon>{{data.actionButtonIcon}}</mat-icon> {{data.action_button_text}}
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="submitLoading"></mat-progress-bar>
</mat-dialog-actions>
