<div [formGroup]="formGroup">
  <div class="horizontal-form-container">
    <mat-form-field class="form-control">
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        required
        autocomplete="new-password"
      />
      <mat-icon
        class="hint-hover-text"
        matSuffix
        matTooltip="{{ passwordTooltip() }}"
        matTooltipClass="tooltip-breakline"
      >
        help</mat-icon
      >
    </mat-form-field>
    <!-- Confirm Password -->
    <mat-form-field class="form-control">
      <input
        matInput
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        required
        autocomplete="new-password"
      />
      <mat-error
        *ngIf="formGroup.controls.confirmPassword.errors?.matchPassword"
        >Passwords do not match
      </mat-error>
      <mat-error *ngIf="formGroup.controls.password.errors"
        >Passwords do not meet requirements
      </mat-error>
    </mat-form-field>
  </div>

  <div class="password-requirements">
    <h5>
      Password must be at least 12 characters long and contain at least one:
    </h5>
    <ul class="text-smaller">
      <li>Lowercase letter (a, b, c, ..., z)</li>
      <li>Number (0, 1, 2, ..., 9)</li>
      <li>Symbol (!, #, @, etc.)</li>
    </ul>
  </div>
</div>
