.horizontal-form-container {
  display: flex;
  flex-direction: row;
}

.form-control {
  width: 16em;
}

.password-requirements {
  /* line up left/right margin with .form-control (see styles.scss) */
  margin-left: 10px;
  margin-right: 10px;
}

.text-smaller {
    font-size: smaller;
}
