#homeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.controlsDiv {
    flex-grow: 1;
    max-width: 25%;
}

.resultsDiv {
    flex-grow: 3;
    width: auto;
    min-width: 550px;
}

@media screen and (max-width:875px) {
    #homeContainer {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .resultsDiv,
    .controlsDiv {
        min-width: 100%;
    }
}

.search-button-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.results-card-title-row {
    display: flex;
    flex-direction: row;
}

.results-card-title {
    float: left;
}

.results-button-row {
    float: right;
}

#map {
    height: 400px;
}

#mapPanel .mat-expansion-panel-body {
    padding: 0px;
}

mat-table>.mat-row:hover {
    background-color: #E8F5E9;
}

.results-table-div {
    background-color: white;
    min-width: 500px;
}

.text-bold {
    font-style: bold;
}

.text-x-large {
    font-size: x-large;
}

.spacer {
    flex-grow: 1;
}

::ng-deep #mapPanel .mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0px 0px 0px 0px;
}