*, *:before, *:after {
    box-sizing: border-box;
  }
  
  
  
  h1, p {
    margin: 0 0 1em 0;
  }
  
  .grid {
    display: grid;
    width: 100%;
    margin: 0px auto;
    grid-gap: 2px;
    background-color:  #2E7D32 !important;
  }
  
  @media screen and (min-width: 500px) {
  
    /* no grid support? */
    .sidebar {
      float: left;
      margin: 0px 2px 0px 2px;
      width: 19.1489%;
    }
  
    .map-and-table {
      float: right;
      width: 79.7872%;
    }

    #map {
      height:400px;
    }

    .grid {
      background-color: #2E7D32 !important;
      margin: 0px auto;
      grid-template-columns: 1fr 3fr;
      height: 1000px;
    }
  
    .header {
      position: relative;
    }
    
    .header, .footer {
      grid-column: 1 / -1;
      /* needed for the floated layout */
      clear: both;
    }
  
  }
  
  .grid > * {
    background-color: #E8F5E9;
    /* needed for the floated layout*/
    margin-bottom: 5px;
  }
  
  /* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
  @supports (display: grid) {
    .grid > * {
      width: auto;
      margin: 0;
    }

  }
  
  mat-table > .mat-row:hover { background-color:#E8F5E9; }