<div id="homeContainer">

  <div class="controlsDiv">

    <div id="welcome-panel-div">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Welcome to WHISPers
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p id="welcome-text">This is the Wildlife Health Information Sharing Partnership event reporting system. It is a
          place to explore wildlife mortality data submitted by partners across North America and verified by trained biologists.</p>
      </mat-expansion-panel>
    </div>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Search</h3>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngIf="!currentDisplayQuery">
        <span>Please click Search to begin.</span>
      </div>

      <div *ngIf="currentDisplayQuery">

        <mat-list>

          <h3 mat-subheader>Current Search</h3>

          <mat-list-item *ngIf="currentDisplayQuery.start_date !== null &&  currentDisplayQuery.end_date !== null">
            <h4 mat-line>
              <strong>Date Range</strong>
            </h4>
            <p mat-line>
              <span>{{currentDisplayQuery.start_date | date:'mediumDate'}}</span>
              <span *ngIf="(currentDisplayQuery.start_date !== null) || (currentDisplayQuery.end_date !== null)">&nbsp;thru&nbsp;</span>
              <span>{{currentDisplayQuery.end_date | date:'mediumDate'}}</span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.affected_count !== null">
            <h4 mat-line>
              <strong>Number Affected</strong>
            </h4>
            <p mat-line>
              <span>{{currentDisplayQuery.affected_count}}</span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.event_type.length > 0">
            <h4 mat-line>
              <strong>Event Type</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let item of currentDisplayQuery.event_type">{{item}}
                <span *ngIf="(currentDisplayQuery.event_type.indexOf(item)) < (currentDisplayQuery.event_type.length - 1)">or&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.diagnosis_type.length > 0">
            <h4 mat-line>
              <strong>Diagnosis Type</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let item of currentDisplayQuery.diagnosis_type">{{item}}
                <span *ngIf="(currentDisplayQuery.diagnosis_type.indexOf(item)) < (currentDisplayQuery.diagnosis_type.length - 1)">{{(currentDisplayQuery.diagnosis_type_includes_all)
                  ? "and" : "or"}}&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.diagnosis.length > 0">
            <h4 mat-line>
              <strong>Diagnosis</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let item of currentDisplayQuery.diagnosis">{{item}}
                <span *ngIf="(currentDisplayQuery.diagnosis.indexOf(item)) < (currentDisplayQuery.diagnosis.length - 1)">{{(currentDisplayQuery.diagnosis_includes_all)
                  ? "and" : "or"}}&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.species.length > 0">
            <h4 mat-line>
              <strong>Species</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let item of currentDisplayQuery.species">{{item}}
                <span *ngIf="(currentDisplayQuery.species.indexOf(item)) < (currentDisplayQuery.species.length - 1)">{{(currentDisplayQuery.species_includes_all)
                  ? "and" : "or"}}&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.administrative_level_one.length > 0">
            <h4 mat-line>
              <strong>State</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let item of currentDisplayQuery.administrative_level_one">{{item}}
                <span *ngIf="(currentDisplayQuery.administrative_level_one.indexOf(item)) < (currentDisplayQuery.administrative_level_one.length - 1)">{{(currentDisplayQuery.administrative_level_one_includes_all)
                  ? "and" : "or"}}&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.administrative_level_two.length > 0">
            <h4 mat-line>
              <strong>County</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let item of currentDisplayQuery.administrative_level_two">{{item}}
                <span *ngIf="(currentDisplayQuery.administrative_level_two.indexOf(item)) < (currentDisplayQuery.administrative_level_two.length - 1)">{{(currentDisplayQuery.administrative_level_two_includes_all)
                  ? "and" : "or"}}&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

        </mat-list>
      </div>



      <!-- Save search & Search button -->
      <mat-action-row class="search-button-row">
        <button mat-button color="accent">
          <i class="material-icons">
            save
          </i> Save Search</button>

        <button mat-button color="accent" (click)="openSearchDialog()">
          <mat-icon class="material-icons">search</mat-icon> {{(currentDisplayQuery) ? "Update Search" : "Search"}}
        </button>

      </mat-action-row>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Popular Searches
      </mat-expansion-panel-header>

      <!-- <div *ngIf="popularSearches"> -->
      <div>

        <div class="button-row" *ngFor="let search of parsedPopularSearches">
          <button mat-button>
            <span *ngIf="search.start_date || search.end_date"><span *ngIf="search.start_date"><span class="text-bold"> START
                  DATE
                </span> {{search.start_date | date:'mediumDate'}}
              </span><span *ngIf="search.end_date"><span class="text-bold">
                  END DATE
                </span> {{search.end_date|date:'mediumDate'}}</span></span><br *ngIf="search.start_date || search.end_date"
            /><span *ngIf="search.affected_count"> <span class="text-bold">AFFECTED COUNT &nbsp;</span> {{search.affected_count}}
            </span>

            <span *ngIf="search.event_type"> <span class="text-bold">EVENT TYPE&nbsp;
              </span> <span *ngFor="let eventType of search.event_type">{{eventType | displayValue:'name':this.eventTypes}}
                <span *ngIf="(search.event_type.indexOf(eventType)) < (search.event_type.length - 1)">or&nbsp;</span></span>
              <br *ngIf="search.event_type" />
            </span>
            <span *ngIf="search.diagnosis_type"> <span class="text-bold">DIAGNOSIS TYPE &nbsp;</span> <span *ngFor="let diagnosisType of search.diagnosis_type">{{diagnosisType|
                displayValue:'name':this.diagnosisTypes}}
                <span *ngIf="(search.diagnosis_type.indexOf(diagnosisType)) < (search.diagnosis_type.length - 1)">{{(search.diagnosis_type_includes_all)
                  ? "and" : "or"}}&nbsp;</span></span></span><br *ngIf="search.diagnosis_type" />

            <span *ngIf="search.diagnosis"> <span class="text-bold">DIAGNOSIS&nbsp;</span> <span *ngFor="let diagnosis of search.diagnosis">{{diagnosis
                | displayValue:'name':this.diagnoses}} <span *ngIf="(search.diagnosis.indexOf(diagnosis)) < (search.diagnosis.length - 1)">{{(search.diagnosis_includes_all)
                  ? "and" : "or"}}&nbsp;</span></span></span><br *ngIf="search.diagnosis" />

            <span *ngIf="search.species"> <span class="text-bold">SPECIES &nbsp;</span>
              <span *ngFor="let species of search.species">{{species | displayValue:'name':this.species}} <span *ngIf="(search.species.indexOf(species)) < (search.species.length - 1)">{{(search.species_includes_all)
                  ? "and" : "or"}}&nbsp;</span></span></span><br *ngIf="search.species" />

            <span *ngIf="search.administrative_level_one"> <span class="text-bold">STATE&nbsp;</span><span *ngFor="let adminLevel1 of search.administrative_level_one">{{adminLevel1
                | displayValue:'name':this.administrative_level_one}}
                <span *ngIf="(search.administrative_level_one.indexOf(adminLevel1)) < (search.administrative_level_one.length - 1)">{{(search.administrative_level_one_includes_all)
                  ? "and" : "or"}}&nbsp;</span></span></span><br *ngIf="search.administrative_level_one" />

            <span *ngIf="search.administrative_level_two"> <span class="text-bold">COUNTY &nbsp;
              </span>
              <span *ngFor="let adminLevel2 of search.administrative_level_two">{{adminLevel2}} <span *ngIf="(search.administrative_level_one.indexOf(adminLevel1)) < (search.administrative_level_one.length - 1)">{{(search.administrative_level_one_includes_all)
                  ? "and" : "or"}}&nbsp;</span></span><br /></span>
          </button>
          <mat-divider [inset]="true"></mat-divider>
        </div>


      </div>

    </mat-expansion-panel>

    <mat-expansion-panel id='mapTools'>
      <mat-expansion-panel-header>
        Map Tools and Explanation
      </mat-expansion-panel-header>

      <!-- <h3>Explanation</h3>
      <span>
        <div id='iconHolder'>
          <div class='wmm-circle wmm-green wmm-icon-circle wmm-icon-white wmm-size-25'></div>
        </div>
        <label id='expLabel'>Bacteria</label>
      </span>
      <br/>
      <span>
        <div id='iconHolder'>
          <div class='wmm-circle wmm-blue wmm-icon-circle wmm-icon-white wmm-size-25'></div>
        </div>
        <label id='expLabel'>Fungus</label>
      </span>
      <br/>
      <span>
        <div id='iconHolder'>
          <div class='wmm-circle wmm-red wmm-icon-circle wmm-icon-white wmm-size-25'></div>
        </div>
        <label id='expLabel'>Nut/Met/Dev</label>
      </span>
      <br/>
      <span>
        <div id='iconHolder'>
          <div class='wmm-circle wmm-orange wmm-icon-circle wmm-icon-white wmm-size-25'></div>
        </div>
        <label id='expLabel'>Other</label>
      </span>
      <br/>
      <span>
        <div id='iconHolder'>
          <div class='wmm-circle wmm-yellow wmm-icon-circle wmm-icon-white wmm-size-25'></div>
        </div>
        <label id='expLabel'>Parasite</label>
      </span>
      <br/>
      <span>
        <div id='iconHolder'>
          <div class='wmm-circle wmm-purple wmm-icon-circle wmm-icon-white wmm-size-25'></div>
        </div>
        <label id='expLabel'>Toxin</label>
      </span>
      <br/>
      <span>
        <div id='iconHolder'>
          <div class='wmm-circle wmm-sky wmm-icon-circle wmm-icon-white wmm-size-25'></div>
        </div>
        <label id='expLabel'>Virus</label>
      </span>
      <br/>
      <span>
        <div id='iconHolder'>
          <div class='wmm-circle wmm-mutedpink wmm-icon-circle wmm-icon-white wmm-size-25'></div>
        </div>
        <label id='expLabel'>Trauma</label>
      </span> -->
    </mat-expansion-panel>

    <!--<mat-expansion-panel *ngIf="isloggedIn">
      <mat-expansion-panel-header>
        Your Saved Searches
      </mat-expansion-panel-header>
      <app-saved-searches ></app-saved-searches>
    </mat-expansion-panel>-->
  </div>

  <div class="resultsDiv">
    <mat-expansion-panel expanded id="mapPanel" style="padding:0px;">
      <mat-expansion-panel-header>
        <mat-panel-title id="resultsMapHeader">
          Results Map
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="data-loading-shade" *ngIf="resultsLoading"></div>
      <div id="map">
        <div id="latLngScale" class="latLngScale">
          <span class="hover-content"> <b>Map scale </b></span>
          1:<span id="scale">{{mapScale}}</span> | <span class="hover-content"> <b>Zoom level </b></span> <span id="zoomLevel">
            {{zoomLevel}}</span><br>
          <span class="hover-content"><b>Latitude</b></span>
          <span id="latitude"> {{latitude}}</span> |
          <span class="hover-content"> <b>Longitude</b></span>
          <span id="longitude"> {{longitude}}</span>
          <span id="mapCenterLabel" class="hover-content"></span>
        </div>


        <mat-expansion-panel id="legend" class="legend">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>view_list</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Legend
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="legend-label"><label>Diagnosis Type</label></div>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-green wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Bacteria</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-blue wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Fungus</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-red wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Nut/Met/Dev</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-orange wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Other</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-yellow wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Parasite</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-purple wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Toxin</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-mutedpink wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Trauma</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-sky wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Virus</label>
          </span>
          <br/>

          <div class="legend-label"><label>Event Type</label></div>
          <div id='iconHolder'>
            <div class='wmm-circle wmm-black wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
          </div>
          <label id='expLabel'>Mortality/Morbidity</label>
          <div id='iconHolder'>
            <div class='wmm-diamond wmm-black wmm-icon-noicon wmm-icon-white wmm-size-15'></div>
          </div>
          <label id='expLabel'>Surveillance</label>
          <br/>

          <div class="legend-label"><label>Multiples and Ongoing</label></div>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-mutedblue wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Multiple Events at location</label>
          </span>

          <br />
          <span>
            <div id='iconHolder' class="left-icon">
              <div class='wmm-circle wmm-black wmm-icon-circle wmm-icon-white wmm-size-20 left-icon'></div>
            </div>
            <div id='iconHolder' class="left-icon"> <span class="text-large text-bold">/</span> </div>
            <div id='iconHolder' class="right-icon">
              <div class='wmm-diamond wmm-black wmm-icon-diamond wmm-icon-white wmm-size-15 right-icon'></div>
            </div>
            <label id='expLabel2'>Ongoing Event</label>
          </span>

        </mat-expansion-panel>

        <!-- <div id="legend" class="legend">
          <label class="text-bold text-larger">Explanation</label><br />

          <label>Diagnosis Type</label>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-green wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Bacteria</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-blue wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Fungus</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-red wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Nut/Met/Dev</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-orange wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Other</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-yellow wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Parasite</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-purple wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Toxin</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-sky wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Virus</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-mutedpink wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Trauma</label>
          </span>
          <hr>

          <label>Event Type</label>
          <div id='iconHolder'>
            <div class='wmm-circle wmm-black wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
          </div>
          <label id='expLabel'>Mortality/Morbidity</label>
          <div id='iconHolder'>
            <div class='wmm-diamond wmm-black wmm-icon-noicon wmm-icon-white wmm-size-15'></div>
          </div>
          <label id='expLabel'>Surveillance</label>

          <hr>
          <span>
            <div id='iconHolder'>
              <div class='wmm-square wmm-mutedblue wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
            </div>
            <label id='expLabel'>Multiple Events</label>
          </span>

          <br />
          <span>
            <div id='iconHolder' class="left-icon">
              <div class='wmm-circle wmm-black wmm-icon-circle wmm-icon-white wmm-size-20 left-icon'></div>
            </div>
            <div id='iconHolder' class="left-icon"> <span class="text-large text-bold">/</span> </div>
            <div id='iconHolder' class="right-icon">
              <div class='wmm-diamond wmm-black wmm-icon-diamond wmm-icon-white wmm-size-15 right-icon'></div>
            </div>
            <label id='expLabel2'>Open Event</label>
          </span>

          <!-- Below is section for Surveillance events. Needs some help in the CSS department (icons squished together) -->
        <!-- <label>Surveillance Events</label>
          <span>
            <div id='iconHolder'>
              <div class='wmm-diamond wmm-green wmm-icon-noicon wmm-icon-white wmm-size-25'></div>
            </div>
            <label id='expLabel'>Bacteria</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-diamond wmm-blue wmm-icon-noicon wmm-icon-white wmm-size-25'></div>
            </div>
            <label id='expLabel'>Fungus</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-diamond wmm-red wmm-icon-noicon wmm-icon-white wmm-size-25'></div>
            </div>
            <label id='expLabel'>Nut/Met/Dev</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-diamond wmm-orange wmm-icon-noicon wmm-icon-white wmm-size-25'></div>
            </div>
            <label id='expLabel'>Other</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-diamond wmm-yellow wmm-icon-noicon wmm-icon-white wmm-size-25'></div>
            </div>
            <label id='expLabel'>Parasite</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-diamond wmm-purple wmm-icon-noicon wmm-icon-white wmm-size-25'></div>
            </div>
            <label id='expLabel'>Toxin</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-diamond wmm-sky wmm-icon-noicon wmm-icon-white wmm-size-25'></div>
            </div>
            <label id='expLabel'>Virus</label>
          </span>
          <br/>
          <span>
            <div id='iconHolder'>
              <div class='wmm-diamond wmm-mutedpink wmm-icon-noicon wmm-icon-white wmm-size-25'></div>
            </div>
            <label id='expLabel'>Trauma</label>
          </span>

          <span>
            <div id='iconHolder'>
              <div class='wmm-diamond wmm-mutedblue wmm-icon-circle wmm-icon-white wmm-size-25'></div>
            </div>
            <label id='expLabel'>White center indicates open event</label>
          </span>
        </div> -->


      </div>
    </mat-expansion-panel>

    <mat-card>
      <mat-card-title>

        <div class="results-card-title-row">
          <span class="results-card-title">Results</span>

          <span class="spacer"></span>

          <span class="results-button-row">
            <button mat-button color="accent" (click)="exportEventSummaries()">
              <i class="material-icons">
                unarchive
              </i> Export Data</button>
            <button mat-button color="accent">
              <i class="material-icons">
                share
              </i> Share</button>
          </span>

        </div>
      </mat-card-title>
      <mat-card-content>


        <div *ngIf="dataSource" class="results-table-div">

          <div class="data-loading-shade" *ngIf="resultsLoading">
            <mat-spinner *ngIf="resultsLoading"></mat-spinner>
          </div>
          <!-- <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field> -->
          <mat-table [dataSource]="dataSource" matSort matSortActive="start_date" matSortDirection="desc">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.id}} </mat-cell>
            </ng-container>

            <!-- Event Type Column -->
            <ng-container matColumnDef="event_type_string">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.event_type_string}} </mat-cell>
            </ng-container>

            <!-- Affected Count Column -->
            <ng-container matColumnDef="affected_count">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Affected </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.affected_count}} </mat-cell>
            </ng-container>

            <!-- Start Date Column -->
            <ng-container matColumnDef="start_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.start_date | date:'shortDate'}} </mat-cell>
            </ng-container>

            <!-- End Date Column -->
            <ng-container matColumnDef="end_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.end_date | date:'shortDate'}} </mat-cell>
            </ng-container>

            <!-- States Column -->
            <ng-container matColumnDef="administrativelevelones">
              <mat-header-cell *matHeaderCellDef mat-sort-header> States </mat-header-cell>
              <mat-cell *matCellDef="let event">
                <ul class="table-cell-list">
                  <li *ngFor="let administrativelevelone of event.administrativelevelones">{{administrativelevelone.name}}</li>
                </ul>
                <!-- <span *ngFor="let administrativelevelone of event.administrativelevelones">{{administrativelevelone.name}}
                  <span *ngIf="(event.administrativelevelones.indexOf(administrativelevelone)) < (event.administrativelevelones.length - 1)">, </span>
                </span> -->
              </mat-cell>
            </ng-container>

            <!-- Counties Column -->
            <ng-container matColumnDef="administrativeleveltwos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Counties </mat-header-cell>
              <mat-cell *matCellDef="let event">
                <ul class="table-cell-list">
                  <li *ngFor="let administrativeleveltwo of event.administrativeleveltwos">{{administrativeleveltwo.name}}</li>
                </ul>
                <!-- <span *ngFor="let administrativeleveltwo of event.administrativeleveltwos">{{administrativeleveltwo.name}}
                  <span *ngIf="(event.administrativeleveltwos.indexOf(administrativeleveltwo)) < (event.administrativeleveltwos.length - 1)">, </span>
                </span> -->
              </mat-cell>
            </ng-container>

            <!-- Species Column -->
            <ng-container matColumnDef="species">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Species </mat-header-cell>
              <mat-cell *matCellDef="let event">
                <ul class="table-cell-list">
                  <li *ngFor="let species of event.species">{{species.name}}</li>
                </ul>
                <!-- <span *ngFor="let species of event.species">{{species.name}}
                  <span *ngIf="(event.species.indexOf(species)) < (event.species.length - 1)">, </span>
                </span> -->
              </mat-cell>
            </ng-container>

            <!-- Event Diagnosis Column -->
            <ng-container matColumnDef="event_diagnoses">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Event Diagnosis </mat-header-cell>
              <mat-cell *matCellDef="let event">
                <ul class="table-cell-list">
                  <li *ngFor="let diagnosis of event.eventdiagnoses">{{diagnosis.diagnosis_string}}</li>
                </ul>
                <!-- <span *ngFor="let diagnosis of event.event_diagnoses">{{diagnosis.diagnosis_string}}
                  <span *ngIf="(event.event_diagnoses.indexOf(diagnosis)) < (event.event_diagnoses.length - 1)">, </span>
                </span> -->
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
            <mat-row *matRowDef="let event; columns: displayedColumns;" (click)="selectEvent(event)"></mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>


  </div>

</div>