<div id="homeContainer">

  <div class="controlsDiv">

    <div id="welcome-panel-div">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Welcome to WHISPers
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p id="welcome-text">
          This is the Wildlife Health Information Sharing Partnership event reporting system. It is a place to explore
          wildlife mortality data submitted by partners across North America and verified by trained biologists.
        </p>


        <p *ngIf="currentUser.role != undefined">
          <b>You are logged in as <span style="font-style: italic;">{{currentUser.first_name}}
              {{currentUser.last_name}}</span> ({{currentUser.username}})</b>
        </p>

        <!-- User Role -->
        <div *ngIf="currentUser.role === undefined" id="userRoleSelector">
          <h4>Looking to get started? Select the option that best describes you.</h4>
          <button mat-stroked-button matTooltip="Select this if you are a person interested in wildlife mortality data"
            (click)="register('public')">
            General User
          </button>
          <button class="" mat-stroked-button matTooltip="Select this if you are a current Natural Resource Management Professional"
            (click)="register('partner')">
            Natural Resource Management Professional
          </button>
        </div>


      </mat-expansion-panel>
    </div>

    <mat-expansion-panel expanded id="sidebarSearchTab">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Search</h3>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngIf="!currentDisplayQuery">
        <span>Please click Search to begin.</span>
      </div>

      <div *ngIf="currentDisplayQuery">

        <mat-list>

          <h3 mat-subheader>Current Search</h3>

          <mat-list-item *ngIf="(currentDisplayQuery.start_date !== null && currentDisplayQuery.start_date !== '') || (currentDisplayQuery.end_date !== null && currentDisplayQuery.end_date !== '')">
            <h4 mat-line>
              <strong>Date Range</strong>
            </h4>
            <p mat-line>
              <span *ngIf="currentDisplayQuery.start_date !== null || currentDisplayQuery.start_date !== ''">{{currentDisplayQuery.start_date | date:'mediumDate'}}</span>
              <span style="color: lightcoral" *ngIf="currentDisplayQuery.start_date == null || currentDisplayQuery.start_date == ''">[no event start date entered]</span>
              <span *ngIf="(currentDisplayQuery.start_date !== null) || (currentDisplayQuery.end_date !== null) || (currentDisplayQuery.start_date !== '') || (currentDisplayQuery.end_date !== '')">&nbsp;thru&nbsp;</span>
              <span *ngIf="currentDisplayQuery.end_date !== null || currentDisplayQuery.end_date !== ''">{{currentDisplayQuery.end_date | date:'mediumDate'}}</span>
              <span style="color: lightcoral" *ngIf="currentDisplayQuery.end_date == null || currentDisplayQuery.end_date == ''">[no event end date entered]</span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.affected_count !== null">
            <h4 mat-line>
              <strong>Number Affected</strong>
            </h4>
            <p mat-line>
              <span> {{ currentDisplayQuery.affected_count_operator === '__gte' ? '&ge;' :
                currentDisplayQuery.affected_count_operator === '__lte' ? '&le;' : '' }}</span>
              <span>{{currentDisplayQuery.affected_count}}</span>
            </p>
          </mat-list-item>

          <mat-list-item>
            <h4 mat-line>
              <strong>WHISPers Record Status</strong>
            </h4>
            <p mat-line>
              <span> {{ currentDisplayQuery.complete === true ? 'Complete Events Only' :
                currentDisplayQuery.complete === false ? 'Incomplete Events Only' : 'Complete and incomplete events' }}</span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.event_type && currentDisplayQuery.event_type.length > 0">
            <h4 mat-line>
              <strong>Event Type</strong>
            </h4>
            <p mat-line>
              <!-- <span>{{currentDisplayQuery.event_type}}</span> -->
              <span *ngFor="let event_type of currentDisplayQuery.event_type">{{event_type}}
                <span *ngIf="(currentDisplayQuery.event_type.indexOf(event_type)) < (currentDisplayQuery.event_type.length - 1)">or&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.diagnosis_type && currentDisplayQuery.diagnosis_type.length > 0">
            <h4 mat-line>
              <strong>Diagnosis Type</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let diagnosis_type of currentDisplayQuery.diagnosis_type">{{diagnosis_type}}
                <span *ngIf="(currentDisplayQuery.diagnosis_type.indexOf(diagnosis_type)) < (currentDisplayQuery.diagnosis_type.length - 1)">{{(currentDisplayQuery.diagnosis_type_includes_all)
                  ? "and" : "or"}}&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.diagnosis && currentDisplayQuery.diagnosis.length > 0">
            <h4 mat-line>
              <strong>Event Diagnosis</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let diagnosis of currentDisplayQuery.diagnosis">{{diagnosis}}
                <span *ngIf="(currentDisplayQuery.diagnosis.indexOf(diagnosis)) < (currentDisplayQuery.diagnosis.length - 1)">{{(currentDisplayQuery.diagnosis_includes_all)
                  ? "and" : "or"}}&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.species && currentDisplayQuery.species.length > 0">
            <h4 mat-line>
              <strong>Species</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let species of currentDisplayQuery.species">{{species}}
                <span *ngIf="(currentDisplayQuery.species.indexOf(species)) < (currentDisplayQuery.species.length - 1)">{{(currentDisplayQuery.species_includes_all)
                  ? "and" : "or"}}&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.administrative_level_one && currentDisplayQuery.administrative_level_one.length > 0">
            <h4 mat-line>
              <strong>State</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let adminLevelOne of currentDisplayQuery.administrative_level_one">{{adminLevelOne}}
                <span *ngIf="(currentDisplayQuery.administrative_level_one.indexOf(adminLevelOne)) < (currentDisplayQuery.administrative_level_one.length - 1)">{{(currentDisplayQuery.administrative_level_one_includes_all)
                  ? "and" : "or"}}&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

          <mat-list-item *ngIf="currentDisplayQuery.administrative_level_two && currentDisplayQuery.administrative_level_two.length > 0">
            <h4 mat-line>
              <strong>County</strong>
            </h4>
            <p mat-line>
              <span *ngFor="let adminLevelTwo of currentDisplayQuery.administrative_level_two">{{adminLevelTwo}}
                <span *ngIf="(currentDisplayQuery.administrative_level_two.indexOf(adminLevelTwo)) < (currentDisplayQuery.administrative_level_two.length - 1)">{{(currentDisplayQuery.administrative_level_two_includes_all)
                  ? "and" : "or"}}&nbsp;</span>
              </span>
            </p>
          </mat-list-item>

        </mat-list>
      </div>



      <!-- Save search & Search button -->
      <mat-action-row class="search-button-row">
        <button mat-button color="accent" (click)="saveSearch()" matTooltip="Save the currently displayed search to your user profile">
          <mat-icon>save</mat-icon> Save Search
        </button>

        <button mat-button color="accent" (click)="openSearchDialog()">
          <mat-icon class="material-icons">search</mat-icon> {{(currentDisplayQuery) ? "Search" : "Search"}}
        </button>

      </mat-action-row>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Popular Searches
      </mat-expansion-panel-header>
      <div *ngIf="!speciesLoading" class="suggested-searches">
        <div class="button-row" *ngFor="let search of parsedPopularSearches" (click)="implementSearch(search)">
          <button mat-button>
            <!-- Start Date -->
            <span class="search-param" *ngIf="search.start_date">
              <b>START DATE</b>
              <span class="value">{{search.start_date | date:'mediumDate'}}</span>
            </span>
            <!-- End Date -->
            <span class="search-param" *ngIf="search.end_date">
              <b>END DATE</b>
              <span class="value">{{search.end_date|date:'mediumDate'}}</span>
            </span>
            <!-- Affected Count -->
            <span *ngIf="search.affected_count" class="search-param">
              <b>AFFECTED COUNT</b>
              <span class="value">{{search.affected_count}}</span>
            </span>

            <!-- Event Type -->
            <span class="search-param" *ngIf="search.event_type">
              <b>EVENT TYPE</b>
              <div class="value-list">
                <span *ngFor="let eventType of search.event_type" class="value">
                  {{eventType | displayValue:'name':this.eventTypes}}
                  <span *ngIf="(search.event_type.indexOf(eventType)) < (search.event_type.length - 1)" class="value-list-or">
                    or
                  </span>
                </span>
              </div>
            </span>

            <!-- Diagnosis Type -->
            <span class="search-param" *ngIf="search.diagnosis_type">
              <b>DIAGNOSIS TYPE</b>
              <div class="value-list">
                <span *ngFor="let diagnosisType of search.diagnosis_type" class="value">
                  {{diagnosisType| displayValue:'name':this.diagnosisTypes}}
                  <span *ngIf="(search.diagnosis_type.indexOf(diagnosisType)) < (search.diagnosis_type.length - 1)"
                    class="value-list-or">
                    {{(search.diagnosis_type_includes_all) ? "and" : "or"}}
                  </span>
                </span>
              </div>
            </span>

            <!-- DIAGNOSIS -->
            <span class="search-param" *ngIf="search.diagnosis">
              <b>EVENT DIAGNOSIS</b>
              <div class="value-list">
                <span *ngFor="let diagnosis of search.diagnosis" class="value">
                  {{diagnosis | displayValue:'name':this.diagnoses}}
                  <span *ngIf="(search.diagnosis.indexOf(diagnosis)) < (search.diagnosis.length - 1)" class="value-list-or">
                    {{(search.diagnosis_includes_all) ? "and" : "or"}}
                  </span>
                </span>
              </div>
            </span>

            <!-- SPECIES -->
            <span class="search-param" *ngIf="search.species">
              <b>SPECIES</b>
              <div class="value-list">
                <span *ngFor="let species of search.species" class="value">
                  {{species | displayValue:'name':this.allSpecies}}
                  <span *ngIf="(search.species.indexOf(species)) < (search.species.length - 1)" class="value-list-or">
                    {{(search.species_includes_all) ? "and" : "or"}}
                  </span>
                </span>
              </div>
            </span>

            <!-- STATE -->
            <span class="search-param" *ngIf="search.administrative_level_one">
              <b>STATE</b>
              <div class="value-list">
                <span *ngFor="let adminLevel1 of search.administrative_level_one" class="value">
                  {{adminLevel1 | displayValue:'name':this.administrative_level_one}}
                  <span *ngIf="(search.administrative_level_one.indexOf(adminLevel1)) < (search.administrative_level_one.length - 1)"
                    class="value-list-or">
                    {{(search.administrative_level_one_includes_all) ? "and" : "or"}}
                  </span>
                </span>
              </div>
            </span>

            <!-- County -->
            <span class="search-param" *ngIf="search.administrative_level_two">
              <b>COUNTY</b>
              <div class="value-list">
                <span *ngFor="let adminLevel2 of search.administrative_level_two" class="value">
                  {{adminLevel2 | displayValue:'name':this.administrative_level_two}}
                  <span *ngIf="(search.administrative_level_two.indexOf(adminLevel2)) < (search.administrative_level_two.length - 1)"
                    class="value-list-or">
                    {{(search.administrative_level_two_includes_all) ? "and" : "or"}}\
                  </span>
                </span>
              </div>
            </span>

          </button><!-- END MAT BUTTON -->

        </div>


      </div>

    </mat-expansion-panel>

    <!-- <mat-expansion-panel id='mapTools'>
      <mat-expansion-panel-header>
        Map Tools and Explanation
      </mat-expansion-panel-header>
    </mat-expansion-panel> -->

    <mat-expansion-panel *ngIf="isloggedIn">
      <mat-expansion-panel-header>
        Your Saved Searches
      </mat-expansion-panel-header>
      <app-saved-searches></app-saved-searches>
    </mat-expansion-panel>
  </div>

  <div class="resultsDiv">
    <mat-expansion-panel expanded id="mapPanel">
      <mat-expansion-panel-header>
        <mat-panel-title id="resultsMapHeader">
          Search Results Map
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="data-loading-shade" *ngIf="resultsLoading"></div>

      <div id="map">

        <!-- Warning about map center -->
        <div id="mapLocationNote"><b>Note:</b> Map shows centroid of county where event occured</div>


        <div id="latLngScale" class="latLngScale">
          <span class="hover-content"> <b>Map scale </b></span>
          1:<span id="scale">{{mapScale}}</span> | <span class="hover-content"> <b>Zoom level </b></span> <span id="zoomLevel">
            {{zoomLevel}}</span><br>
          <span class="hover-content"><b>Latitude</b></span>
          <span id="latitude"> {{latitude}}</span> |
          <span class="hover-content"> <b>Longitude</b></span>
          <span id="longitude"> {{longitude}}</span>
          <span id="mapCenterLabel" class="hover-content"></span>
        </div>


        <mat-expansion-panel id="legend" class="legend legend-home">
          <mat-expansion-panel-header>
            <!-- <mat-icon matTooltip="Map shows centroid of county where event occured." _ngcontent-c5="" class="material-icons mat-icon" style="color: #e8c900; font-size: 18px; width: 100%;" role="img" aria-hidden="true">warning</mat-icon> -->
            <mat-panel-title>
              Legend
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="legend-panel-content">


            <label class="legend-label" style="margin-top: 0 !important; padding-top: 0 !important;">Event Type</label>
            <label class="legend-hint">Indicated by shape</label>

            <div class='legend-icon'>
              <div class='wmm-circle wmm-black wmm-icon-noicon wmm-icon-white wmm-size-20'></div>
              <label>Mortality/Morbidity</label>
            </div>
            <div class='legend-icon'>
              <div class='wmm-diamond wmm-black wmm-icon-noicon wmm-icon-white wmm-size-15'></div>
              <label>Surveillance</label>
            </div>

            <label class="legend-label">Diagnosis Type</label>
            <label class="legend-hint">Indicated by color</label>

            <div class='legend-icon'>
              <div class='wmm-square wmm-green wmm-icon-noicon wmm-icon-white wmm-size-20 wmm-borderless'></div>
              <label>Bacteria</label>
            </div>

            <div class='legend-icon'>
              <div class='wmm-square wmm-blue wmm-icon-noicon wmm-icon-white wmm-size-20 wmm-borderless'></div>
              <label>Fungus</label>
            </div>

            <div class='legend-icon'>
              <div class='wmm-square wmm-red wmm-icon-noicon wmm-icon-white wmm-size-20 wmm-borderless'></div>
              <label>Nut/Met/Dev</label>
            </div>

            <div class='legend-icon'>
              <div class='wmm-square wmm-orange wmm-icon-noicon wmm-icon-white wmm-size-20 wmm-borderless'></div>
              <label>Other</label>
            </div>

            <div class='legend-icon'>
              <div class='wmm-square wmm-yellow wmm-icon-noicon wmm-icon-white wmm-size-20 wmm-borderless'></div>
              <label>Parasite</label>
            </div>

            <div class='legend-icon'>
              <div class='wmm-square wmm-purple wmm-icon-noicon wmm-icon-white wmm-size-20 wmm-borderless'></div>
              <label>Toxin</label>
            </div>

            <div class='legend-icon'>
              <div class='wmm-square wmm-mutedpink wmm-icon-noicon wmm-icon-white wmm-size-20 wmm-borderless'></div>
              <label>Trauma</label>
            </div>

            <div class='legend-icon'>
              <div class='wmm-square wmm-sky wmm-icon-noicon wmm-icon-white wmm-size-20 wmm-borderless'></div>
              <label>Virus</label>
            </div>

            <div class='legend-icon'>
              <div class='wmm-square wmm-mutedblue wmm-icon-noicon wmm-icon-white wmm-size-20 wmm-borderless'></div>
              <label style="font-style: italic;">Multiple</label>
            </div>


            <label class="legend-hint">Number indicates event count</label>
            <label class="legend-hint">White center indicates incomplete event</label>


            <div id="flywaysLegend" *ngIf="flywaysVisible">
              <label class="legend-label">Flyways</label>

              <div class='legend-icon'>
                <div class='wmm-square wmm-blue wmm-icon-noicon wmm-icon-white wmm-size-20 flyway-blue'></div>
                <label>Atlantic Flyways</label>
              </div>

              <div class='legend-icon'>
                <div class='wmm-square wmm-yellow wmm-icon-noicon wmm-icon-white wmm-size-20 flyway-yellow'></div>
                <label>Central Flyway</label>
              </div>
              <div class='legend-icon'>
                <div class='wmm-square wmm-green wmm-icon-noicon wmm-icon-white wmm-size-20 flyway-green'></div>
                <label>Mississippi Flyway</label>
              </div>
              <div class='legend-icon'>
                <div class='wmm-square wmm-red wmm-icon-noicon wmm-icon-white wmm-size-20 flyway-red'></div>
                <label>Pacific Flyway</label>
              </div>
            </div>

            <div id="watershedsLegend" *ngIf="watershedsVisible">
              <label class="legend-label">Watersheds</label>

              <div class='legend-icon'>
                <div class='wmm-square wmm-white wmm-icon-circle wmm-icon-white wmm-size-20 huc-icon'></div>
                <label>HUC 2</label>
              </div>

            </div>

          </div>

        </mat-expansion-panel>

      </div>
    </mat-expansion-panel>

    <mat-card>
      <mat-card-title>

        <div class="results-card-title-row">
          <span class="results-card-title">Search Results</span>

          <span class="spacer"></span>

          <span class="results-button-row">
            <button mat-button color="accent" (click)="exportEventSummaries()">
              <mat-icon>
                unarchive
              </mat-icon> Export Data
            </button>
            <button mat-button color="accent" (click)="openMetadataLink()">
              <mat-icon>list</mat-icon> Metadata
            </button>
          </span>

        </div>
      </mat-card-title>
      <mat-card-content>


        <div *ngIf="dataSource" class="results-table-div">

          <div class="data-loading-shade" *ngIf="resultsLoading">
            <mat-spinner *ngIf="resultsLoading"></mat-spinner>
          </div>
          <!-- <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field> -->
          <mat-table [dataSource]="dataSource" matSort matSortActive="start_date" matSortDirection="desc">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Event ID</mat-header-cell>
              <mat-cell *matCellDef="let event">{{event.id}}</mat-cell>
            </ng-container>

            <!-- Event Type Column -->
            <ng-container matColumnDef="event_type_string">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Event Type</mat-header-cell>
              <mat-cell *matCellDef="let event">{{event.event_type_string}}</mat-cell>
            </ng-container>

            <!-- Affected Count Column -->
            <ng-container matColumnDef="affected_count">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Number Affected</mat-header-cell>
              <mat-cell *matCellDef="let event">{{event.affected_count}}</mat-cell>
            </ng-container>

            <!-- Start Date Column -->
            <ng-container matColumnDef="start_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Event Start Date</mat-header-cell>
              <mat-cell *matCellDef="let event">{{event.start_date | date:'shortDate'}}</mat-cell>
            </ng-container>

            <!-- End Date Column -->
            <ng-container matColumnDef="end_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Event End Date</mat-header-cell>
              <mat-cell *matCellDef="let event">{{event.end_date | date:'shortDate'}}</mat-cell>
            </ng-container>

            <!-- Location Column -->
            <ng-container matColumnDef="locations">
              <mat-header-cell *matHeaderCellDef matTooltip="Displayed as County (or equivalent), State (or equivalent), Country - where values are available">Location</mat-header-cell>
              <mat-cell *matCellDef="let event">
                <ul class="table-cell-list">
                  <li *ngFor="let administrativeleveltwo of event.administrativeleveltwos">
                    <span>{{administrativeleveltwo.name}}</span>
                    <span *ngIf="administrativeleveltwo.administrative_level_one_string !== null && administrativeleveltwo.administrative_level_one_string !== ''">,&nbsp;</span>
                    <span>{{administrativeleveltwo.administrative_level_one_string}}</span>
                    <span *ngIf="administrativeleveltwo.country_string !== null && administrativeleveltwo.country_string !== ''">,&nbsp;</span>
                    <span>{{administrativeleveltwo.country_string}}
                    </span>

                  </li>
                </ul>
                <!-- <span *ngFor="let administrativelevelone of event.administrativelevelones">{{administrativelevelone.name}}
                  <span *ngIf="(event.administrativelevelones.indexOf(administrativelevelone)) < (event.administrativelevelones.length - 1)">, </span>
                </span> -->
              </mat-cell>
            </ng-container>

            <!-- States Column -->
            <!-- <ng-container matColumnDef="administrativelevelones">
              <mat-header-cell *matHeaderCellDef>State (or equivalent)</mat-header-cell>
              <mat-cell *matCellDef="let event">
                <ul class="table-cell-list">
                  <li *ngFor="let administrativelevelone of event.administrativelevelones">{{administrativelevelone.name}}</li>
                </ul>
              </mat-cell>
            </ng-container> -->

            <!-- Counties Column -->
            <!-- <ng-container matColumnDef="administrativeleveltwos">
              <mat-header-cell *matHeaderCellDef>County (or equivalent)</mat-header-cell>
              <mat-cell *matCellDef="let event">
                <ul class="table-cell-list">
                  <li *ngFor="let administrativeleveltwo of event.administrativeleveltwos">{{administrativeleveltwo.name}}</li>
                </ul>
              </mat-cell>
            </ng-container> -->

            <!-- Species Column -->
            <ng-container matColumnDef="species">
              <mat-header-cell *matHeaderCellDef>Species</mat-header-cell>
              <mat-cell *matCellDef="let event">
                <ul class="table-cell-list">
                  <li *ngFor="let species of event.species">{{species.name}}</li>
                </ul>
                <!-- <span *ngFor="let species of event.species">{{species.name}}
                  <span *ngIf="(event.species.indexOf(species)) < (event.species.length - 1)">, </span>
                </span> -->
              </mat-cell>
            </ng-container>

            <!-- Event Diagnosis Column -->
            <ng-container matColumnDef="eventdiagnoses">
              <mat-header-cell *matHeaderCellDef>Event Diagnosis</mat-header-cell>
              <mat-cell *matCellDef="let event">
                <ul class="table-cell-list">
                  <li *ngFor="let diagnosis of event.eventdiagnoses">{{diagnosis.diagnosis_string}}</li>
                </ul>
                <!-- <span *ngFor="let diagnosis of event.eventdiagnoses">{{diagnosis.diagnosis_string}}
                  <span *ngIf="(event.eventdiagnoses.indexOf(diagnosis)) < (event.eventdiagnoses.length - 1)">, </span>
                </span> -->
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
            <mat-row *matRowDef="let event; columns: displayedColumns;" (click)="selectEvent(event)"></mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>


  </div>

</div>