@import url("https://rawgit.com/USGS-WiM/marker-creator/master/stylesheets/markers.css");
@import "../app.variables.scss";


// Main body wrapper
#homeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $white;
    box-sizing: border-box;

    // Left sidebar
    .controlsDiv {
        flex-grow: 1;
        max-width: 25%;
        box-sizing: border-box;
        border-right: 1px solid $border-color;


        // Search and save search
        .search-button-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px;
            justify-content: center;

            button{
                min-width: 50%;
                margin: 0 auto;
            }
        }
    }

    // Right side
    .resultsDiv {
        flex-grow: 3;
        width: auto;
        min-width: 550px;

        #resultsMapHeader{
            justify-content: flex-end;
        }

        // Table
        .mat-table{

            .mat-header-row {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;

                .mat-header-cell{
                    box-sizing: border-box;
                    padding: 3px;

                    &:first-child{
                        padding-left: 15px;
                    }
                    &:last-child{
                        padding-right: 15px;
                    }
                }
            }

            .mat-row{

                .mat-cell{
                    font-size: 12px;
                    box-sizing: border-box;
                    padding: 3px;

                    &:first-child{
                        padding-left: 15px;
                    }
                    &:last-child{
                        padding-right: 15px;
                    }

                    ul{
                        padding-left: 15px;

                        li{
                            line-height: 12px;
                            padding: 3px 0;
                            word-break: break-word;
                        }
                    }
                }
            }
        }
    }
    
}




@media screen and (max-width:875px) {
    #homeContainer {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .resultsDiv,
    .controlsDiv {
        min-width: 100%;
    }
}



.results-card-title-row {
    display: flex;
    flex-direction: row;
}

.results-card-title {
    float: left;
}

.results-button-row {
    float: right;
}

#map {
    height: 400px;
}

#mapPanel .mat-expansion-panel-body {
    padding: 0px;
}

mat-table>.mat-row:hover {
    background-color: #E8F5E9;
}

.results-table-div {
    background-color: white;
    min-width: 500px;
}

.text-bold {
    font-style: bold;
}

.text-x-large {
    font-size: x-large;
}

.spacer {
    flex-grow: 1;
}

::ng-deep #mapPanel .mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0px 0px 0px 0px;
}

.table-cell-list {
    // list-style: none;
}

.spinner-container {
    
}

.spinner-container mat-spinner {
    margin: 40px auto 0 auto;
}

#iconHolder {
    margin-left: 15px;
    padding-top: 10px;
}

#expLabel {
    margin-left: 35px;
    padding-top: 10px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.leaflet-popup-content-wrapper{
    background-color: gray;
    opacity: 0.9;
}

.data-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }