.horizontal-form-container {
    display: flex;
    flex-direction: row;
}

.vertical-form-container {
    display: flex;
    flex-direction: column;
    // Add additional room at bottom to show Forgot Password button
    padding-bottom: 2em;
    overflow: hidden;
}
.form-control {
    width: 18em;
}
