<div>
  <!-- Notifications table-->
  <mat-card>
    <mat-card-title>
      Notifications
    </mat-card-title>
    <mat-card-title>

      <div class="results-card-title-row">
        <span class="results-button-row">
          <button mat-button color="accent" [disabled]="selection.selected.length === 0"
            (click)="updateNotifications(selection.selected, 'set_read')">
            <mat-icon>
              check_circle_outline
            </mat-icon> Mark as Read
          </button>
          <button mat-button color="accent" [disabled]="selection.selected.length === 0"
            (click)="updateNotifications(selection.selected, 'set_unread')">
            <mat-icon>
              markunread
            </mat-icon> Mark as Unread
          </button>
          <button mat-button color="warn" [disabled]="selection.selected.length === 0"
            (click)="openNotificationDeleteConfirm(selection.selected)">
            <mat-icon>delete</mat-icon> Delete
          </button>
        </span>

      </div>
    </mat-card-title>
    <div class=" results-table-div">

      <mat-table [dataSource]="notificationsDataSource" matSort matSortActive="read" matSortDirection="desc"
        *ngIf="notificationsDataSource.data.length > 0">

        <!-- Selection column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Go-to Column -->
        <ng-container matColumnDef="go">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Event </mat-header-cell>
          <mat-cell *matCellDef="let notification">
            <button mat-stroked-button color="primary" (click)="$event.stopPropagation()"
              matTooltip="Click to go to event details page" *ngIf="notification.event !== null"
              routerLink="../event/{{notification.event}}">{{notification.event}}</button>
          </mat-cell>
        </ng-container>

        <!-- Message Column -->
        <ng-container matColumnDef="read">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
          <mat-cell *matCellDef="let notification"> {{notification.subject}}
          </mat-cell>
        </ng-container>

        <!-- Source -->
        <ng-container matColumnDef="created_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
          <mat-cell *matCellDef="let notification"> {{notification.created_date | date:'mediumDate'}} </mat-cell>
        </ng-container>

        <!-- Date -->
        <ng-container matColumnDef="source">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
          <mat-cell *matCellDef="let notification"> {{notification.source}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="notificationDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let notification; columns: notificationDisplayedColumns;"
          (click)="openNotification(notification)" matTooltip="Click to view full notification text"
          [ngClass]="{'read' :notification.read === true, 'unread':notification.read === false}"></mat-row>
      </mat-table>

      <div *ngIf="notificationsDataSource.data.length === 0 && notificationsLoading === false">
        <h3>No notifications</h3>
      </div>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
    </div>
  </mat-card>
  <!-- end Notifications table-->

  <!-- <mat-card> -->
  <!-- <mat-card-title>
      Notification Preferences
    </mat-card-title> -->
  <!-- <mat-accordion> -->
  <div class="expansion-panel-wrapper">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Notification Preferences
        </mat-panel-title>
        <mat-panel-description>
          Manage Standard Notifications, Add Custom Notification Cues or edit existing ones
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!--Standard notifications settings -->
      <mat-card>
        <mat-card-title>
          Standard Notifications
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="standardNotificationSettingsForm" autocomplete="off">
            <div class="results-table-div">
              <div class="mat-table">
                <div class="mat-header-row">
                  <div class="mat-header-cell"></div>
                  <div class="mat-header-cell" style="font-weight: bold;">
                    <span class="row align-items-center">
                      <span class="headerText" class="row align-items-center">
                        <mat-icon>notifications</mat-icon>&nbsp;Receive when event is
                      </span>
                    </span>
                  </div>
                  <div class="mat-header-cell" id="headerWithIcon" style="font-weight: bold;">
                    <span class="row align-items-center">
                      <mat-checkbox (change)="emailAllToggle('standard')" [checked]="emailAllStandard">
                      </mat-checkbox>
                      <span class="row align-items-center">&nbsp;&nbsp;<mat-icon class="icon">
                          {{emailAllStandard === true ? 'email' :
                          emailAllStandard === false ?  'email' :  'email'}}
                        </mat-icon>
                        &nbsp;{{emailAllStandard === true ? 'Email on for all' :
                        emailAllStandard === false ?  'Click to recieve emails for all' :  'Click to recieve emails for all'}}
                      </span>
                    </span>
                  </div>
                </div>

                <div class="mat-row">
                  <div class="mat-header-cell">Your Events</div>
                  <div class="mat-cell">
                    <mat-checkbox formControlName="yourEvents_new">new</mat-checkbox> &nbsp; &nbsp;
                    <mat-checkbox formControlName="yourEvents_updated">updated</mat-checkbox>
                  </div>
                  <div class="mat-cell">
                    <span class="row align-items-center">
                      <mat-checkbox formControlName="yourEvents_email"></mat-checkbox>
                      <span class="row align-items-center">&nbsp;&nbsp;<mat-icon class="icon">
                          {{standardNotificationSettingsForm.get('yourEvents_email').value === true ? 'email' :
                        standardNotificationSettingsForm.get('yourEvents_email').value === false ?  'unsubscribe' :  'unsubscribe'}}
                        </mat-icon>
                        &nbsp;{{standardNotificationSettingsForm.get('yourEvents_email').value === true ? ' Email ' :
                        standardNotificationSettingsForm.get('yourEvents_email').value === false ?  'Do not email' :  'Do not email '}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="mat-row">
                  <div class="mat-header-cell">Your Organization Events</div>
                  <div class="mat-cell">
                    <mat-checkbox formControlName="orgEvents_new">new</mat-checkbox> &nbsp; &nbsp;
                    <mat-checkbox formControlName="orgEvents_updated">updated</mat-checkbox>
                  </div>
                  <div class="mat-cell">
                    <span class="row align-items-center">
                      <mat-checkbox formControlName="orgEvents_email"></mat-checkbox>
                      <span class="row align-items-center">&nbsp;&nbsp;<mat-icon class="icon">
                          {{standardNotificationSettingsForm.get('orgEvents_email').value === true ? 'email' :
                        standardNotificationSettingsForm.get('orgEvents_email').value === false ?  'unsubscribe' :  'unsubscribe'}}
                        </mat-icon>
                        &nbsp;{{standardNotificationSettingsForm.get('orgEvents_email').value === true ? ' Email ' :
                        standardNotificationSettingsForm.get('orgEvents_email').value === false ?  'Do not email' :  'Do not email '}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="mat-row">
                  <div class="mat-header-cell">Your Collaboration Events</div>
                  <div class="mat-cell">
                    <mat-checkbox formControlName="collabEvents_new">new</mat-checkbox> &nbsp; &nbsp;
                    <mat-checkbox formControlName="collabEvents_updated">updated</mat-checkbox>
                  </div>
                  <div class="mat-cell">
                    <span class="row align-items-center">
                      <mat-checkbox formControlName="collabEvents_email"></mat-checkbox>
                      <span class="row align-items-center">&nbsp;&nbsp;<mat-icon class="icon">
                          {{standardNotificationSettingsForm.get('collabEvents_email').value === true ? 'email' :
                        standardNotificationSettingsForm.get('collabEvents_email').value === false ?  'unsubscribe' :  'unsubscribe'}}
                        </mat-icon>
                        &nbsp;{{standardNotificationSettingsForm.get('collabEvents_email').value === true ? ' Email ' :
                        standardNotificationSettingsForm.get('collabEvents_email').value === false ?  'Do not email' :  'Do not email '}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="mat-row">
                  <div class="mat-header-cell">All Events*</div>
                  <div class="mat-cell">
                    <mat-checkbox formControlName="allEvents_new">new</mat-checkbox> &nbsp; &nbsp;
                    <mat-checkbox formControlName="allEvents_updated">updated</mat-checkbox>
                  </div>
                  <div class="mat-cell">
                    <span class="row align-items-center">
                      <mat-checkbox formControlName="allEvents_email"></mat-checkbox>
                      <span class="row align-items-center">&nbsp;&nbsp;<mat-icon class="icon">
                          {{standardNotificationSettingsForm.get('allEvents_email').value === true ? 'email' :
                        standardNotificationSettingsForm.get('allEvents_email').value === false ?  'unsubscribe' :  'unsubscribe'}}
                        </mat-icon>
                        &nbsp;{{standardNotificationSettingsForm.get('allEvents_email').value === true ? ' Email ' :
                        standardNotificationSettingsForm.get('allEvents_email').value === false ?  'Do not email' :  'Do not email '}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="warning">
                <p>* Beware that selecting this option will create notifications for all events that you have permission
                  to view,
                  regardless of ownership,
                  diagnosis, species, location, or any other detail. Consider a Custom Notification (below) to specify
                  events
                  pertaining to your specific interest.</p>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <!--end Standard notifications settings -->

    
      <mat-divider style="margin: 25px auto;" [inset]="true"></mat-divider>

      <span class="text-large text-red text-bold"><mat-icon>announcement</mat-icon>&nbsp;Custom Notification Cues is under development and not yet fully functional.</span>

      <!--Custom notifications settings-->
      <mat-card>
        <mat-card-title>
          Custom Notification Cues
          <button mat-button color="accent" (click)="newCustomNotification()">
            <mat-icon>add_alert</mat-icon>Add New Custom Notification
          </button>
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="customNotificationSettingsForm" class="event-submission-locations" autocomplete="off">

            <div class="results-table-div">
              <div class="mat-table">
                <!--Begin header row-->
                <div class="mat-header-row">

                  <div class="mat-header-cell" style="font-weight: bold;">Cue</div>
                  <div class="mat-header-cell" style="font-weight: bold;">
                    <span class="row align-items-center">
                      <span class="headerText" class="row align-items-center">
                        <mat-icon>notifications</mat-icon>&nbsp;Receive when event matching cue is
                      </span>
                    </span>
                  </div>
                  <div class="mat-header-cell" id="headerWithIcon" style="font-weight: bold;">
                    <span class="row align-items-center">
                      <mat-checkbox (change)="emailAllToggle('custom')" [checked]="emailAllCustom">
                      </mat-checkbox>
                      <span class="row align-items-center">&nbsp;&nbsp;<mat-icon class="icon">
                          {{emailAllCustom === true ? 'email' :
                        emailAllCustom=== false ?  'email' :  'email'}}
                        </mat-icon>
                        &nbsp;{{emailAllCustom === true ? 'Email on for all' :
                      emailAllCustom === false ?  'Click to recieve emails for all' :  'Click to recieve emails for all'}}
                      </span>
                    </span>
                  </div>
                  <div class="mat-header-cell" style="font-weight: bold;"><span class="headerText">Delete Cue</span>
                  </div>

                </div>
                <!--End header row-->

                <!-- Begin form array and table body-->

                <div formArrayName="custom_cues">

                  <!-- <div class="mat-row" *ngFor="let cue of dummy_custom_cues"> -->
                  <div class="mat-row" *ngFor="let cue of getCustomCues(customNotificationSettingsForm); let customCueIndex = index">
                    <div class="mat-header-cell">{{cue.cue_string}}</div>
                    <div class="mat-cell">
                      <mat-checkbox>new</mat-checkbox> &nbsp; &nbsp; <mat-checkbox>updated</mat-checkbox>
                    </div>
                    <div class="mat-cell">
                      <span class="row align-items-center">
                        <mat-checkbox></mat-checkbox>
                        <!-- <span class="row align-items-center">&nbsp;&nbsp;<mat-icon class="icon">
                        {{standardNotificationSettingsForm.get('collabEvents_email').value === true ? 'email' :
                      standardNotificationSettingsForm.get('collabEvents_email').value === false ?  'unsubscribe' :  'unsubscribe'}}
                      </mat-icon>
                      &nbsp;{{standardNotificationSettingsForm.get('collabEvents_email').value === true ? ' Email ' :
                      standardNotificationSettingsForm.get('collabEvents_email').value === false ?  'Do not email' :  'Do not email '}}
                    </span> -->
                      </span>
                    </div>
                    <div class="mat-cell">
                      <mat-icon class="icon" color="warn" (click)="deleteWarning(cue)">delete</mat-icon>
                    </div>
                  </div>
                </div>
                <!-- End form array and table body-->

              </div>
              <div class="warning">
                <p>Note that deleting a Cue only deletes the notification for you - it does not delete the event, a
                  notification for another user, or any
                  other data.</p>
              </div>
            </div>

          </form>
        </mat-card-content>
      </mat-card>
      <!--end Custom notifications settings-->

    </mat-expansion-panel>
  </div>
  <!-- </mat-accordion> -->
  <!-- </mat-card> -->

</div>