.mat-table {
    display: block;
    font-family: Tahoma, Verdana;
  }
  
  .mat-row,
  .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    min-height: 48px;
    padding: 0 24px;
  }
  
  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }

  .text-small {
    font-size: small;
  }
  
  .text-italic {
    font-style: italic;
  }