<div>
    <mat-card>
      <mat-card-title>
          Owned and Collaborating Events Notifications
      </mat-card-title>
      <mat-card-content>
        <div class="results-table-div">
            <div class="mat-table">
                <div class="mat-header-row">
                  <div class="mat-header-cell"></div>
                  <div class="mat-header-cell" style="font-weight: bold;"><mat-icon class="icon">notification_important</mat-icon><span class="headerText">Notify me for qualifying events that are...</span></div>
                  <div class="mat-header-cell" id="headerWithIcon" style="font-weight: bold;"><mat-icon class="icon">email</mat-icon><span class="headerText"> Send notification to my email address</span></div>
                </div>
                <div class="mat-row">
                    <div class="mat-header-cell">Your Events</div>
                    <div class="mat-cell">
                      <mat-checkbox>new</mat-checkbox> &nbsp; &nbsp; <mat-checkbox>updated</mat-checkbox>
                    </div>
                    <div class="mat-cell"><mat-slide-toggle><span class="text-small text-italic">{{toggle1 === true ? ' (on) ' :
                        toggle1 === false ? ' (off) ' : ' (off) ' }}</span></mat-slide-toggle></div>
                </div>
                <div class="mat-row">
                  <div class="mat-header-cell">Your Organization's Events</div>
                  <div class="mat-cell">
                      <mat-checkbox>new</mat-checkbox> &nbsp; &nbsp; <mat-checkbox>updated</mat-checkbox>
                    </div>
                  <div class="mat-cell"><mat-slide-toggle><span class="text-small text-italic">{{toggle2 === true ? ' (on) ' :
                      toggle1 === false ? ' (off) ' : ' (off) ' }}</span></mat-slide-toggle></div>
                </div>
                <div class="mat-row">
                  <div class="mat-header-cell">Events for which you are a Collaborator</div>
                  <div class="mat-cell">
                      <mat-checkbox>new</mat-checkbox> &nbsp; &nbsp; <mat-checkbox>updated</mat-checkbox>
                    </div>
                  <div class="mat-cell"><mat-slide-toggle><span class="text-small text-italic">{{toggle3 === true ? ' (on) ' :
                      toggle1 === false ? ' (off) ' : ' (off) ' }}</span></mat-slide-toggle></div>
                </div>
              </div>
        </div>

      </mat-card-content>
    </mat-card>
    <mat-divider style="margin: 25px auto;" [inset]="true"></mat-divider>
    <mat-card>
        <mat-card-title>
            Custom Notifications
            <button mat-button color="accent" (click)="newCustomNotification()"><mat-icon>add_alert</mat-icon>Add New Custom Notification</button>
        </mat-card-title>
        <mat-card-content>
          <div class="results-table-div">
              <div class="mat-table">
                  <div class="mat-header-row">
                    <div class="mat-header-cell" style="font-weight: bold;">Trigger</div>
                    <div class="mat-header-cell" style="font-weight: bold;"><mat-icon class="icon">notification_important</mat-icon><span class="headerText">Notify me for qualifying events that are...</span></div>
                    <div class="mat-header-cell" id="headerWithIcon" style="font-weight: bold;"><mat-icon class="icon">email</mat-icon><span class="headerText"> Send notification to my email address</span></div>
                  </div>
                  <div class="mat-row" *ngFor="let trigger of test_data">
                      <div class="mat-header-cell">{{trigger.name}}</div>
                      <div class="mat-cell">
                        <mat-checkbox>new</mat-checkbox> &nbsp; &nbsp; <mat-checkbox>updated</mat-checkbox>
                      </div>
                      <div class="mat-cell"><mat-slide-toggle><span class="text-small text-italic">{{toggle1 === true ? ' (on) ' :
                          toggle1 === false ? ' (off) ' : ' (off) ' }}</span></mat-slide-toggle></div>
                  </div>
                </div>
          </div>
  
        </mat-card-content>
      </mat-card>
</div>